- title t('.currency_course')

%p
  %strong= t('.currency')
  = @currency_course.currency
%p
  %strong= t('.course')
  = @currency_course.course

%p
  = link_to t('edit'), edit_currency_course_path(@currency_course)
  |
  = link_to t('destroy'), @currency_course, :confirm => t('are_you_sure'), :method => :delete
  |
  = link_to t('view_all'), currency_courses_path
