- title t('.catalogs')

%table
  %tr
    %th= t('.name')
  - for catalog in @catalogs
    %tr
      %td= catalog.name
      %td= link_to t('show'), catalog
      %td= link_to t('edit'), edit_catalog_path(catalog)
      %td= link_to t('destroy'), catalog, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.new_catalog'), new_catalog_path
