- title "#{@catalog.name}"

%table
  %thead
    %tr
      - for item_field in @catalog.item_fields
        %th= item_field.name
      %th
      %th
  %tbody
    - for item in @catalog.items
      %tr
        - for note in item.notes
          %td= note.value
        %td= link_to t('edit'), edit_catalog_item_path(@catalog,item)
        %td= link_to t('destroy'), catalog_item_path(@catalog,item), :confirm => t('are_you_sure'), :method => :delete


%p
  = link_to t('.add_columns'), new_catalog_item_field_path(@catalog)
  |
  = link_to t('.add_values'), new_catalog_item_path(@catalog)
  |
  = link_to t('.view_all'), catalogs_path

