- title t('.title')

%ul
  %li= link_to t('.company'), dashboard_edit_company_path
  %li= link_to t('.users'), dashboard_users_path

  %li= link_to t('.operators'), operators_path
  %li= link_to t('.dropdown_values'), dashboard_dropdown_values_path

  %li= link_to t('.tourists'), tourists_path
  %li= link_to t('.clients'), clients_path

  %li= link_to t('.addresses'), addresses_path
  %li= link_to t('.catalogs'), catalogs_path

  %li= link_to 'Перезагрузить локальные данные', "javascript: Tourism.reset_local_data();"
