<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>columbis.ru</Author>
    <LastAuthor>columbis.ru</LastAuthor>
    <Version>12.00</Version>
  </DocumentProperties>
  <% styles = excel_styles(@managers) %>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:CharSet="204" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#BDE0FA" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="date">
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-gray_back">
      <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-departed">
      <Interior ss:Color="#E5F5FE" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-hot">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-soon">
      <Interior ss:Color="#FF8888" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-nothing_done">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-all_done">
      <Interior ss:Color="#F5F5F5" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-docs_got">
      <Interior ss:Color="#FF8888" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-docs_sent">
      <Interior ss:Color="#21D00C" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-visa_approved">
      <Interior ss:Color="#96B1F0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-red_back">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-blue_back">
      <Interior ss:Color="#F5F5F5" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-green_back">
      <Interior ss:Color="#21D00C" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-orange_back">
      <Interior ss:Color="#FF8888" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="companies-dates-gray_back">
      <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-red_back">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-departed">
      <Interior ss:Color="#E5F5FE" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-hot">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-soon">
      <Interior ss:Color="#FF8888" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-nothing_done">
      <Interior ss:Color="#ED2222" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-all_done">
      <Interior ss:Color="#F5F5F5" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-docs_got">
      <Interior ss:Color="#FF8888" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-docs_sent">
      <Interior ss:Color="#21D00C" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <Style ss:ID="companies-dates-visa_approved">
      <Interior ss:Color="#96B1F0" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Long Date"/>
    </Style>
    <% @managers.each do |user| %>
      <% if user.try(:color) %>
    <Style ss:ID="users-<%= user.id.to_s %>">
      <Interior ss:Color="<%= user.color %>" ss:Pattern="Solid"/>
    </Style>
      <% end %>
    <% end %>
  </Styles>
  <Worksheet ss:Name="Заявки">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('claims.index.num') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.reservation_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.tourist_stat') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.office') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.manager') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.full_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.phone_number') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.arrival_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.departure_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.to') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.from') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.visa') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.term') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_confirmation') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.price') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.calculation') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.advance') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.debt') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_price') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_payment_term') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_paid') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_debt') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.advance') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_paid') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.operator_paid_prim') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= 'Нац-ка' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= '%' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= 'Нац-ка упр.' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= '%' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= '% премии' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= 'Премия' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.docs') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.memo') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.check_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.form.early_reservation') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.claim.excluded_from_profit') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.claim.canceled') %></Data></Cell>
        <Cell><Data ss:Type="String">Закрыта</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.index.active') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.tour_price.tour_price') %></Data></Cell>
        <Cell><Data ss:Type="String">Страховка</Data></Cell>
        <Cell><Data ss:Type="String">Дополнительная страховка</Data></Cell>
        <Cell><Data ss:Type="String">Скидка</Data></Cell>
        <Cell><Data ss:Type="String">Цена визы</Data></Cell>
        <Cell><Data ss:Type="String">Топливный сбор</Data></Cell>
        <Cell><Data ss:Type="String">Дополнительные услуги</Data></Cell>
        <Cell><Data ss:Type="String">Оператор валюта</Data></Cell>
        <Cell><Data ss:Type="String">Цена тура валюта</Data></Cell>
        <Cell><Data ss:Type="String">Страховка валюта</Data></Cell>
        <Cell><Data ss:Type="String">Дополнительная страховка валюта</Data></Cell>
        <Cell><Data ss:Type="String">Виза валюта</Data></Cell>
        <Cell><Data ss:Type="String">Топливный сбор валюта</Data></Cell>
        <Cell><Data ss:Type="String">Дополнительные услуги валюта</Data></Cell>
        <Cell><Data ss:Type="String">Курс USD</Data></Cell>
        <Cell><Data ss:Type="String">Курс EUR</Data></Cell>

      </Row>
    <% @totals.each do |claim| %>
      <%= excel_element "Row", "companies-gray_back", styles, claim.canceled? %>
      <% row_date_style = claim.canceled? ? "companies-dates-gray_back" : "date" %>
      <% departure_date_style = claim.canceled? ? "companies-dates-gray_back" : "companies-dates-#{color_for_departure_date_call(claim)}" %>
        <Cell><Data ss:Type="Number"><%= claim.num %></Data></Cell>
        <Cell ss:StyleID="<%= row_date_style %>"><%= excel_date claim.reservation_date %></Cell>
        <Cell><Data ss:Type="String"><%= claim.tourist_stat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.office.name %></Data></Cell>
        <%= excel_element "Cell", "users-#{claim.user.id}", styles %>
          <Data ss:Type="String"><%= claim.user.login %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourists_list(claim) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.applicant.try(:phone_number) %></Data></Cell>
        <% if claim.canceled? %>
        <Cell ss:StyleID="companies-dates-gray_back">
        <% else %>
        <%= excel_element "Cell", "companies-dates-#{color_for_flight(claim)}", styles %>
        <% end %>
          <%= excel_date claim.arrival_date %></Cell>
        <% if claim.canceled? %>
          <Cell ss:StyleID="companies-dates-gray_back">
        <% else %>
          <Cell ss:StyleID="<%= color_for_departure_date_call(claim).to_s != '' ? "companies-dates-#{color_for_departure_date_call(claim)}" : "date" %>">
        <% end %>
          <%= excel_date claim.departure_date %></Cell>
        <Cell><Data ss:Type="String"><%= claim.country.try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.city.try(:name) %></Data></Cell>
        <%= excel_element "Cell", "companies-#{color_for_visa(claim)}", styles %>
          <Data ss:Type="String"><%= text_for_visa(claim) %></Data></Cell>
        <% if claim.canceled? %>
        <Cell ss:StyleID="companies-dates-gray_back">
        <% else %>
        <%= excel_element "Cell", "companies-dates-#{color_for_visa(claim)}", styles %>
        <% end %>
          <%= excel_date claim.visa_check %></Cell>
        <Cell><Data ss:Type="String"><%= claim.operator.try(:name) %></Data></Cell>
        <%= excel_element "Cell", "companies-red_back", styles, (!claim.canceled? && !claim.operator_confirmation_flag) %>
          <Data ss:Type="String"><%= claim.operator_confirmation %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= claim.primary_currency_price.to_money %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.calculation %></Data></Cell>
        <%= excel_element "Cell", "companies-#{color_for_tourist_advance(claim)}", styles %>
          <Data ss:Type="Number"><%= claim.tourist_advance.to_money %></Data></Cell>
        <%= excel_element "Cell", "companies-#{color_for_tourist_advance(claim)}", styles %>
          <Data ss:Type="Number"><%= claim.tourist_debt.to_money %></Data></Cell>
        <%= excel_element "Cell", "companies-#{color_for_operator_price(claim)}", styles %>
          <Data ss:Type="String"><%= operator_price(claim) %></Data></Cell>
        <Cell ss:StyleID="<%= row_date_style %>"><%= excel_date claim.operator_maturity %></Cell>
        <Cell><Data ss:Type="String"><%= operator_advance(claim) %></Data></Cell>
        <%= excel_element "Cell", "companies-#{color_for_operator_debt(claim)}", styles %>
          <Data ss:Type="String"><%= operator_debt(claim) %></Data></Cell>
        <%= excel_element "Cell", "companies-red_back", styles, (claim.approved_tourist_advance < claim.primary_currency_price) %>
          <Data ss:Type="String"><%= approved_advance(claim, :tourist) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= approved_advance(claim, :operator_prim) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= approved_advance(claim, :operator) %></Data></Cell>
        <%= excel_element "Cell", "companies-red_back", styles, (claim.profit_acc < 0 && !claim.excluded_from_profit) %>
          <Data ss:Type="Number"><%= claim.profit_acc.to_money %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= claim.profit_in_percent_acc.to_percent unless claim.excluded_from_profit %></Data></Cell>
        <%= excel_element "Cell", "companies-red_back", styles, (claim.profit < 0 && !claim.excluded_from_profit) %>
          <Data ss:Type="Number"><%= claim.profit.to_money %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= claim.profit_in_percent.to_percent unless claim.excluded_from_profit %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= claim.bonus_percent.to_percent %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= claim.bonus.to_money %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('claims.documents_statuses.' << claim.documents_status) %></Data></Cell>
        <%= excel_element "Cell", "companies-red_back", styles, (!claim.memo_tasks_done and claim.memo != '') %>
          <Data ss:Type="String"><%= claim.memo %></Data></Cell>
        <% if claim.canceled? %>
        <Cell ss:StyleID="companies-dates-gray_back">
        <% else %>
        <%= excel_element "Cell", "companies-dates-#{check_date_status(claim)}", styles %>
        <% end %>
          <%= excel_date claim.check_date %></Cell>
        <Cell><Data ss:Type="String"><%= claim.early_reservation ? 'Да' : 'Нет' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.excluded_from_profit ? 'Да' : 'Нет' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.canceled ? 'Да' : 'Нет' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.active ? 'Да' : 'Нет' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.closed ? 'Да' : 'Нет' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.tour_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.insurance_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.additional_insurance_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.discount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.visa_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.fuel_tax_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.additional_services_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.operator_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.tour_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.insurance_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.additional_insurance_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.visa_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.fuel_tax_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.additional_services_price_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.course_usd.to_f.round 3 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= claim.course_eur.to_f.round 3 %></Data></Cell>

      </Row>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
  <Worksheet ss:Name="Туристы">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.last_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.first_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.middle_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.sex') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.date_of_birth') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.phone_number') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.email') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.fio_latin') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.passport_series') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.passport_number') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.passport_valid_until') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.passport_issued') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('tourists.tourists.address') %></Data></Cell>
      </Row>
    <% @tourists.each do |tourist| %>
      <%= excel_element "Row", "users-#{tourist.try(:user).try(:id)}", styles %>
        <Cell><Data ss:Type="String"><%= tourist.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.middle_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t("sex_states.#{tourist.sex}") %></Data></Cell>
        <Cell ss:StyleID="date"><%= excel_date tourist.date_of_birth %></Cell>
        <Cell><Data ss:Type="String"><%= tourist.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.fio_latin %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.passport_series %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.passport_number %></Data></Cell>
        <Cell ss:StyleID="date"><%= excel_date tourist.passport_valid_until %></Cell>
        <Cell><Data ss:Type="String"><%= tourist.passport_issued %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tourist.address.try(:joint_address) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
  <Worksheet ss:Name="Клиенты">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= Tourist.human_attribute_name(:created_at) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('tourists.potential_clients.manager') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Tourist.human_attribute_name(t('tourists.tourists.full_name')) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.sex') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Tourist.human_attribute_name(:phone_number) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('tourists.potential_clients.email') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('tourists.potential_clients.wishes') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.actions') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.tourist.state') %></Data></Cell>
      </Row>
    <% @clients.each do |client| %>
      <%= excel_element "Row", "users-#{client.try(:user).try(:id)}", styles %>
        <Cell ss:StyleID="date"><%= excel_date client.created_at.to_date %></Cell>
        <Cell><Data ss:Type="String"><%= client.user.try(:login) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t("sex_states.#{client.sex}") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.wishes %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.actions %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.state.to_s != '' ? t("potential_states.#{client.state}") : '' %></Data></Cell>
      </Row>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
  <Worksheet ss:Name="Операторы">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.full_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.register_number') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.register_series') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.inn') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.ogrn') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.code_of_reason') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.phone_numbers') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.site') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.banking_details') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.actual_address') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('tourists.tourists.address') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_full_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_address') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.actual_insurer_address') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('operators.form.provision') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_contract') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_contract_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_contract_start') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.operator.insurer_contract_end') %></Data></Cell>
      </Row>
    <% @operators.each do |operator| %>
      <%= excel_element "Row", "", styles %>
        <Cell><Data ss:Type="String"><%= operator.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.register_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.register_series %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.inn %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.ogrn %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.code_of_reason %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.phone_numbers %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.site %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.banking_details %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.actual_address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.address.try(:joint_address) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.insurer %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.insurer_full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.insurer_address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.actual_insurer_address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.insurer_provision %></Data></Cell>
        <Cell><Data ss:Type="String"><%= operator.insurer_contract %></Data></Cell>
        <Cell ss:StyleID="date"><%= excel_date operator.insurer_contract_date %></Cell>
        <Cell ss:StyleID="date"><%= excel_date operator.insurer_contract_start %></Cell>
        <Cell ss:StyleID="date"><%= excel_date operator.insurer_contract_end %></Cell>
      </Row>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
  <Worksheet ss:Name="Оплаты от туриста">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Номер заявки</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.date_in') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.currency') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.amount') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.description') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.form') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.amount_prim') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.approved') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.course') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.reversed_course') %></Data></Cell>
      </Row>
    <% @tourists_payments.each do |payment| %>
      <% if payment.claim %>
        <%= excel_element "Row", "", styles %>
          <Cell><Data ss:Type="String"><%= payment.claim.num %></Data></Cell>
          <Cell ss:StyleID="date"><%= excel_date payment.date_in %></Cell>
          <Cell><Data ss:Type="String"><%= payment.currency %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.amount %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.description %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.form %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.amount_prim %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.approved ? 'Да' : 'Нет' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.course %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.reversed_course ? 'Да' : 'Нет' %></Data></Cell>
        </Row>
        <% end %>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
  <Worksheet ss:Name="Оплаты оператору">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Номер заявки</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.date_in') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.currency') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.amount') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.description') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.form') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.amount_prim') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.approved') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.course') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('activerecord.attributes.payment.reversed_course') %></Data></Cell>
      </Row>
    <% @operator_payments.each do |payment| %>
      <% if payment.claim %>
        <%= excel_element "Row", "", styles %>
          <Cell><Data ss:Type="String"><%= payment.claim.num %></Data></Cell>
          <Cell ss:StyleID="date"><%= excel_date payment.date_in %></Cell>
          <Cell><Data ss:Type="String"><%= payment.currency %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.amount %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.description %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.form %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.amount_prim %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.approved ? 'Да' : 'Нет' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.course %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment.reversed_course ? 'Да' : 'Нет' %></Data></Cell>
        </Row>
      <% end %>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.3"/>
        <Footer x:Margin="0.3"/>
        <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>0</PaperSizeIndex>
        <VerticalResolution>0</VerticalResolution>
        <NumberofCopies>0</NumberofCopies>
      </Print>
      <Selected/>
      <Panes/>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
</Workbook>

