.data_transfer
  .form_column.export_block
    .form_block
      .block_title
        %h2= t('dashboard.companies.form.export')
      .form_block_content
        .fake_row
          %p= link_to t("dashboard.companies.form.export_all"), dashboard_export_path(:format => 'xls'), :style => "text-decoration: underline;"

  .form_column.import_block
    .form_block
      .block_title
        %h2= t('dashboard.companies.form.import')
      .form_block_content
        .fake_row
          = form_for [:dashboard, @import_info], :url => dashboard_import_path do |f|
            %p
              = label_tag '', t('dashboard.companies.form.import_label'),:style => "width: 200px"
            %p.file
              = f.file_field :filename, :class => 'image_upload'
              = link_to t("dashboard.companies.form.import_button"), '#', :class => 'select_file'
            %p.image_message{ :data => { :size => CONFIG[:max_template_size], :extensions => "xls" }, :style => "clear:left;" }

            %p
              = f.submit t("dashboard.transfer.import")

  .form_column.import_list_block
    .form_block
      .block_title
        %h2= t('dashboard.companies.form.import_list')
      .form_block_content
        .fake_row
          %table
            %tr
              %th
                = t("dashboard.transfer.num")
              %th
                = t("dashboard.transfer.filename")
              %th
                = t("dashboard.transfer.created_at")
              %th
                = t("dashboard.transfer.count")
              %th
                = t("dashboard.transfer.success_count")
              %th
                = t("dashboard.transfer.status")
            - @import_list.each do |import|
              %tr
                %td
                  = import.num
                %td
                  - if import.filename?
                    = import.filename.file.identifier
                %td
                  = l( import.created_at, :format => :long )
                %td
                  = import.count
                %td
                  = import.success_count
                %td
                  = t("dashboard.transfer.stat.#{import.status}")





