- if user_signed_in?
  %li
    - if logged_as_another_user?
      = link_to("#{t('logout')}: #{current_user.login}", dashboard_sign_out_as_path, :class => 'logout')
    - else
      = link_to(t('logout'), destroy_user_session_path, :method => :delete, :class => 'logout')
- else
  %li
    = link_to(t('login'), new_user_session_path)
