%li
  %p#clock
- if user_signed_in?
  %li
    %span
      = t('user.roles.' + current_user.role)
      = link_to current_user.first_last_name, edit_user_registration_path
      - unless small_width?
        = ", офис #{current_office.name}"
- else
  %li.reglink
    = link_to(t('register'), new_user_registration_path)
