- title t('.title')

%table
  %tr
    %th Название
  - for office in @offices
    %tr
      %td= office.name
      %td= link_to t('show'), office
      %td= link_to t('edit'), edit_office_path(office)
      %td= link_to t('destroy'), office, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.new_office'), new_office_path
