- content_for(:body_class) { 'edit_operator' }

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  - content_for(:error_messages) do
    = f.error_messages

  %fieldset.form_column.first.sign_form
    .form_block
      .block_title
        %h2= t('.title')
      .form_block_content
        .fake_row
          = render :partial => 'users/user_attributes', :locals => { :f => f }
          = render :partial => 'users/password', :locals => { :f => f }
          %p.submit_row= f.submit t('.submit'), :class => 'btn'
          %p.links
            = render :partial => "devise/shared/links"
