- as_popup ||= false

= form_for task do |f|
  - @form_id = f.options[:html][:id]

  - unless as_popup
    - content_for(:error_messages) do
      = f.error_messages
  - else
    = f.error_messages

  %fieldset.form_column.form_column-small.first
    .form_block
      .block_title
        %h2= t('.common')
      .form_block_content
        .fake_row
          %p= f.label :body
          .task_body
            = f.text_area :body, class: 'wide'
          - if current_user.role == 'admin'
            %p= f.label :executer_id
            = f.select :executer_id, options_for_select(User.admins.map{|u| [ u.login , u.id ] }, task.executer_id), include_blank: true, class: 'wide'

            %p= f.label :status
            = f.select :status, options_for_select(Task::STATUS.map{|s| [ t("status.#{s}") , s.to_sym ]}, task.status), include_blank: true, class: 'wide'

            / %p= f.label :status
            / = f.text_field :status, class: 'wide'

            %p
              = f.check_box :bug
              = f.label :bug, class: 'checkbox right_checkbox'
            %p= f.label :comment
            .task_comment
              = f.text_area :comment, class: 'wide'
            %p= f.label :image, "#{Task.human_attribute_name(:image)} #{t('uploaders.uploader_size', :file_size => CONFIG[:max_image_size])}"
            %p.file{:style => "width:auto;"}
              = f.file_field :image, :class => 'image_upload', :style => "width: 250px"
              = link_to t("uploaders.choose_file"), '#', :class => 'select_file'
              = label_tag t('uploaders.choose_file_label')
            %p.image_message{ :data => { :size => CONFIG[:max_image_size], :extensions => CONFIG[:image_formats] } }
            - if task.image != nil
              = label_tag t('uploaders.download')
              %br
              = link_to task.image.model[:image], image_path(task.id), :title => t('uploaders.download')

  %fieldset.form_submit{ style: 'display: none; height: 0;' }
    = f.submit

  - if as_popup
    %p.actions
      = link_to t('save'), '#', :class => 'save_btn btn btn-mini btn-primary'
      = link_to t('close'), '#', :class => 'close_btn btn btn-mini'

  - else
    - content_for(:float_panel) do
      = link_to t('back'), :back, class: 'back'
      = link_to (current_user.role == 'admin' ? t('save') : t('send') ), '#', class: 'save', data: { submit: @form_id }