- task = @task unless local_assigns[:task]
- comment_length = task.comment && task.comment.length > 80
%tr{id: "task-#{task.id}", class: "task #{'bug' if task.bug}", data: {id: task.id}}
  %td
    = l(task.created_at, format: :long)
  %td
    = t("status.#{task.status}")
  %td.body{:class => [task.status =='cancel' && 'del', (task.body.length > 80) && 'popup_hover'], :data => { :content => (task.body.length > 80) && task.body }}
    %p{:class => "with_tooltip", :title => task.body }
      = truncate task.body, length: 80, omission: '...', separator: ' '
  %td
    = l(task.start_date, format: :long)
  %td
    = l(task.end_date, format: :long)
  %td
    - if task.image?
      = link_to '', "#{task.image.url}", :class => "attachment", :title => t('.attachment'), :target => '_blank'