.claims
  %table#claims{ :rules => 'all'}
    %tr
      %th.green_back{ :colspan => 14 }
        = t('claims.index.manager_view')
      %th.green_back{ :colspan => 6 }
        = t('claims.index.accountant_view')
      %th
    %tr
      %th= sortable 'id', t('claims.index.num')
      %th= sortable 'reservation_date', t('claims.index.reservation_date')
      %th= sortable 'offices.name', t('claims.index.office')
      %th= sortable 'user_id', t('claims.index.manager')
      %th= sortable 'applicant.last_name', t('claims.index.full_name')
      %th= sortable 'countries.name', t('claims.index.to')
      %th= sortable 'airport_back', t('claims.index.from')
      %th= sortable 'depart_to', t('claims.index.depart_to')
      %th= sortable 'operators.name', t('claims.index.operator')
      %th= sortable 'primary_currency_price', t('claims.index.price')
      %th= sortable 'calculation', t('claims.index.calculation')
      %th= sortable 'tourist_advance', t('claims.index.advance')
      %th= sortable 'tourist_debt', t('claims.index.debt')
      %th Неясно
      / accountant section
      %th.green_back= sortable 'primary_currency_price', t('claims.index.price')
      %th.green_back= sortable 'tourist_paid', t('claims.index.paid')
      %th.green_back= sortable 'primary_currency_operator_price', t('claims.index.cost')
      %th.green_back= sortable 'operator_paid', t('claims.index.paid')
      %th.green_back= sortable 'profit', 'Наценка'
      %th.green_back= sortable 'profit_in_percent', '% наценки'

      %th
    - @claims.each do |claim|
      %tr
        %td= claim.id
        %td= claim.reservation_date.strftime('%d.%m.%y') if claim.reservation_date
        %td= claim.office.try(:name)
        %td{ :style => "background-color:#{claim.user.color}" }
          = claim.user.login
        %td= claim.applicant.try(:full_name)
        %td= claim.country.try(:name)
        %td= claim.city.try(:name)
        %td{ :class => claim.flight_status }
          = l( claim.depart_to, :format => :short )
        %td= claim.operator.try(:name)
        %td= claim.primary_currency_price
        %td= claim.calculation
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.tourist_advance.to_money
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.tourist_debt.to_money
        %td Неясно
        / accountant section
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.primary_currency_price.to_money
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.tourist_paid
        %td{ :class => "#{ claim.has_operator_debt? ? 'red_back' : '' }" }
          = claim.primary_currency_operator_price.to_money
        %td{ :class => "#{ claim.has_operator_debt? ? 'red_back' : '' }" }
          = claim.operator_paid
        %td
          = claim.profit.to_money
        %td
          = claim.profit_in_percent.to_percent
        %td
          = link_to t('edit'), edit_claim_path(claim)
          = link_to t('destroy'), claim, :confirm => t('are_you_sure'), :method => :delete

  = will_paginate @claims
