!!!
%head
  %title Договор на реализацию
  = stylesheet_link_tag 'contract'
%body
  /= raise @claim.inspect
  #content
    %div
      = image_tag 'print_logo.png'
      %h2.firsth
        = "ДОГОВОР на реализацию права на турпродукт №#{@claim.id}"
    %p.firstp
      %b><Туристическая компания #{@claim.user.company.try(:name)}
      , представляющая интересы Туроператора, именуемая в дальнейшем
      = succeed "," do
        %b
          \"АГЕНТ"
      в лице Директора
      = succeed "," do
        %b Голубевой Татьяны Александровны
      действующая на основании Устава с одной стороны, и
      %br/
      %span.underline.client
        %b.red>= @claim.applicant.full_name
        ,
      именуемый(ая) в дальнейшем как
      = succeed "," do
        %b "КЛИЕНТ"
      с другой стороны заключили
      договор о нижеследующем.
    %h2 1. ПРЕДМЕТ ДОГОВОРА
    %p
      %b 1.1. АГЕНТ
      реализует право на туристический продукт, принадлежащий Туроператору, а
      %b КЛИЕНТ
      обязуется оплатить выбранный турпродукт (тур по выбранному маршруту, включая необходимые услуги, страховку, визу и.т.д.)
    %table
      %tr
        %td.ra Страна
        %td.la
          %b.red= @claim.country.try(:name)
        %td.ra Курорт
        %td.la{:colspan => "2"}
          %b.red= @claim.resort.try(:name)
        %td.ra{:colspan => "2"} Отправление
        %td.la
          %b.red= @claim.depart_to.strftime('%d/%m/%Y') if @claim.depart_to
      %tr
        %td.ra Отель
        %td.la{:colspan => "2"}
          %b.red= @claim.hotel
        %td{:colspan => "2"}
        %td.ra{:colspan => "2"} Возврат
        %td.la
          %b.red= @claim.depart_back.strftime('%d/%m/%Y %H:%M') if @claim.depart_back
      %tr
        %td.ra Размещение
        %td.la{:colspan => "2"}
          %b.red= @claim.placement
        %td.ra Кол‐во туристов
        %td.la
          %b.red= @claim.dependents.count + 1
        %td.ra{:colspan => "2"} Кол‐во ночей
        %td.la
          %b.red= @claim.nights
      %tr
        %td.ra Переезд
        %td.la{:colspan => "2"}
          %b.red= @claim.relocation
        %td.ra Класс
        %td.la
          %b.red= @claim.service_class
        %td.ra{:colspan => "2"} Питание
        %td.la
          %b.red= @claim.meals
      %tr
        %td.ra Виза
        %td.la
          %b.red= @claim.visa_count > 0 ? 'Да' : 'Нет'
        %td.ra Страховка медицинская
        %td.la
          %b.red= @claim.insurance_price > 0 ? 'Да' : 'Нет'
        %td.ra Трансфер
        %td.la
          %b.red= @claim.transfer
        %td.ra Страховка от невыезда
        %td.la
          %b.red= @claim.additional_insurance_price > 0 ? 'Да' : 'Нет'
      %tr
        %td.la{:colspan => "3"} Дополнительные услуги и экскурсии
        %td.la{:colspan => "5"}
          %b.red= @claim.additional_services
      %tr
        %td.la Сумма на
        %td.la= @claim.reservation_date.strftime('%d/%m/%Y') if @claim.reservation_date
        %td.la{:colspan => "6"}
          %b.red= @claim.primary_currency_price.to_money.to_s + ' руб'
      %tr
        %td.la{:colspan => "2"}
          %b Стоимость тура
        %td.la
          %b Топливный сбор
        %td.la
          %b Виза
        %td.la{:colspan => "2"}
          %b Страховка невыезда
        %td.ca{:colspan => "2"}
          %b Итого
      %tr
        %td.la{:colspan => "2"}
          %b.red= @claim.primary_currency_price.to_money.to_s + ' руб'
        %td.la
          %b.red нет
        %td.la
          %b.red нет
        %td.la{:colspan => "2"}
          %b.red нет
        %td.ca{:colspan => "2"}
          %b.red= @claim.primary_currency_price.to_money.to_s + ' руб'
      %tr
        %td.la{:colspan => "3"}
          %b ФИО
        %td.la
          %b Дата Рождения
        %td.la
          %b Серия
        %td.ca
          %b Номер
        %td.ca{:colspan => "2"}
          %b Действителен
      %tr
        %td.la{:colspan => "3"}
          %b.red= @claim.applicant.full_name
        %td.la
          %b.red= @claim.applicant.date_of_birth
        %td.la
          %b.red= @claim.applicant.passport_series
        %td.la
          %b.red= @claim.applicant.passport_number
        %td.ca{:colspan => "2"}
          %b.red= @claim.applicant.passport_valid_until
      - @claim.dependents.each do |dep|
        %tr
          %td.la{:colspan => "3"}
            %b.red= dep.full_name
          %td.la
            %b.red= dep.date_of_birth
          %td.la
            %b.red= dep.passport_series
          %td.la
            %b.red= dep.passport_number
          %td.ca{:colspan => "2"}
            %b.red= dep.passport_valid_until
    %p.red
      %b Особые условия по чартерным рейсам:
      время вылета чартерных рейсов может меняться авиакомпанией за один день до вылета.
      Если вылет происходит в забронированную дату, авиакомпании компенсаций за изменения рейсов не предусматривают
    %p.red
      %b
        Внимание! Туроператор имеет право в исключетельных случаях производить замену забронированного отеля на другой отель,
        такой же звездности или выше, если при этом не ухудшаются выбранные Клиентом условия в отеле.
    %p
      %b
        1.2. Компанией, оказывающей потребителю услуги по данному договору является ТУРОПЕРАТОР
        %span.red.operator= @claim.user.company.try(:name)
    %p
      Туроператор полностью обеспечивает оказание туристам всех услуг, входящих в указанный туристический продукт самостоятельно или с привличением третих
      лиц, независимо от того, кем эти услуги оказываются.
    %p
      %b
        1.3. Полную ответственность за надлежащее выполнение настоящего договора по оказанию туристических услуг в соответствие с Федеральным законом
        \"Об основах туристической деятельности в РФ" несет ТУРОПЕРАТОР.
    %p
      %b> 1.4. Компания #{@claim.user.company.try(:name)}
      , выступающая по данному договору, как АГЕНТ туропрератора, отвечает за правильность и полноту представления КЛИЕНТУ
      информации о заказываемом туристическим продукте.
    %h2 2. СВЕДЕНИЯ О ТУРОПЕРАТОРЕ
    %p
      %b 2.1.ТУРОПЕРАТОР‐ИСПОЛНИТЕЛЬ
      туристических услуг является компания
      %b.red.operator= @claim.user.company.try(:name)
    %p
      2.2. Полная информация о
      = succeed "," do
        %b ТУРОПЕРАТОРЕ
      о размере финансового обеспечения, договоре страхования ответственности туроператора, информация о компании,
      предоставившей финансовое обеспечение и порядке выплаты страхового возмещения указана в
      %b ПРИЛОЖЕНИИ
      к данному договору
      = succeed "," do
        %b "ИНФОРМАЦИЯ О ТУРОПЕРАТОЕ"
      которое является неотъемлемой частью этого договора.
    %h2 2. УСЛОВИЯ ОПЛАТЫ И ПОРЯДОК РАСЧЕТОВ
    %p
      %b 2.1.
      Стоимость тура, включая вознаграждение АГЕНТА, определяется по расценкам, приведенным в описании выбранного маршрута, и фиксируется в договоре,
      заполняемом КЛИЕНТОМ при оформление тура.
    %p
      %b 2.3.
      Стоимость тура является фиксированной только при 100% оплате тура в день бронирования.
    %p
      %b 2.4.
      В случае,если КЛИЕНТОМ оплачивается только аванс при бронировании (не менее 30%), стоимость тура может быть пересчитана на день фактической оплаты Клиентом
      остатка в зависимости от курса валюты туроператора.
    %p
      %b 2.5.
      Полная оплата тура производится КЛИЕНТОМ в течение 3 суток после Подтверждения брони.
    %p
      %b 2.6.
      Оплата производится в рублях как наличными, так и по безналичному расчету. Если цены указаны в у.е., оплата производится в рублях по курсу,зафиксированному
      у туроператора на день оплаты.
    %p
      %b 2.7.
      В случае безналичной оплаты АГЕНТОМ выписывается счет на сумму стоимости тура, при этом место бронируется на основании залога, внесенного в кассу АГЕНТА.
      При поступлении перечисленных КЛИЕНТОМ средств на р/счет АГЕНТ, залог возвращается КЛИЕНТУ в течение 2‐х рабочих дней.
    %h2 3. ПРАВА, ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ СТОРОН
    %p
      %b 3.1.
      АГЕНТ обязан предоставить достоверную информацию о потребительских свойствах тур. продукта,включая информацию о программах, условий проезда, питания,
      стоимости экскурсионного обслуживания, мер безопасности,особенностях и санитарно‐эпидемиологических правилах пребывания в стране, изложенную в описаниях конкретных туров.
    %p
      %b 3.2.
      АГЕНТ обязуется информировать КЛИЕНТА о ТУРОПЕРАТОРЕ, который обеспечивает заказываемый комплекс туристических услуг, указанных в договоре.
    %p
      %b 3.3.
      АГЕНТ имеет право произвести изменения условий  действия путевки  по согласованию сторон.
    %p
      %b 3.4.
      АГЕНТ обязан обеспечить страхование КЛИЕНТА в обязательном порядке, если это оговаривается в программе турпоездки, или по желанию КЛИЕНТА за дополнительную плату,
      если страхование не входит в стоимость.
    %p
      %b 3.5.
      АГЕНТ обязан выдать КЛИЕНТУ комплект документов, необходимых для совершения поездки не позднее, чем за сутки до забронированного заезда, либо информировать о порядке
      получения документов от ТУРОПЕРАТОРА.
    %p
      %b 3.6.
      КЛИЕНТ имеет право на получение достоверной информации о потребительских свойствах туристского продукта, включая информацию о программах пребывания, условий проезда,
      питания, стоимости экскурсионного обслуживания, мер безопасности, особенностях и санитарно-эпидемиологических правилах пребывания в стране.
    %p
      %b 3.7.
      КЛИЕНТ обязан оплатить 100% стоимости тура в сроки, указанные в п.п. 2.3., 2.4.
    %p
      %b 3.8.
      КЛИЕНТ обязан выполнять правила проживания в гостинице, пансионате, на базе отдыха, а также общие правила и законы страны пребывания. АГЕНТ не несет ответственности
      за любой ущерб, причиненный КЛИЕНТУ в результате нарушения данного пункта договора.
    %p
      %b 3.9.
      КЛИЕНТ обязан возместить в полном объеме ущерб, нанесенный КЛИЕНТУ и/или принимающей стороне в результате противозаконных, умышленных, халатных или случайных действий
      с его стороны.
    %p
      %b 3.10. АГЕНТ и ТУРОПЕРАТОР  не несут ответственности:
      %br/
      %ul
        %li ‐за отказ консульских органов страны временного пребывания в выдаче визы КЛИЕНТУ
        %li ‐по проблемам, возникающим при прохождении паспортного и таможенного контроля;
        %li
          \‐в случае возникновения обстоятельств непреодолимой силы (погодные условия, стихийные бедствия, забастовки, военные
          действия, решения органов государственной власти, экологические нарушения и т.п.);
        %li ‐за несоответствие предоставленных услуг субъективным ожиданиям КЛИЕНТА
        %li ‐в случае утраты или кражи личных вещей КЛИЕНТА
    %p
      %b> 3.11.
      КЛИЕНТ предоставляет интересы всех клиентов, внесенных в договор, и несет ответственность перед АГЕНТОМ за своевременную полную оплату тура и штрафов в случае отказа от
      поездки.
    %p
      %b 3.12.
      КЛИЕНТ подтверждает своей подписью, что получил в устной форме от АГЕНТА полную информацию обо всех условиях, особенностях данного тура, о стране пребывания и ТУРОПЕРАТОРЕ.
    %p
      %b 3.13.
      КЛИЕНТ подтверждает своей подписью , что  в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных» он дает своей волей  согласие
      считать на срок действия настоящего Договора его персональные данные и данные всех включенных клиентов – общедоступными персональными данными.
    %h2 4. УСЛОВИЯ РАСТОРЖЕНИЯ ДОГОВОРА
    %p
      %b 4.1.
      В случае неподтверждения забронированного отеля, или в случае существенных изменений обстоятельств и условий тура КЛИЕНТА вправе расторгнуть договор. При этом АГЕНТ возвращает
      КЛИЕНТУ всю сумму, принятую у него в качестве аванса.
    %p
      %b 4.2.
      КЛИЕНТ вправе расторгнуть договор и получить полную оплату тура,если АГЕНТ не предоставил необходимый пакет документов в срок,оговоренный в п.3.5 данного договора.
    %p
      %b
        4.3. КЛИЕНТ вправе отказаться от тура в любое время при условии оплаты АГЕНТУ фактически понесенных им расходов, связанных с исполнением обязательств по данному договору
        (ст. 32 Закона "О защите прав потребителя").
    %p
      %b
        4.4. В случае отказа КЛИЕНТА от  тура, в зависимости от Туроператора, сроков отказа от тура  и размера понесенных при этом АГЕНТОМ  расходов , потери КЛИЕНТА могут составлять
        от 10% до 100% стоимости тура.
    %p
      %b 4.5.
      Стоимость страховки, некоторых категорий авиа-ж/д билетов (уточняется), консульский сбор возврату не подлежит.
    %p
      %b 4.6.
      Дата отказа определяется на момент поступления к АГЕНТУ письменного заявления КЛИЕНТА. Не являются основанием для возврата оплаты неприбытие КЛИЕНТА к месту отдыха,
      досрочный выезд с места отдыха, не прохождение границы КЛИЕНТОМ в результате нарушения таможенных и иных правил. Не подлежит компенсации отказ КЛИЕНТА от плановых услуг по месту
      отдыха (питание, проживание, экскурсионное обслуживание и др.) или неполучение этих услуг по инициативе КЛИЕНТА.
    %h2 5. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
    %p
      %b 5.1.
      Все претензии по настоящему договору должны быть предъявлены ЗАКАЗЧИКОМ в письменном виде с резолюцией принимающей стороны (подпись, печать) в течение 20 дней после окончания поездки
      и рассмотрены АГЕНТОМ в течение 10 дней после их получения.
    %p
      %b 5.2.
      Все споры между КЛИЕНТОМ и АГЕНТОМ решаются в соответствии с законодательством РФ.
    %h2 6. СРОКИ ДЕЙСТВИЯ ДОГОВОРА
    %p
      %b 6.1.
      Настоящий договор, составленный в 2-х экземплярах, по одному для каждой стороны, вступает в законную силу с момента его подписания обеими сторонами и действует до окончания тура.
    %p
      %b 6.2.
      Приложение: "
      %b> Информация о ТУРОПЕРАТОРЕ
      \"
    %h2 7. АДРЕСА И РЕКВИЗИТЫ СТОРОН
    %table.withoutanyborder
      %tr
        %td.la{:colpsan => "3"}
          %b
            АГЕНТ
            = @claim.user.company.try(:name)
        %td.ca{:colspan => "2"}
          %b КЛИЕНТ
      %tr
        %td.la{:colpsan => "3"}
          %b
            - if @claim.user.company.address.present?
              = @claim.user.company.address.pretty_full_address
            - else
              Нет адреса
        %td{:colpsan => "2"}
      %tr
        %td.la{:colpsan => "3"}
          %b= @claim.user.company.bank
        %td.ca{:colpsan => "2"}
          ФИО
          %b= @claim.applicant.full_name
      %tr
        %td.la{:colpsan => "3"}
          %b
            БИК
            = @claim.user.company.try(:bik)
        %td{:colpsan => "2"}
      %tr
        %td.la{:colpsan => "3"}
          %b
            к/сч
            = @claim.user.company.try(:corr_account)
        %td{:colpsan => "2"}
      %tr
        %td.la{:colpsan => "3"}
          %b
            р/сч
            = @claim.user.company.try(:curr_account)
        %td{:colpsan => "2"}
      %tr
        %td.la{:colpsan => "3"}
          %b
            ОГРН
            = @claim.user.company.try(:ogrn)
        %td{:colpsan => "2"}
      %tr
        %td.la{:colpsan => "3"}
          %b= @claim.user.company.address.phone_number if @claim.user.company.address
        %td{:colpsan => "2"}
