#flights.form_block.yellow_block{ :class => large_width? && 'departures' }
  .block_title
    %h2= t('.title')
  .form_block_content
    - ind = 0
    = f.fields_for :flights, @claim.flights do |ff|
      .fake_row.flight.fields{ :id => "flight-#{ind}", :class => ff.object.try(:_destroy) && 'destroyed' }
        = render :partial => 'flight', :locals => { :flight_form => ff, :ind => ind }
        = link_to '', '#', :class => 'delete', :title => t('cancel'), data: { check: t('are_you_sure') }, :id => "delete_flight_#{ind}"

        = ff.hidden_field :_destroy, :class => '_destroy'
        = ff.hidden_field :id, :class => 'hidden_id'
      - ind += 1

    .fake_row.add_row
      .add_btn
        = link_to t('.add_another_flight'), '#', :class => 'add add_tourist', :id => 'add_flight'