#flights.flights_block.form_block.yellow_block
  .block_title
    %h2= t('.title')
  .form_block_content
    .fake_table
      .clearfix
        .col-actions
        .col-main
          .fake_col.col1
            .block-right
              %span.depart= t('.depart')
            .block-stretch
              %span.from= t('.from')
          .fake_col.col2
            %span.flight= t('.flight')
          .fake_col.col3
            .block-right
              %span.arrive= t('.arrive')
            .block-stretch
              %span.to= t('.to')

    - ind = 0
    = f.fields_for :flights, @claim.flights, :wrapper => true do |ff|
      .fake_row.flight.fields{ :id => "flight-#{ind}", :class => ff.object.try(:_destroy) && 'destroyed' }
        .clearfix
          .col-actions
            .delete-wrap
              = link_to '', '#', :class => 'delete', :title => t('cancel'), data: { check: t('are_you_sure') }, :id => "delete_flight_#{ind}"
          .col-main.clearfix
            = render :partial => 'flight', :locals => { :f => ff, :ind => ind }

        = ff.hidden_field :_destroy, :class => '_destroy'
        = ff.hidden_field :id, :class => 'hidden_id'
      - ind += 1

    .fake_row.add_row
      .add_btn
        = link_to t('.add_another_flight'), '#', :class => 'add add_tourist', :id => 'add_flight'

      .two_line.pull-right
        %p= f.label :airline, t('.airline')
        = f.text_field :airline, :class => ['autocomplete airline', 'airline_select'], data: ac_data(source: dropdown_autocomplete_claims_path('airline')), :style => "width:170px;"