#flights.form_block.yellow_block{ :class => large_width? && 'departures' }
  .block_title
    %h2= t('.flights')
  .form_block_content
    .fake_row
      %p= f.label :airline, t('.airline'), :required => true
      - if small_width? or medium_width?
        = f.select :airline, current_company.dropdown_values_for('airline'), {}, :class => 'editable-select airline_select'
      - elsif large_width?
        = f.select :airline, current_company.dropdown_values_for('airline'), {}, :class => 'editable-select big_airline_select'
    .fake_row
      .two_line
        %p
          %strong= f.label :airport_to, t('.there'), :required => true
        = f.select :airport_to, current_company.dropdown_values_for('airport'), {}, :class => 'editable-select standart_select',
            :not_highlighted => true
      .two_line
        %p= f.label :flight_to, t('.flight')
        = f.text_field :flight_to, :class => 'expires_date'
      .two_line
        %p= f.label :depart_to, t('.depart')
        = f.text_field :depart_to, :class => 'datetimepicker time_departure', :value => l(claim.depart_to, :format => :long)
      .two_line
        %p= f.label :arrive_to, t('.arrive')
        = f.text_field :arrive_to, :class => 'datetimepicker time_departure', :value => l(claim.arrive_to, :format => :long)
    .fake_row
      .two_line
        %p
          %strong= f.label :airport_back, t('.back'), :required => true
        = f.select :airport_back, current_company.dropdown_values_for('airport'), {}, :class => 'editable-select standart_select',
            :not_highlighted => true
      .two_line
        %p= f.label :flight_back, t('.flight')
        = f.text_field :flight_back, :class => 'expires_date'
      .two_line
        %p= f.label :depart_back, t('.depart')
        = f.text_field :depart_back, :class => 'datetimepicker time_departure', :value => l(claim.depart_to, :format => :long)
      .two_line
        %p= f.label :arrive_back, t('.arrive')
        = f.text_field :arrive_back, :class => 'datetimepicker time_departure', :value => l(claim.arrive_to, :format => :long)