- claim = f.object
= f.error_messages

%fieldset.filter
  .filter_row
    = f.label :id
    = f.text_field :id, :disabled => true, :value => (claim.new_record? ? Claim.next_id : claim.id), :class => 'number'
    = f.label :operator_confirmation
    = f.text_field :operator_confirmation, :class => 'confirmation ' << (claim.operator_confirmation_flag ? 'blue_back' : 'red_back')
    = f.label :operator_confirmation_flag, '&nbsp;'.html_safe, :class => 'checkbox'
    = f.check_box :operator_confirmation_flag

    .float_right
      = f.label :visa
      = f.text_field :visa_check, :class => 'visa datepicker ' << color_for_visa(claim), :value => l(claim.visa_check, :format => :long)
      = f.label :visa_confirmation_flag, '&nbsp;'.html_safe, :class => 'checkbox'
      = f.check_box :visa_confirmation_flag
      = f.label :check_date
      = f.text_field :check_date, :class => 'visa datepicker ' << check_date_status(claim), :value => l(claim.check_date, :format => :long)
      = f.label :reservation_date
      = f.text_field :reservation_date, :class => 'visa datepicker', :value => l(claim.reservation_date, :format => :long)

  .filter_row
    = f.label :user_id, t('.user')
    - if is_admin? or is_boss?
      = f.select :user_id, current_company.users.map {|o| [ o.name_for_list, o.id ]}, {:include_blank => @claim.user.nil?}
    - else
      = f.text_field :user_id, :value => @claim.user.try(:first_last_name), :disabled => true

    = f.label :office_id, t('.office')
    - if is_admin? or is_boss?
      = f.select :office_id, current_company.offices.map {|o| [ o.name, o.id ]}, {:include_blank => @claim.office.nil?}
    - else
      = f.text_field :office_id, :value => @claim.office.try(:name), :disabled => true

    .float_right
      = f.label :early_reservation, :class => 'checkbox right_checkbox'
      = f.check_box :early_reservation
      = f.label :canceled, :class => 'checkbox right_checkbox'
      = f.check_box :canceled

%fieldset.check_list
  %ul
    %li{ :class => !@claim.tourist_debt? && 'checked' }
      = t('.tourist_debt')
      %span= @claim.tourist_debt? ? t('yep') : t('nope')
    %li{ :class => !@claim.operator_debt? && 'checked' }
      = t('.operator_debt')
      %span= @claim.operator_debt? ? t('yep') : t('nope')
    %li{ :class => @claim.documents_ready? && 'checked' }
      = t('.documents_ready')
      %span= @claim.documents_ready? ? t('yep') : t('nope')
    %li{ :class => @claim.has_memo? && 'checked' }
      = t('.has_notes')
      %span= @claim.has_memo? ? t('yep') : t('nope')

%fieldset.form_column
  .form_block
  .form_block.yellow_block
  .form_block.green_block
  .form_block.grey_block
%fieldset.form_column.small
  .form_block.yellow_block
  .form_block.blue_block
  .form_block.green_block