- claim = f.object
- content_for(:error_messages) do
  = f.error_messages

.filter_area

  %fieldset.check_list
    %ul
      %li{ :class => !claim.has_tourist_debt? && 'checked' }
        = t('.tourist_debt')
        %span= claim.tourist_debt? ? t('yep') : t('nope')
      %li{ :class => !claim.operator_debt? && 'checked' }
        = t('.operator_debt')
        %span= claim.has_operator_debt? ? t('yep') : t('nope')
      %li{ :class => claim.documents_ready? && 'checked' }
        = t('.documents_ready')
        %span= claim.documents_ready? ? t('yep') : t('nope')
      %li{ :class => claim.has_memo? && 'checked' }
        = t('.has_notes')
        %span= claim.has_memo? ? t('yep') : t('nope')

  = render :partial => 'form_filter', :locals => { :f => f, :claim => claim }

#forms.forms
  .form_col
    = render :partial => 'tourists', :locals => { :f => f, :claim => claim }
    = render :partial => 'route', :locals => { :f => f, :claim => claim }
    = render :partial => 'flights', :locals => { :f => f, :claim => claim }
    = render :partial => 'tour_price', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_in', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_out', :locals => { :f => f, :claim => claim }
    = render :partial => 'information', :locals => { :f => f, :claim => claim }