- claim = f.object
- content_for(:error_messages) do
  = f.error_messages

%fieldset.filter
  .filter_row
    = f.label :id
    = f.text_field :id, :disabled => true, :value => (claim.new_record? ? Claim.next_id : claim.id), :class => 'number'
    - if small_width?
      = f.label :operator_confirmation, t('.operator_confirmation_two_line').html_safe, :class => 'two_row',
          :title => t('.operator_confirmation')
    - else
      = f.label :operator_confirmation
    = f.text_field :operator_confirmation, :class => 'confirmation ' << (claim.operator_confirmation_flag ? 'blue_back' : 'red_back')
    = f.label :operator_confirmation_flag, '&nbsp;'.html_safe, :class => 'checkbox'
    = f.check_box :operator_confirmation_flag

    .float_right
      = f.hidden_field :visa
      = f.label :visa_check
      = f.text_field :visa_check, :class => 'visa datepicker ' << color_for_visa(claim), :value => l(claim.visa_check, :format => :long),
          :disabled => !claim.visa_confirmation_flag
      = select_tag '', options_for_select(Claim::VISA_STATUSES.map {|s| [ t("claims.visa_statuses.#{s}"), s ]}, claim.visa),
          :id => 'claim_visa_status', :class => 'visa_status', :disabled => !claim.visa_confirmation_flag
      = f.label :visa_confirmation_flag, '&nbsp;'.html_safe, :class => 'checkbox'
      = f.check_box :visa_confirmation_flag
      - if small_width?
        = f.label :check_date, t('.check_date_two_line').html_safe, :class => 'two_row',
            :title => t('.check_date')
      - else
        = f.label :check_date
      = f.text_field :check_date, :class => 'visa datepicker ' << check_date_status(claim), :value => l(claim.check_date, :format => :long)
      = f.label :closed, '&nbsp;'.html_safe, :class => 'checkbox'
      = f.check_box :closed
      - if medium_width? or large_width?
        = f.label :reservation_date
        = f.text_field :reservation_date, :class => 'visa datepicker', :value => l(claim.reservation_date, :format => :long)

  .filter_row
    - if small_width?
      = f.label :reservation_date, t('.reservation_date_two_line').html_safe, :class => 'two_row',
          :title => t('.reservation_date')
      = f.text_field :reservation_date, :class => 'visa datepicker', :value => l(claim.reservation_date, :format => :long)
    = f.label :user_id, t('.user')
    - if is_admin? or is_boss?
      = f.select :user_id, current_company.users.map {|o| [ o.name_for_list, o.id ]}, {:include_blank => claim.user.nil?},
          :class => 'filter_select'
    - else
      = f.text_field :user_id, :value => claim.user.try(:first_last_name), :disabled => true

    = f.label :office_id, t('.office')
    - if is_admin? or is_boss?
      = f.select :office_id, current_company.offices.map {|o| [ o.name, o.id ]}, {:include_blank => claim.office.nil?},
          :class => 'filter_select'
    - else
      = f.text_field :office_id, :value => claim.office.try(:name), :disabled => true

    .float_right
      - if small_width?
        = f.label :early_reservation, t('.early_reservation_two_line').html_safe, :class => 'checkbox right_checkbox two_row',
            :title => t('.early_reservation')
      - else
        = f.label :early_reservation, :class => 'checkbox right_checkbox'
      = f.check_box :early_reservation
      = f.label :canceled, :class => 'checkbox right_checkbox'
      = f.check_box :canceled

%fieldset.check_list
  %ul
    %li{ :class => !claim.tourist_debt? && 'checked' }
      = t('.tourist_debt')
      %span= claim.tourist_debt? ? t('yep') : t('nope')
    %li{ :class => !claim.operator_debt? && 'checked' }
      = t('.operator_debt')
      %span= claim.operator_debt? ? t('yep') : t('nope')
    %li{ :class => claim.documents_ready? && 'checked' }
      = t('.documents_ready')
      %span= claim.documents_ready? ? t('yep') : t('nope')
    %li{ :class => claim.has_memo? && 'checked' }
      = t('.has_notes')
      %span= claim.has_memo? ? t('yep') : t('nope')

- if small_width?
  %fieldset.form_column
    = render :partial => 'tourists', :locals => { :f => f, :claim => claim }
    = render :partial => 'route', :locals => { :f => f, :claim => claim }
    = render :partial => 'flights', :locals => { :f => f, :claim => claim }
    = render :partial => 'tour_price', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_in', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_out', :locals => { :f => f, :claim => claim }
    = render :partial => 'information', :locals => { :f => f, :claim => claim }

- elsif medium_width?
  %fieldset.form_column
    = render :partial => 'tourists', :locals => { :f => f, :claim => claim }
    = render :partial => 'flights', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_in', :locals => { :f => f, :claim => claim }
    = render :partial => 'information', :locals => { :f => f, :claim => claim }

  %fieldset.form_column.small
    = render :partial => 'route', :locals => { :f => f, :claim => claim }
    = render :partial => 'tour_price', :locals => { :f => f, :claim => claim }
    = render :partial => 'payments_out', :locals => { :f => f, :claim => claim }

- elsif large_width?
  = render :partial => 'information', :locals => { :f => f, :claim => claim }
  %fieldset.form_column
    = render :partial => 'tourists', :locals => { :f => f, :claim => claim }
    = render :partial => 'tour_price', :locals => { :f => f, :claim => claim }
  = render :partial => 'route', :locals => { :f => f, :claim => claim }
  = render :partial => 'flights', :locals => { :f => f, :claim => claim }
  = render :partial => 'payments_in', :locals => { :f => f, :claim => claim }
  = render :partial => 'payments_out', :locals => { :f => f, :claim => claim }