.wrapper
  = form_for @claim do |f|
    = f.error_messages
    #left_block
      .data_block
        %table
          %tr
            %th.id= f.label :id
            %th= f.label :operator_confirmation
            %th{ :colspan => 2 }
              = f.label :visa
            %th{ :colspan => 2 }
              = f.label :check_date
          %tr
            %td= f.text_field :id, :disabled => true, :value => (@claim.new_record? ? Claim.next_id : @claim.id)
            %td= f.text_field :operator_confirmation
            %td= f.check_box :visa_confirmation_flag, { :style => 'width:12px;'}
            %td.datepicker= f.text_field :visa_check, :class => ('datepicker ' << @claim.visa)
            %td= f.check_box :closed, { :style => 'width:12px;'}
            %td.datepicker= f.text_field :check_date, :class => 'datepicker'
          = f.hidden_field :visa
        .lamp_block{ :style => "#{ 'background-position:top left;' if @claim.early_reservation}" }
          = f.label :early_reservation
          = f.check_box :early_reservation, { :style => 'width:12px;'}

        %h2= t('.tourists')
        %table#tourists
          %tr
            %th{ :style => 'width: 10px;' }
            %th{ :style => 'width: 150px;' }
              = t('.full_name')
              .hint
                = t('.tourists_full_name_hint')
            %th= t('.date_of_birth')
            %th{ :colspan => 2 }
              = t('.passport')
            %th= t('.passport_expire')
            %th
          = f.fields_for :applicant, @claim.applicant do |builder|
            %tr.applicant
              = render :partial => 'tourist', :locals => { :builder => builder }
            %tr
              %td
              %td= builder.text_field :phone_number, :class => 'phone_number'
              %td{ :colspan => 4 }
                = builder.text_field :address, :class => 'address'
            = builder.hidden_field :id
          - ind = 2
          = f.fields_for :dependents, @claim.dependents do |builder|
            %tr.dependent{ :id => "dependent#{ind}"}
              = render :partial => 'tourist', :locals => { :builder => builder, :ind => ind }
              - ind += 1

          %tr.footer
            %td{ :colspan => 6 }
              = link_to t('.add_another_tourist'), '#', :class => 'add'

        %h2= t('.flights')
        %table#flights
          %tr
            %td{ :colspan => 3 }
              = f.label :airline_id
              = f.text_field :airline, :class => 'autocomplete airline', :value => @claim.airline.try(:name), :style => 'width: auto;'
          %tr
            %th
            %th= t('.there')
            %th= t('.back')
          %tr
            %td.text_right= f.label :airport_to, t('.airport')
            %td= f.text_field :airport_to, :class => 'autocomplete airport'
            %td= f.text_field :airport_back, :class => 'autocomplete airport'
          %tr
            %td.text_right= f.label :flight_to, t('.flight')
            %td= f.text_field :flight_to
            %td= f.text_field :flight_back
          %tr
            %td.text_right= f.label :depart_to, t('.depart')
            %td.datepicker= f.text_field :depart_to, :class => 'datetimepicker'
            %td.datepicker= f.text_field :depart_back, :class => 'datetimepicker'

        %h2= t('.trip_documents')
        %table#docs
          %tr
            %td.text_right= f.label :docs_memo
            %td= f.select :docs_memo, (Claim::DOCUMENTS_STATUSES).collect {|o| [ t(".documents_statuses.#{o}"), o ] },
              {}, :class => "#{ @claim.docs_memo == 'received' ? '' : 'red_back'}"
          %tr
            %td.text_right= f.label :docs_ticket
            %td= f.select :docs_ticket, (Claim::DOCUMENTS_STATUSES).collect {|o| [ t(".documents_statuses.#{o}"), o ] },
              {}, :class => "#{ @claim.docs_ticket == 'received' ? '' : 'red_back'}"
          %tr
            %td.text_right= f.label :docs_note
            %td= f.text_field :docs_note

    #center_block
      %div.clr
        %table#indicators.left_inside
          %tr
            %td.framed.tourist_debt_ind{ :class => (@claim.has_tourist_debt? ? 'red_back' : 'green_back') }
              = (@claim.tourist_debt? ? t('yep') : t('nope'))
            %td= t('.tourist_debt')
          %tr
            %td.framed.operator_debt_ind{ :class => (@claim.has_operator_debt? ? 'red_back' : 'green_back') }
              = (@claim.operator_debt? ? t('yep') : t('nope'))
            %td= t('.operator_debt')
          %tr
            %td.framed.documents_ready_ind{ :class => (@claim.documents_ready? ? 'green_back' : 'red_back' ) }
              = (@claim.documents_ready? ? t('yep') : t('nope'))
            %td= t('.documents_ready')
          %tr
            %td.framed.has_notes_ind{ :class => (@claim.has_notes? ? 'red_back' : 'green_back' ) }
              = (@claim.has_notes? ? t('yep') : t('nope'))
            %td= t('.has_notes')

        %table#registration
          %tr
            %td= f.label :reservation_date
            %td.datepicker= f.text_field :reservation_date, :class => ('datepicker')
          %tr
            %td= f.label :user_id, t('.user')
            %td= f.label :office_id, t('.office')
          %tr
            %td= f.select :user_id, User.all.collect {|o| [ o.first_last_name, o.id ] }, {}, :class => 'small'
            %td= f.select :office_id, Office.all.collect {|o| [ o.name, o.id ] }, {}, :class => 'small'

      .data_block
        %h2= t('.marchroute')
        %table#marchroute
          %tr
            %th{ :colspan => 2 }
              Вылет
            %th{ :colspan => 2 }
              = f.label :operator_id, t('.operator')
          %tr
            %td{ :colspan => 2 }
              = f.text_field :city, :class => 'autocomplete city', :value => @claim.city.try(:name)
            %td{ :colspan => 2 }
              = f.text_field :operator, :class => 'autocomplete operator', :value => @claim.operator.try(:name)
          %tr
            %th= f.label :country, t('.direction')
            %th= f.label :resort
            %th{ :colspan => 2 }
              = f.label :hotel
          %tr
            %td= f.text_field :country, :class => 'autocomplete country', :value => @claim.country.try(:name)
            %td= f.text_field :resort, :class => 'autocomplete resort', :value => @claim.resort.try(:name)
            %td{ :colspan => 2 }
              = f.text_field :hotel, :class => 'autocomplete hotel'
          %tr
            %th= f.label :meals
            %th= f.label :placement
            %th= f.label :nights
            %th= f.label :memo
          %tr
            %td= f.text_field :meals, :class => 'autocomplete meals'
            %td= f.text_field :placement, :class => 'autocomplete placement'
            %td= f.select :nights, (1..30).to_a
            %td= f.text_field :memo

        %table#arrival_date
          %tr
            %th{ :colspan => 4 }= t('.arrival_date')
          %tr
            %td.text_right= t('.from')
            %td= f.text_field :arrival_date, :class => 'datepicker red'
            %td.text_right= t('.til')
            %td= f.text_field :departure_date, :class => 'datepicker red'

      .data_block
        %h2= t('.tour_price')
        %div{ :style => 'float:none'}
          #courses_block
            %p
              = f.label :course_eur
              = f.text_field :course_eur, :class => 'countable'
              = link_to t('.reset'), '#'
            %p
              = f.label :course_usd
              = f.text_field :course_usd, :class => 'countable'
              = link_to t('.reset'), '#'

        %table#tour_price
          %tr
            %th{ :colspan => 2 }
              = f.label :tour_price
            %th{ :colspan => 4 }
              = f.label :visa_price
          %tr{ :class => 'countable' }
            %td= f.text_field :tour_price, :class => 'red'
            %td= f.select :tour_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
            %td= f.text_field :visa_price
            %td= f.select :visa_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
            %td= f.label :visa_count
            %td= f.select :visa_count, (0..30).to_a
          %tr
            %th{ :colspan => 2 }
              = f.label :insurance_price
            %th{ :colspan => 2 }
              = f.label :additional_insurance_price
            %th{ :colspan => 2 }
              = f.label :fuel_tax_price
          %tr{ :class => 'countable' }
            %td= f.text_field :insurance_price
            %td= f.select :insurance_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
            %td= f.text_field :additional_insurance_price
            %td= f.select :additional_insurance_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
            %td= f.text_field :fuel_tax_price
            %td= f.select :fuel_tax_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
          %tr
            %th{ :colspan => 6 }
              = f.label :primary_currency_price
          %tr
            %td
              = f.text_field :primary_currency_price, :class => 'red'
            %td{ :colspan => 5 }
              = text_field_tag :price_as_string,
                RuPropisju.amount_in_word(@claim.primary_currency_price, CurrencyCourse::PRIMARY_CURRENCY), :class => 'red', :disabled => true
          %tr
            %th{ :colspan => 6 }
              = f.label :calculation
          %tr
            %td{ :colspan => 6 }
              = f.text_field :calculation

        %h2= t('.payments_in')
        %table#payments_in
          %tr.header
            %th= t('.date')
            %th= t('.paid')
            %th= t('.currency')
            %th= t('.paid_in_word')
          - ind = 0
          = f.fields_for :payments_in do |builder|
            %tr.fields{ :id => "payment_in_#{ind}"}
              %td.datepicker= builder.text_field :date_in, :class => 'datepicker date_in'
              %td.amount= builder.text_field :amount, :class => 'amount'
              %td= builder.select :currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }, {}, :class => 'currency'
              %td= builder.text_field :description, :class => 'description', :disabled => true
              %td= link_to 'X', '#', :class => 'del', :id => "del#{ind}"
            = builder.hidden_field :id
            - ind += 1
          %tr.footer
            %td= f.label :maturity
            %td.datepicker= f.text_field :maturity, :class => 'datepicker'
            %td= f.label :tourist_debt
            %td= f.text_field :tourist_debt, :disabled => true, :class => 'red'
          %tr.bottom
            %td{ :colspan => 4}
              = link_to t('.add_another_payment'), '#', :class => 'add'

        %h2= t('.payments_out')
        %table#payments_out
          %tr
            %td= f.label :operator_price
            %td.amount
              = f.text_field :operator_price
            %td
              = f.select :operator_price_currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }
            %td= f.label :operator_debt
            %td
              = f.text_field :operator_debt, :disabled => true, :class => 'red'
          %tr.header
            %th= t('.date')
            %th= t('.paid')
            %th= t('.currency')
            %th= t('.paid_type')
          - ind = 0
          = f.fields_for :payments_out do |builder|
            %tr.fields{ :id => "payment_out_#{ind}"}
              %td.datepicker= builder.text_field :date_in, :class => 'datepicker date_in'
              %td.amount= builder.text_field :amount, :class => 'amount'
              %td= builder.select :currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }, {}, :class => 'currency'
              %td{ :colspan => 2 }
                = builder.text_field :form, :class => 'autocomplete payment_form'
              %td= link_to 'X', '#', :class => 'del', :id => "del#{ind}"
            = builder.hidden_field :id
            - ind += 1
          %tr.footer
            %td{ :colspan => 4}
              = link_to t('.add_another_payment'), '#', :class => 'add'

    %p
      = f.submit
