= form_for @claim do |f|
  = f.error_messages
  %p
    = f.label :office_id, t('.office')
    = f.select :office_id, Office.all.collect {|o| [ o.name, o.id ] }
    = f.label :user_id, t('.user')
    = f.select :user_id, User.all.collect {|o| [ o.first_last_name, o.id ] }
  %hr

  %p
    = f.label :operator_confirmation, t('.operator_confirmation'), :class => 'narrow'
    = f.text_field :operator_confirmation, :class => 'narrow'

    = f.label :visa, t('.visa'), :class => 'narrow'
    = f.text_field :visa, :class => 'narrow'

    = f.label :check_date, t('.check_date'), :class => 'narrow'
    = f.text_field :check_date, :class => 'narrow'

  %p
    = f.label :operator_id, t('.operator')
    = f.select :operator_id, Operator.all.collect {|o| [ o.name, o.id ] }
  %p
    = f.label :tourist_id, t('.tourist')
    = f.select :tourist_id, Tourist.all.collect {|o| [ o.first_last_name, o.id ] }

  = t('.flights')
  %table
    %tr
      %th
      %th= t('.there')
      %th= t('.back')
    %tr
      %td= f.label :airport_to, t('.airport')
      %td= f.text_field :airport_to
      %td= f.text_field :airport_back
    %tr
      %td= f.label :flight_to, t('.flight')
      %td= f.text_field :flight_to
      %td= f.text_field :flight_back
    %tr
      %td= f.label :depart_to, t('.depart')
      %td= f.text_field :depart_to
      %td= f.text_field :depart_back
    %tr
      %td= f.label :time_to, t('.time')
      %td= f.text_field :time_to
      %td= f.text_field :time_back
  %p
    = f.label :description, t('.description')
    %br
    = f.text_area :description, :cols => 80, :rows => 6


  %p
    = f.submit
