#information.information_block.form_block.grey_block
  .block_title
    %h2= t('.additional_information')
  .form_block_content
    .fake_row.row1
      .clearfix
        .fake_col.col1
          .two_line
            %p= f.label :documents_status, t('.trip_documents')
            = f.select :documents_status , documents_statuses_for_select, {}, :class => "#{claim.documents_status} documentation_select #{'error' if claim.documents_status != Claim::DOCUMENTS_STATUSES.last}"
        .fake_col.col2
          .two_line
            %p= f.label :tourist_stat, t('.tourist_stat')
            = f.text_field :tourist_stat, :class => 'autocomplete tourist_stat documentation_select', data: ac_data(source: dropdown_autocomplete_claims_path('tourist_stat')), wrapper: { class: 'autocomplete-wrap' }
    .fake_row.row2
      .two_line
        %p= f.label :docs_note
        = f.text_area :docs_note, :rows => 6
      .two_line.special_offer
        = f.label :special_offer, t('.special_offer'), :class => 'checkbox', :style => "padding-left:20px;", :id => "special_offer_checkbox", :data => t('.special_offer_warning', :value => claim.applicant.full_name)
        = f.check_box :special_offer