#information.form_block.grey_block
  .block_title
    %h2= t('.additional_information')
  .form_block_content
    .fake_row
      .two_line
        %p= f.label :documents_status, t('.trip_documents')
        = f.select :documents_status , (Claim::DOCUMENTS_STATUSES).collect {|o| [ t('claims.documents_statuses.' << o), o ] }, {},
            :class => "#{claim.documents_status} documentation_select #{'error' if claim.documents_status != Claim::DOCUMENTS_STATUSES.last}"
      .two_line
        %p= f.label :tourist_stat, t('.tourist_stat')
        = f.select :tourist_stat, I18n.t("intervals.channels").map{|o| o[1]}
    .fake_row
      .two_line
        %p= f.label :docs_note
        = f.text_area :docs_note, :rows => 6, :class => 'docs_note'
    .fake_row
      .two_line
        = f.label :special_offer_get, t('.special_offer'), :class => 'checkbox', :style => "padding-left:20px;", :id => "special_offer_checkbox", :data => t('.special_offer_warning', :value => claim.applicant.full_name)
        = f.check_box :special_offer_get