.claims
  .filter_bar
    - if is_admin? or is_boss? or is_supervisor?

      = label_tag :office_id, t('.office')
      = select_tag :office_id,  options_from_collection_for_select(current_company.offices, 'id', 'name', params[:office_id]),
        :include_blank => true

      = label_tag :user_id, t('.user')
      = select_tag :user_id,  options_from_collection_for_select(current_company.users, 'id', 'first_last_name', params[:user_id]),
        :include_blank => true

    - else

      = check_box_tag :only_my, nil, (params[:only_my] == '1')
      = label_tag :only_my, t('.only_my')

  %table#claims{ :rules => 'all'}
    %tr
      %th= sortable 'id', t('claims.index.num')
      %th= sortable 'reservation_date', t('claims.index.reservation_date')
      %th.medium= sortable 'tourist_stat', t('claims.index.tourist_stat')
      %th= sortable 'user_id', t('claims.index.manager')
      %th.w75= sortable 'applicant.last_name', t('claims.index.full_name')
      %th= t('claims.index.phone_number')
      %th.medium= sortable 'depart_to', t('claims.index.depart_to')
      %th.medium= sortable 'depart_back', t('claims.index.depart_back')
      %th= sortable 'countries.name', t('claims.index.to')
      %th.medium= sortable 'airport_back', t('claims.index.from')
      %th= sortable 'visa', t('claims.index.visa')
      %th.short_date= sortable 'visa_check', t('claims.index.term')
      %th= sortable 'operators.name', t('claims.index.operator')
      %th= sortable 'operator_confirmation', t('claims.index.operator_confirmation')
      %th= sortable 'primary_currency_price', t('claims.index.price')
      %th.medium= sortable 'calculation', t('claims.index.calculation')
      %th= sortable 'tourist_advance', t('claims.index.advance')
      %th= sortable 'tourist_debt', t('claims.index.debt')
      %th.thick_border= sortable 'operator_price', t('claims.index.operator_price')
      %th.short_date= sortable 'operator_maturity', t('claims.index.operator_payment_term')
      %th= sortable 'operator_advance', t('claims.index.operator_paid')
      %th= sortable 'operator_debt', t('claims.index.operator_debt')
      - if params[:list_type] == 'accountant_list'
        %th.w45px.thick_border.green_back= sortable 'approved_tourist_advance', t('claims.index.advance')
        %th.w45px.green_back= sortable 'approved_operator_advance', t('claims.index.operator_paid')
        %th.w45px.green_back= sortable 'approved_operator_advance_prim', t('claims.index.operator_paid_prim')
        %th.w45px.green_back= sortable 'profit', 'Нац-ка'
        %th.w45px.green_back= sortable 'profit_in_percent', '%'
      %th.thick_border= sortable 'docs_ticket', t('claims.index.docs')
      %th.w50= sortable 'docs_note', t('claims.index.memo')
      %th.w50= sortable 'check_date', t('claims.index.check_date')
      %th.last_cols
      %th.last_cols
    - @claims.each do |claim|
      %tr{ :class => claim.canceled? && 'gray_back' }
        %td= claim.id
        %td= l( claim.reservation_date, :format => :default )
        %td{ :full_value => claim.tourist_stat }
          = truncate(claim.tourist_stat, :length => 4)
        %td{ :full_value => claim.user.login, :style => "background-color:#{claim.user.color}" }
          = truncate(claim.user.login, :length => 8)
        %td{ :full_value => tourists_list(claim) }
          = truncate(claim.applicant.try(:initials_name), :length => 8)
        %td{ :full_value => claim.applicant.try(:phone_number) }
          = truncate(claim.applicant.try(:phone_number), :length => 10)
        %td{ :class => color_for_flight(claim), :full_value => l(claim.depart_to, :format => :long) }
          = l( claim.depart_to, :format => :short_date )
        %td{ :full_value => l(claim.depart_back, :format => :long) }
          = l( claim.depart_back, :format => :short_date )
        %td{ :full_value => claim.country.try(:name) }
          = truncate(claim.country.try(:name), :length => 8)
        %td{ :full_value => claim.city.try(:name) }
          = truncate(claim.city.try(:name), :length => 6)
        %td{ :full_value => text_for_visa(claim), :class => (!claim.canceled? && claim.visa_confirmation_flag) && claim.visa }
          = text_for_visa(claim)
        %td{ :full_value => l( claim.visa_check, :format => :short ), :class => (!claim.canceled? && claim.visa_confirmation_flag) && claim.visa  }
          = l( claim.visa_check, :format => :short )
        %td{ :full_value => claim.operator.try(:name) }
          = claim.operator.try(:name)
        %td{ :full_value => claim.operator_confirmation, :class => !claim.canceled? && !claim.operator_confirmation_flag && 'red_back' }
          = truncate(claim.operator_confirmation, :length => 10)
        %td{ :full_value => claim.primary_currency_price.to_money }
          = claim.primary_currency_price.to_money
        %td{ :full_value => claim.calculation }
          = truncate(claim.calculation, :length => 8)
        %td{ :full_value => claim.tourist_advance.to_money, :class => color_for_tourist_advance(claim)}
          = claim.tourist_advance.to_money
        %td{ :full_value => claim.tourist_debt.to_money, :class => !claim.canceled? && color_for_tourist_advance(claim) }
          = claim.tourist_debt.to_money
        %td.thick_border{ :class => !claim.canceled? && color_for_operator_debt(claim), :full_value => (claim.operator_price > 0) && "#{claim.operator_price_currency.upcase}: #{claim.operator_price.to_money}" }
          = truncate(operator_price(claim), :length => 6) if claim.operator_price > 0
        %td{ :full_value => l(claim.operator_maturity, :format => :short) }
          = l( claim.operator_maturity, :format => :short )
        %td{ :full_value => claim.operator_advance.to_money, :class =>  !claim.canceled? && color_for_operator_advance(claim) }
          = claim.operator_advance.to_money
        %td{ :full_value => claim.operator_debt.to_money, :class =>  (!claim.canceled? && claim.operator_debt != 0) && 'red_back' }
          = claim.operator_debt.to_money
        - if params[:list_type] == 'accountant_list'
          %td.thick_border= approved_advance(claim, :tourist)
          %td= approved_advance(claim, :operator)
          %td= approved_advance(claim, :operator_prim)
          %td= claim.profit.to_money if claim.profit > 0
          %td= claim.profit_in_percent.to_percent if claim.profit > 0
        %td.thick_border{ :class => !claim.canceled? && claim.documents_status }
          = t('claims.form.documents_statuses.' << claim.documents_status)
        %td{ :class => (!claim.memo_tasks_done and claim.memo != '') && 'red_back', :full_value => claim.memo }
          = truncate(claim.memo, :length => 8)
        %td{ :full_value => l( claim.check_date, :format => :default ), :class => check_date_status(claim) }
          = l( claim.check_date, :format => :default )
        %td{ :full_value => claim.docs_note }
          %strong{ :style => 'padding: 0pt 4pt;' }= '!' unless claim.docs_note.empty?
        %td
          = link_to edit_claim_path(claim) do
            = image_tag 'edit_icon.png', :title => t('edit')

  = will_paginate @claims
