.claims.current_container.claim_list_v2
  .reservations_wrapper
    %table#claims.reservations{ :rules => 'all'}
      %thead
        %tr.claims_header
          %th.last_cols
          %th= sort_link 'reservation_date', t('claims.index.reservation_date'), :desc
          %th= sort_link 'tourist_stat', t('claims.index.tourist_stat_br')
          - if show_office
            %th.blue_box
              = sort_link 'office', t('claims.index.office')
              = sort_link 'user_id', t('claims.index.manager')
          - else
            %th.blue_box= sort_link 'user_id', t('claims.index.manager')
          %th.blue_box= sort_link 'applicant', t('claims.index.full_name')
          %th.blue_box= sort_link 'phone_number', t('claims.index.phone_number')
          %th.sand_box.short= sort_link 'arrival_date', t('claims.index.arrival_date')
          %th.sand_box.short= sort_link 'departure_date', t('claims.index.departure_date_br')
          %th.sand_box= sort_link 'country', t('claims.index.to')
          %th.sand_box= sort_link 'airport_back', t('claims.index.from')
          %th.sand_box= sort_link 'visa', t('claims.index.visa')
          %th.sand_box.short= sort_link 'visa_check', t('claims.index.term')
          %th= sort_link 'operator', t('claims.index.operator')
          %th= sort_link 'operator_confirmation', t('claims.index.operator_confirmation')
          %th.purple_box.medium= sort_link 'primary_currency_price', t('claims.index.price')
          %th.purple_box.medium= sort_link 'calculation', t('claims.index.calculation')
          %th.purple_box.medium= sort_link 'tourist_advance', t('claims.index.advance')
          %th.purple_box.medium= sort_link 'tourist_debt', t('claims.index.debt')
          %th.purple_box.medium= sort_link 'operator_price', t('claims.index.operator_price')
          %th.purple_box.short= sort_link 'operator_maturity', t('claims.index.operator_payment_term')
          %th.purple_box.medium= sort_link 'operator_advance', t('claims.index.operator_paid')
          %th.purple_box.medium= sort_link 'operator_debt', t('claims.index.operator_debt')
          - if show_accountant_columns
            %th.thick_border.green_back.medium= sort_link 'approved_tourist_advance', t('claims.index.advance')
            %th.green_back.medium= sort_link 'approved_operator_advance', t('claims.index.operator_paid')
            %th.green_back.medium= sort_link 'approved_operator_advance_prim', t('claims.index.operator_paid_prim')
            %th.green_back.medium= sort_link 'profit_acc', 'Нац-ка'
            %th.green_back.medium= sort_link 'profit_in_percent_acc', '%'
            - if show_bonus_columns
              %th.green_back.medium= sort_link 'profit', 'Нац-ка план.'
              %th.green_back.medium= sort_link 'profit_in_percent', '%'
              %th.green_back.medium= sort_link 'bonus_percent', '% премии'
              %th.green_back.medium= sort_link 'bonus', 'Премия'
          %th{ :class => show_accountant_columns && 'thick_border' }= sort_link 'documents_status', t('claims.index.docs')
          %th= sort_link 'docs_note', t('claims.index.memo')
          %th= sort_link 'check_date', t('claims.index.check_date')

      %tbody#claims_body
        = render partial: 'claims_v2', object: @claims, locals: { totals: @totals }

        - if next_page <= @claims_collection.total_pages
          %tr{ :class => "waypoint", :data => {:page => next_page} }

  - content_for(:fixed_pagination) do
    = render :partial => 'shared/pagination', :locals => { :path_helper => :claims_path, :collection => @claims_collection || @claims, :per_page_list => [30, 50, 100] }

  - if request.xhr?
    #content_for.content_for{ data: { fixed_pagination: content_for(:fixed_pagination).gsub("\n", '') } }