.claims_list_new
  .claims.current_container
    .reservations_wrapper
      %table#claims.reservations{ :rules => 'all'}
        %thead
          %tr.claims_header
            %th
            %th.applicant= sort_link 'applicant', t('activerecord.attributes.client.last_name')
            %th.country= sort_link 'country', t('claims.index.direction')
            %th.departure_date= sort_link 'departure_date', t('claims.index.dep_new_date')
            %th.user_id= sort_link 'user_id', t('claims.index.creator')
            %th.reservation_date= sort_link 'reservation_date', t('claims.index.res_new_date'), :desc
            %th
        %tbody#claims_body
          = render partial: 'claims_new', object: @claims, locals: { totals: @totals }

          - if next_page <= @claims_collection.total_pages
            %tr{ :class => "waypoint", :data => {:page => next_page} }

    - content_for(:fixed_pagination) do
      = render :partial => 'shared/pagination', :locals => { :path_helper => :claims_path, :collection => @claims_collection || @claims, :per_page_list => [30, 50, 100] }

    - if request.xhr?
      #content_for.content_for{ data: { fixed_pagination: content_for(:fixed_pagination).gsub("\n", '') } }