.claims
  %table#claims{ :rules => 'all'}
    %tr
      %th= sortable 'reservation_date', t('claims.index.reservation_date')
      %th= sortable 'user_id', t('claims.index.manager')
      /%th= sortable 'applicant.last_name', t('claims.index.full_name')
      %th= t('claims.index.full_name')
      %th= sortable 'countries.name', t('claims.index.to')
      %th= sortable 'airport_back', t('claims.index.from')
      %th= sortable 'visa', t('claims.index.visa')
      %th= sortable 'check_date', t('claims.index.term')
      %th= sortable 'depart_to', t('claims.index.depart_to')
      %th= sortable 'depart_back', t('claims.index.depart_back')
      %th= sortable 'operators.name', t('claims.index.operator')
      %th= sortable 'id', t('claims.index.claim')
      %th= sortable 'primary_currency_price', t('claims.index.price')
      %th= sortable 'calculation', t('claims.index.calculation')
      %th= sortable 'tourist_advance', t('claims.index.advance')
      %th= sortable 'tourist_debt', t('claims.index.debt')
      %th= sortable 'maturity', t('claims.index.payment_term')
      %th= sortable 'tourist_paid', t('claims.index.paid')
      %th= sortable 'docs_ticket', t('claims.index.docs')
      %th= sortable 'docs_note', t('claims.index.memo')
      %th= sortable 'check_date', t('claims.index.check_date')
      %th
    - @claims.each do |claim|
      %tr
        %td= claim.reservation_date
        %td{ :style => "background-color:#{claim.user.color}" }
          = claim.user.login
        %td= claim.applicant.try(:full_name)
        %td= claim.country.try(:name)
        %td= claim.city.try(:name)
        %td{ :class => claim.visa }
          = claim.visa_confirmation_flag ? t('got') : t('nope')
        %td= claim.check_date
        %td{ :class => claim.flight_status }
          = claim.depart_to.strftime('%d-%m-%Y %H:%M') if claim.depart_to
        %td{ :class => claim.flight_status }
          = claim.depart_back.strftime('%d-%m-%Y %H:%M') if claim.depart_back
        %td= claim.operator.try(:name)
        %td= claim.id
        %td= claim.primary_currency_price
        %td= claim.calculation
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.tourist_advance.to_money
        %td{ :class => "#{ claim.has_tourist_debt? ? 'red_back' : '' }" }
          = claim.tourist_debt.to_money
        %td= claim.maturity.strftime('%d-%m-%Y') if claim.maturity
        %td{ :class => "#{ claim.early_reservation ? 'green_back' : '' }" }
          = claim.tourist_paid
        %td{ :class => "#{ claim.documents_ready? ? '' : 'red_back'  }" }
          = claim.documents_ready? ? t('claims.index.ready') : t('claims.index.not_ready')
        %td{ :class => "#{ claim.docs_note == ''? '' : 'red_back' }" }
          %div{ :class => "#{ claim.docs_note == ''? '' : 'tooltip' }" }
            = claim.docs_note == '' ? t('nope') : t('yep')
            %span
              = claim.docs_note
              %small
        %td{ :class => "#{ claim.closed ? '' : 'red_back'  }"}
          = claim.check_date
        %td
          = link_to t('edit'), edit_claim_path(claim)
          = link_to t('destroy'), claim, :confirm => t('are_you_sure'), :method => :delete

  = will_paginate @claims
