!!!
%head
  %title Памятка по Египту
  = stylesheet_link_tag 'memo'
%body
  #content
    #top
      %h2 Памятка по Египту
      %h2.underline Уважаемые туристы: Эдуард и Марина!
    #reset
      %p
        = "Вы отправляетесь в #{@claim.country.try(:name)} (#{@claim.resort.try(:name)}),"
        %b Отель
        %b.uppercase= @claim.hotel
        = "питание – #{@claim.meals}"
      %p
        Вылет из г.
        %b= '' + @claim.city.try(:name) + (@claim.depart_to.strftime(' %d/%m/%Y'))
        = "через аэропорт #{@claim.airport_to}, рейс"
        %b.uppercase= @claim.flight_to
        = succeed "," do
          в
          %b= @claim.depart_to.strftime(' %H час.  %M мин.')
        = "#{@claim.city.try(:name)} - #{@claim.resort.try(:name)} , ориентировочное прибытие в г. #{@claim.resort.try(:name)} в"
        %b XX час. XX мин.
      %p
        Обратный вылет из г.
        %b= '' + @claim.resort.try(:name) + (@claim.depart_back.strftime(' %d/%m/%Y'))
        = "через аэропорт #{@claim.airport_back}, рейс"
        %b.uppercase= @claim.flight_back
        = succeed "," do
          в
          %b= @claim.depart_back.strftime(' %H час.  %M мин.')
        = "#{@claim.resort.try(:name)} - #{@claim.city.try(:name)} , ориентировочное прибытие в г. #{@claim.city.try(:name)} в"
        %b XX час. XX мин.
      %p.important
        %b
          Вам необходимо прибыть в аэропорт за 2 часа до вылета. За 50 минут регистрация пассажиров на рейс заканчивается.
          %br/
          В аэропорту Казанском в зале международных вылетов с табличкой PEGAS TOURISTIK Вас будет ожидать представитель фирмы, от него вы получите билет на самолет, ваучер на поселение в отель,медицинскую справку.
          Тел. Pegas 221-89-89
      %h2.uppercase время вылета может измениться, просьба накануне вылета уточнить полетный график.
      %p Надеемся, что предоставленная ниже для вас информация будет для Вас полезной.
      %p Ценные вещи в самлете лучше не сдавать в багаж.
      %p В Египте не исключено случаи замены забронированного отеля.
      %p В это случае рекомендуем вести себя следующим образом:
      %ul
        %li ‐если забронированный отель Вас принять не может, то не настаивайте на этом. Лучше потребовать предоставить Вам на выбор несколько отелей данной категории или на 1* выше.
        %li ‐заселяйтесь только в том случае, если отель Вам понравился. До этого Ваши вези оставляйте в автобусе.
        %li ‐прежде,чем заселиться в номер, также убедитесь, что он Вас устраивает, и только потом заносите свои вещи. В противном случае добиться переселения или замены отеля будет намного сложнее.
        %li ‐со всеми возникшими проблемами образайтесь к игду встречающей стороны.
      %h2.uppercase документы.
      %p Перед отъездом в аэропорт проверьте наличие следующих документов:
      %ul
        %li
          \‐
          %b.underline заграничный паспорт
          (сроком действия не менее 3 месяцев). Рекомендуем сделать ксерокпию загранпаспорта и хранить ее отдельно на случай утери.
        %li ‐авиабилет,
        %li ‐ваучер,
        %li ‐страховой полис,
        %li ‐свидетельство о рождении ребенка
        %li
          \‐
          %b Если ребенок следует без родителей – обязательно нотариальное разрешение от родителей!!!
      %p Примерно через 4,5 часа Вы прибываете в Египет.
      %h2.uppercase в а/п египта.
      %p
        По прибытию подойдите к визовому окошку, заплатите 15 долларов за визу. Пройдите на паспортный контроль. Сотрудник иммиграционной службы проставят штамп о прилете.Получите свой багаж
        Обязательно внесите в декларацию все электронное оборудование, антикварные предметы и ювелирные украшения (их наличие могут проверить при выезде). Ввоз и вывоз иностранной валюты не ограничен.
        Разрешен беспошлинный ввоз предметов личного пользования, 200 сигарет, 250 гр. табака или 50 сигар,а также литра спиртного. Два литра алкогольных напитков и 24 банки пива иностранные туристы могут
        приобрести в период пребывания в Египте в магазинах беспошлинной торговли, расположенных во всех туристических центрах. Отметка о приобретении алкогольных напитков проставляется в паспорт покупателя,
        и купить спиртное можно только в течение 24 часов после прилета.
      %p
        Купив в Египте кальян, нужно помнить о том, что на таможне все его металлические части могу попросить сдать в багаж. Из Египта категорически запрещается вывозить
        кораллы, морские раковины, чучела крокодилов, слоновую кость, за нарушение этого запрета взымаются солидные штрафы.Туристы, купившие эти вещи в качестве сувениров, должны будут предъявить
        чек из магазина.
      %p Далее пройдите через "Зеленый коридор" таможни. В зале прилета Вас будет встречать представитель компании.
      %h2.uppercase в отеле.
      %p По вопросам рамещения в отеле, выбора экскурсий, графика отъезда из отеля и.т.п. обращайтесь к Вашему гиду. Мобильный телефон гида размещен на информационном стенде в отеле.
      %h2.uppercase время
      %p Египетское время отстает от московского на 1 час.
      %h2.uppercase климат.
      %p
        Климат тропический и субтропический континентальный (на побережье Средиземного моря). Средняя температура воздуха летом (с мая по сентябрь) +35..+40°C, зимой (с декабря по февраль) +20..+25°С.
        Зимой и весной часто дуют сухие горячие ветры "хамсин".
      %p Купальный сезон в стране длится весь год: Красное море хорошо прогревается за лето, и даже в зимние месяцы температура воды не опускается ниже +20..+21°C.
      %h2.uppercase деньги.
      %p Египетский фунт/LE (1 фунт = 100 пиастров), 1 USD =∼5,5 LE, 1 EUR =∼ 7,1 LE.
      %h2.uppercase транспорт.
      %p
        Городской транспорт на основных курортах не отличается особоым разнообразием: он представлен местным эквивалентом "маршруток" и такси. Маршрутные микроавтобусы ходят в центральной части курортов вдоль побережья.
        Стоимость проезда – около 2 LE с человека в одном направлении. Такси на курортах можно нанять за 15‐30 LE днем и за 20‐40 LE ночью (в Каире – гораздо дешевле). Всегда необходимо заранее догвариваться
        с водителемо сумме.
      %p Не стоит в Египте автомобиль на прокат: большинство местных водителей имеет самое отдаленное представление о правилах поведения на дороге. Особеннно это касается Каира.
      %h2.uppercase национальные особенности.
      %p
        Стоит помнить, что оголенные плечи и мини‐юбки – не самая удачная форма одежды для прогулок за пределами территории отеля. В самих отелях следуется пользоваться сейфом: случаи воровства – не редкость.
        Воду из‐под крананельзя пить и даже чистить ею зубы – велик риск расстроить этой оплошностью желудочно‐кишечный тракт на добрую половину отдыха. Наконец, нелишний раз напомним: там, где на входе в море есть кораллы,
        нельзя соваться в воду без специальных тапочек, да и плескаться возле них следует осторожно.
      %p Повышенное внимание аборигенов к женщинам – общеизвестный факт, но если не подавать повода, то на этом дело и закончится. В крайнем случае, есть два волшебных слова "туристическая полиция".Отстанут моментально.
      %h2.uppercase здоровье.
      %p
        Пользуйтесь водой из пласткивых бутылок, купленных в магазине или предложенных в мини‐баре. Будьте осторожны в первые дни на солнце. Старайтесь первое время больше находиться в тени. Используйте средства, защищающие Вашу кожу от обгорания.
        Носите головной убор.
      %p Если с Вами произошел несчастный случай, позвоните в сервисную службу страховой компании по телефону из страхового свидетельства, сообщите о своем страховом случае. Следуйте указаниям опрератора круглосуточного русскогоязычного центра медицинской сервисной компании.
      %h2.uppercase чаевые
      %p
        В Египте принято давать чаевые (бакшиш) за мелкие услуги. При хорошем сервисе можно добавлять 5-10% от суммы счета. Считается, что заслуживают поощерения водители автобусов, носильщики, горничные в гостинице, экскурсоводы, если клиент остался доволен обслуживанием.
        Размер чаевых зависит от ситуации, но не может быть меньше одного фунта.
      %h2.uppercase телефоны.
      %p Посольство Арабской Республики Египет в Москве: Кропоткинский пер., 12;тел.: (495) 246-30-96, 246-30-80, факс: (495) 246-10-64
      %p Посольство РФ в Египте: 95, EL‐Giza St., Giza, тел. (23) 748-91-54
      %p Полиция: 122, скорая помощь: 123, пожарные: 125
      %p В Хургаде: туристическая полиция: 446 – 765, полицейское управление: 446 – 359, госпиталь: 446 – 740, аэропорт: 442 – 831
      %p В Шарм‐эль‐Шейхе: туристическая полиция: 600 – 675, полицейское управление: 660 – 306, скорая помощь: 600 – 554, госпиталь: 661 – 011, аэропорт: 601 – 140
      %p Коды городов: Хургада, Эль‐Гуна, Макади‐Бэй, Сома‐Бэй, Сафага и Эль‐Кусейр – 65, Марса‐Алам и Порт‐Галиб – 12, Шарм‐эль‐Шейх, Дахаб и Таба – 69, Нувейба – 62, Каир – 2.
      %h2.uppercase выезд из египта.
      %p
        %b Обязательно за день уточните время вылета чартерного рейса. Рейсы очень часто переносят, об этом вы должны знать накануне.
      %p Расчетный час в отелях обычно – 12 часов. К этому времени Вы должны освободить номер. За полчаса до отъезда из гостиницы не забудьте оплатить счета за мини‐бар, ресторан, телефон и.т.п.
      %p
        Регистрация в аэропорту начинается за 2 часа до вылета. запрещен вывоз из Египта национальной египетской валюты, предметов старины, кораллов и другой морской флоры и фауны (даже подобранных на берегу). В случае нарушения данного запрета вы будете оштрафованы.
        Можно вывозить сумму, не превышающую 1000$. Декларация обязательна.
      %p Зарещено вывозить из страны антиквариат. (Если вы купили ковер, необходимо получить сертификат какого‐нибудь музея, что ковер не является антикварным).
      %p Запрещен вывоз наркотиков, оружия и боеприпасов.
    #center
      %h2.uppercase желаем вам приятного отдыха в Египте!
      %p
        %b Ваше агенство
        %b.uppercase mistral
      %p
        %a{:href => "http://www.mistral-club.ru"} www.mistral-club.ru
      %p
        Тел. Офис в Корстоне 236-6150, 236-6160
        Офис в Сакуре 238-6050, 238-6053, 238-6054
      %p Телефоны круглосуточной поддержки:
      %p
        89033-415-915 Татьяна
        89600-32-82-92 Александр
