#payments_in.form_block.green_block
  .block_title
    %h2= t('.payments_in')
  .form_block_content
    - ind = 0
    = f.fields_for :payments_in, :highlight_only => [:amount] do |pif|
      - payment_in = pif.object
      .fake_row.fields{ :id => "payment_in_#{ind}", :class => payment_in.new_record? && 'new_record' }
        .two_line
          %p= pif.label :date_in, t('.date')
          = pif.text_field :date_in, :class => 'datepicker date_in date', :value => l(payment_in.date_in, :format => :long),
              :not_highlighted => true
        .two_line
          %p= pif.label :amount, t('.paid')
          = pif.text_field :amount, :class => 'amount date'
          %label= t('rur')
          -# pif.select :currency, (CurrencyCourse::CURRENCIES).collect {|o| [ o.upcase, o ] }, {}, :class => 'currency', :disabled => true
        .two_line
          %p= pif.label :description, t('.paid_in_word')
          = pif.text_field :description, :class => 'description sum disabled', :disabled => true
        .two_line
          %p= pif.label :form, t('.paid_type')
          = pif.select :form, current_company.dropdown_for('form').collect {|o| [ o.value, o.value ]}, {},
              :class => 'payment_form payment_select', :not_highlighted => true
          - if is_admin? or is_boss? or is_accountant?
            = pif.label :approved, '&nbsp;'.html_safe, :class => 'checkbox', :title => Payment.human_attribute_name(:approved)
            = pif.check_box :approved, :class => 'approved' #, :disabled => (!is_admin? and !is_boss? and !is_accountant?)
          = link_to '', '#', :class => 'delete', :id => "del#{ind}" unless payment_in.new_record?
        = pif.hidden_field :id

    .fake_row.add_row
      .add_btn.paying
        = link_to t('.add_another_payment'), '#', :class => 'add add_tourist'
      .two_line.due_date
        - if current_width = :small
          = f.label :maturity
        - else
          %p= f.label :maturity
        = f.text_field :maturity, :class => 'datepicker date', :value => l(claim.maturity, :format => :long), :not_highlighted => true
      .two_line.error
        - if current_width = :small
          = f.label :tourist_debt, t('.tourist_debt_short')
        - else
          %p= f.label :tourist_debt
        = f.text_field :tourist_debt, :disabled => true, :class => 'debt text_right'
        %label= t('rur')
    - ind += 1