#tourists.tourists_block.form_block
  .block_title
    %h2= t('.tourists')
  .form_block_content
    .fake_table
      .clearfix
        .col-actions
        .col-main
          .common_fields
            .block-right
              %span.dob= t('.date_of_birth')
              %span.passport= t('.passport')
              %span.expires= t('.passport_expire')
            .block-stretch
              %span.fio= t('.full_name')
          .additional_fields
            %span.tel= t('.phone')
            %span.tourist_address= t('.address')

    = f.fields_for :applicant_attributes, @claim.applicant, :wrapper => true do |af|
      .fake_row.applicant.fields
        .clearfix
          .col-actions
            .delete-wrap
              %a.delete
          .col-main.clearfix
            .common_fields
              = render :partial => 'tourist', :locals => { :f => af }
            .additional_fields
              .block-right
                .wrap-input.address-wrap
                  = af.label :address, t('.address') + ':'
                  = af.text_field :address, :value => af.object.address.try(:joint_address), :class => 'address', wrapper: false
              .block-stretch
                .col1
                  .wrap-input.phone-wrap
                    = af.label :phone_number, t('.phone') + ':'
                    = af.text_field :phone_number, :class => 'phone_number phone', wrapper: false
                .col2
                  .wrap-input.email-wrap
                    = af.label :email, t('.email') + ':', :required => false
                    = af.text_field :email, :class => 'email', wrapper: false

    - ind = 0
    - @claim.dependents << Tourist.new
    = f.fields_for :dependents, :wrapper => true do |df|
      .fake_row.dependent.fields{ :id => "dependent-#{ind}", :class => df.object.try(:_destroy) && 'destroyed' }
        .clearfix
          .col-actions
            .delete-wrap
              %a.delete
          .col-main.clearfix
            .common_fields
              = render :partial => 'tourist', :locals => { :f => df, :full_name_label => false }

        = df.hidden_field :_destroy, :class => '_destroy'
        = df.hidden_field :id, :class => 'hidden_id'
        - tourist_claim = @claim.tourist_claims.select{ |r| r.tourist_id == df.object.id }.first
        - if tourist_claim
          = df.hidden_field :tourist_claim_id, :value => tourist_claim.id
      - ind += 1

    .fake_row.add_row
      .add_btn
        = link_to t('.add_another_tourist'), '#', :class => 'add add_tourist'