- content_for(:html_class) { 'edit_page' }
- content_for(:body_class) { 'order panel' }

- title t('.title', :id => @claim.id, :created_at => @claim.created_at)

= form_for @claim, :builder => TourismFormBuilder do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  - if can? :delete, Claim
    = link_to t('delete'), claims_path, :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.list_of_claim'), claims_path, :class => 'list_operator'
