- content_for(:html_class) { 'edit_page' }
- content_for(:body_class) { 'order panel' << (small_width? ? ' edit_tourists' : '') }

- title t('.title', :id => @claim.id, :created_at => l(@claim.created_at, :format => :long))

- highlighted_fields = [:airline, :documents_status, :arrival_date, :departure_date, :resort, :tour_price, :visa_price]
= form_for @claim, :builder => TourismFormBuilder, :highlight_only => highlighted_fields do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  - if can? :delete, Claim
    = link_to t('delete'), claims_path, :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.list_of_claim'), claims_path, :class => 'list_operator'
