- title t('.claims'), false
.bar
  = text_field_tag :filter
  %div
    = current_user.office.try(:name)
  %div.user{ :style => "background-color:#{current_user.color}" }
    = current_user.first_last_name
  = text_field_tag :full_value
= render :partial => 'list'
