- title t('.claims')

- content_for :top do
  / = text_field_tag :full_value
  %form#filter_bar.filter
    = label_tag :filter, t('.search')
    = text_field_tag :filter, nil, :class => 'search'
    = submit_tag "", :class => 'go_search'    

    - if is_admin? or is_boss? or is_supervisor?

      = label_tag :office_id, t('.office')
      = select_tag :office_id,  options_from_collection_for_select(current_company.offices, 'id', 'name', params[:office_id]),
        :prompt => t('nope')

      = label_tag :user_id, t('.user')
      = select_tag :user_id,  options_from_collection_for_select(current_company.users, 'id', 'name_for_list', params[:user_id]),
        :prompt => t('nope')

    - else

      = check_box_tag :only_my, nil, (params[:only_my] == '1')
      = label_tag :only_my, t('.only_my')

    %fieldset
      %a.settings{ :href => "#" } Настройки столбцов

= render :partial => 'list'
