- title "Claims"

%table

  - for claim in @claims
    %tr

      %td= claim.reservation_date
      %td= claim.user.first_last_name
      %td= claim.applicant.try(:full_name)
      %td куда
      %td откуда
      %td= claim.visa
      %td= link_to 'Show', claim
      %td= link_to 'Edit', edit_claim_path(claim)
      %td= link_to 'Destroy', claim, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Claim", new_claim_path

-#
