- title t('.claims')

%table#claims

  - for claim in @claims
    %tr

      %td= claim.reservation_date
      %td= claim.user.first_last_name
      %td= claim.applicant.try(:full_name)
      %td= claim.airport_to
      %td= claim.airport_back
      %td= claim.depart_to.strftime '%d-%m-%Y %H:%M:%S'
      %td= claim.depart_back.strftime '%d-%m-%Y %H:%M:%S'
      %td= claim.visa
      %td= link_to t('edit'), edit_claim_path(claim)
      %td= link_to t('destroy'), claim, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.new_claim'), new_claim_path

-#
