- content_for(:html_class) { 'main_page' + (is_mistral? && !current_company.short_claim_list ? ' mistral-company' : '') } # If it's Mistral company, use special class

- title t('.claims')

- content_for :top do
  -#
    / = text_field_tag :full_value
  %form#filter_bar.filter{ :class => is_mistral? ? 'mistral_filter' : '' }
    = render 'shared/search_field'

    - if is_admin?
      = label_tag :company_id, t('.company_filter')
      = select_tag :company_id,  options_from_collection_for_select(companies_filter, 'id', 'name', params[:company_id]), :prompt => t('all'), :class => 'company_select', :data => { :param=> 'company_id', :filter => 1 }

    - if is_admin? or is_boss? or is_supervisor? or is_accountant?
      = label_tag :office_id, t('.office_filter')
      = select_tag :office_id,  options_from_collection_for_select(current_company.offices, 'id', 'name', params[:office_id]), :prompt => t('all'), :class => 'filter_select', :data => { :param=> 'office_id', :filter => 1 }

      = label_tag :user_id, t('.user_filter')
      = select_tag :user_id,  options_from_collection_for_select(current_company.users.reject{ |u| u.role == 'admin' }, 'id', 'name_for_list', params[:user_id]), :prompt => t('all'), :class => 'filter_select', :data => { :param=> 'user_id', :filter => 1 }

      -# if is_admin? or is_boss?
        = label_tag :total_years, t('.only_totals')
        = select_tag :total_years, options_for_select(total_years.unshift([t('claims.index.options_all'), 'all']), params[:year]), :prompt => t('nope'), :name => 'year', :class => 'total_years', :data => { :param=> 'total_years', :filter => 1 }

    -# else

      = check_box_tag :only_my, nil, (params[:only_my] == '1'), data: { param: 'only_my', filter: 1, value: 1 }
      = label_tag :only_my, t('.only_my'), class: 'checkbox left_checkbox'

    = check_box_tag :only_active, nil, (params[:only_active] == '1'), data: { param: 'only_active', filter: 1, value: 1 }
    = label_tag :only_active, t('.only_active'), class: 'checkbox left_checkbox'

    %fieldset
      = link_to t('.unset_filters'), '#', :id => 'unset_filters', :class => 'unset_filters'
      %a.settings{ :href => "#" }= t('.column_settings')

  - if is_mistral?
    - cache [current_company, :top_managers], :expires_in => 1.hour do
      = render 'layouts/main_menu/top_managers' unless top_managers.empty?

-# if current_company.short_claim_list
-#  = render :partial => 'list_short'
-# elsif current_company.claim_list_v2
= render :partial => 'list_v2'
-# else
-#  = render :partial => 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.add_claim'), new_claim_path, :class => 'add_operator new_claim_link'