- title t('.claims'), false
.bar
  = text_field_tag :filter
  %div
    = current_user.office.try(:name)
  %div.user{ :style => "background-color:#{current_user.color}" }
    = current_user.first_last_name

%table#claims{ :rules => 'all'}
  %tr
    %th= sortable 'reservation_date', t('.reservation_date')
    %th= sortable 'user_id', t('.manager')
    %th= sortable 'last_name', t('.full_name')
    %th= sortable 'country', t('.to')
    %th= sortable 'airport_back', t('.from')
    %th= sortable 'visa', t('.visa')
    %th= sortable t('.term')
    %th= sortable t('.depart_to')
    %th= sortable t('.depart_back')
    %th= sortable t('.operator')
    %th= sortable t('.claim')
    %th= sortable t('.price')
    %th= sortable t('.calculation')
    %th= sortable t('.advance')
    %th= sortable t('.debt')
    %th= sortable 'maturity', t('.payment_term')
    %th= sortable t('.currency')
    %th= sortable t('.paid')
    %th= sortable t('.docs')
    %th= sortable t('.memo')
    %th= sortable t('.check_date')
    %th{ :colspan => 2 }
  - @claims.each do |claim|
    %tr
      %td= claim.reservation_date
      %td{ :style => "background-color:#{claim.user.color}" }
        = claim.user.login
      %td= claim.applicant.try(:full_name)
      %td= claim.country.try(:name)
      %td= claim.airport_back
      %td{ :class => claim.visa }
        ????
      %td= claim.visa_check
      %td= claim.depart_to.strftime('%d-%m-%Y %H:%M') if claim.depart_to
      %td= claim.depart_back.strftime('%d-%m-%Y %H:%M') if claim.depart_back
      %td= claim.operator.try(:name)
      %td= claim.id
      %td= claim.primary_currency_price
      %td= claim.id
      %td= claim.id
      %td= claim.tourist_debt
      %td= claim.maturity.strftime('%d-%m-%Y') if claim.maturity
      %td= claim.currency
      %td= claim.id
      %td= claim.id
      %td= claim.id
      %td= claim.check_date
      %td= link_to t('edit'), edit_claim_path(claim)
      %td= link_to t('destroy'), claim, :confirm => t('are_you_sure'), :method => :delete

= will_paginate @claims
