- title "Claims"

%table

  - for claim in @claims
    %tr

      %td= claim.reservation_date
      %td= claim.user.first_last_name
      %td= claim.applicant.try(:full_name)
      %td куда
      %td откуда
      %td= claim.visa
      %td= link_to 'Show', claim
      %td= link_to 'Edit', edit_claim_path(claim)
      %td= link_to 'Destroy', claim, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Claim", new_claim_path

-#
  t.integer  "user_id"
  t.datetime "check_date"
  t.datetime "created_at"
  t.datetime "updated_at"
  t.integer  "office_id"
  t.integer  "operator_id"
  t.string   "operator_confirmation"
  t.string   "visa",                       :default => "nothing_done", :null => false
  t.string   "airport_to"
  t.string   "airport_back"
  t.string   "flight_to"
  t.string   "flight_back"
  t.string   "depart_to"
  t.string   "depart_back"
  t.datetime "visa_check"
  t.float    "tour_price",                 :default => 0.0
  t.float    "visa_price",                 :default => 0.0
  t.float    "insurance_price",            :default => 0.0
  t.float    "additional_insurance_price", :default => 0.0
  t.float    "fuel_tax_price",             :default => 0.0
  t.float    "total_tour_price",           :default => 0.0
  t.float    "primary_currency_price",     :default => 0.0
  t.float    "course",                     :default => 0.0
  t.string   "currency",                                               :null => false
  t.integer  "airline_id"
  t.integer  "num"
  t.integer  "visa_count"
  t.string   "meals"
  t.string   "placement"
  t.integer  "nights"
  t.string   "hotel"
  t.datetime "arrival_date"
  t.datetime "departure_date"
  t.boolean  "early_reservation"
  t.string   "docs_memo"
  t.string   "docs_ticket"
  t.string   "docs_note"
  t.date     "reservation_date"
