- content_for(:error_messages) do
  = f.error_messages

%fieldset.form_column.form_column-small.first
  .form_block
    .block_title
      %h2= t('.settings')
    .form_block_content
      .fake_row
        %p= f.label :tariff_id
        = f.select :tariff_id, options_for_select(@company.tariff_values, []), {}, :class => 'price_select', :not_highlighted => true
        = f.text_field :tariff_end, :class => 'datepicker date', :value => l(@company.tariff_end.to_date, :format => :long), wrapper: false
        %p= f.label :tariff_end
        = f.text_field :tariff_end, :class => 'datepicker date', :value => l(@company.tariff_end.to_date, :format => :long), wrapper: false

%fieldset.form_submit{ :style => 'display: none; height: 0;' }
  = f.submit