.current_container
  %table.reservations.tour_operators
    %th
      = sort_link :created_at, t('admin.companies_info.created_at'), :desc
    %th
      = sort_link :name, t('admin.companies_info.name')
    %th
      = sort_link :owner, t('admin.companies_info.owner')
    %th
      = sort_link :email, t('admin.companies_info.email')
    %th
      = sort_link :phone, t('admin.companies_info.phone')
    %th
      = sort_link :subdomain, t('admin.companies_info.subdomain')
    %th
      = sort_link :tariff_name, t('admin.companies_info.tariff_name')
    %th
      = sort_link :tariff_end, t('admin.companies_info.tariff_end')
    %th
      = sort_link :active, t('admin.companies_info.active')
    %th
      = sort_link :offices_count, t('admin.companies_info.offices_count')
    %th
      = sort_link :users_count, t('admin.companies_info.users_count')
    %th
      = sort_link :claims_count, t('admin.companies_info.claims_count')
    %th
      = sort_link :tourists_count, t('admin.companies_info.tourists_count')
    %th
      = sort_link :tasks_count, t('admin.companies_info.tasks_count')
    %th
      %span= t('admin.companies_info.state')
    %th
      = sort_link :tariff, t('admin.companies_info.tariff')
    %th
      = sort_link :tariff_end, t('admin.companies_info.payed_until')
    %th
      %span= t('actions')


    - @companies_info.each do |c|
      = render :partial => 'admin/company', :locals => { :company => c }

  = render partial: 'shared/pagination', locals: { collection: @companies_collection }