%tr{id: "company-#{company.id}", class: "company", data: {id: company.id}}
  %td
    = company.created_at
  %td
    = company.name
  %td
    = company.owner.first_name if company.owner
  %td
    - if company.owner
      = company.owner.email
    - else
      = company.email
  %td
    = company.owner.phone if company.owner
  %td
    = company.subdomain
  %td
    = company.offices_count
  %td
    = company.users_count
  %td
    = company.claims_count
  %td
    = company.tourists_count
  %td
    = company.tasks_count
