%tr{id: "company-#{company.id}", class: "company", data: {id: company.id}}
  %td
    = l(company.created_at, format: :long)
  %td
    = company.name
  %td
    = company.owner.try(:full_name)
  %td
    = company.owner.try(:email) || company.email
  %td
    = company.owner.try(:phone)
  %td
    = company.subdomain
  %td
    = company.offices_count
  %td
    = company.users_count
  %td
    = company.claims_count
  %td
    = company.tourists_count
  %td
    = company.tasks_count
