%tr{id: "company-#{company.id}", class: "company", data: {id: company.id}}
  %td
    = l(company.created_at, format: :long)
  %td
    = company.name
  %td
    = company.owner.try(:full_name)
  %td
    = company.owner.try(:email) || company.email
  %td
    = company.owner.try(:phone)
  %td
    = company.subdomain
  %td
    = company.tariff.try(:name)
  %td
    = l(company.tariff_end, format: :long)
  %td
    = 'Да' if company.is_active?
    = 'Нет' if !company.is_active?
  %td
    = company.offices_count
  %td
    = company.users_count
  %td
    = company.claims_count
  %td
    = company.tourists_count
  %td
    = company.tasks_count
  %td
    = company_state(company)
  %td
    = company.tariff.name
  %td
    = l(company.tariff_end, format: :long)
  %td{ :title => company.admin_note.to_s, :class => 'admin_note' }
    - if company.admin_note.to_s != ''
      %span{ :class => 'attention_company'}
  %td
    = link_to '', admin_companies_edit_path(company.id), :class => 'edit_row', :title => t('edit')
