- content_for(:body_class) { 'panel' }

- title t('admin.companies_info.title')

- content_for :top do
  %form.filter
    = render :partial => 'shared/search_field', :locals => { :filter_class => 'search small_filter', :submit_class => 'go_search filter_margin' }

    = label_tag :state, I18n.t('.admin.companies_info.state')
    = select_tag :state, options_for_select(company_filter_states, 'all'), class: 'filter_select', id: 'state_filter_options', data: { param: 'state', filter: true }

.admin_companies
  = render "admin/companies"

.admin.check_list
  %table
    %tr
      %td= t('.companies')
      %td= @companies_count
    %tr
      %td= t('.users')
      %td= @users_count
    %tr
      %td= t('.claims')
      %td= @claims_count
