%h3= t('.our_cities')
%ul#selected_cities
  %li{ :id => "etalon", :style => 'display:none;' }
    %span
    = link_to t('delete'), '#', :class => 'del', :id => "del_etalon"
    = hidden_field_tag '', '', :id => "hid_etalon"
  - @company.cities.each do |city|
    %li{ :id => "li_#{city.id}" }
      %span= city.name
      = link_to t('delete'), '#', :class => 'del', :id => "del_#{city.id}"
      = hidden_field_tag 'company[city_ids][]', city.id, :id => "hid_#{city.id}"

= select_tag :countries, options_for_select(Country.all.map{ |o| [o.name, o.id] })
= select_tag :regions, options_for_select(Country.first.regions.map{ |o| [o.name, o.id] })
= select_tag :cities, options_for_select(Country.first.regions.first.cities.map{ |o| [o.name, o.id] })

= link_to t('add'), '#', :class => 'add'
