- company = f.object
- content_for(:error_messages) do
  = f.error_messages

.form_column.first
  .form_block
    .block_title
      %h2= t('.common')
    .form_block_content
      .fake_row
        %p= f.label :name
        = f.text_field :name, :class => 'bank'
        %p= f.label :email
        = f.text_field :email, :class => 'bank'
        %p= f.label :site
        = f.text_field :site, :class => 'bank'
        %p= f.label :oficial_letter_signature
        = f.text_field :oficial_letter_signature, :class => 'bank'
        %p= f.label :bank
        = f.text_field :bank, :class => 'bank'
        %p= f.label :bik
        = f.text_field :bik, :class => 'bank'
        %p= f.label :curr_account
        = f.text_field :curr_account, :class => 'bank'
        %p= f.label :corr_account
        = f.text_field :corr_account, :class => 'bank'
        %p= f.label :ogrn
        = f.text_field :ogrn, :class => 'bank'
        %p= f.label :okpo
        = f.text_field :okpo, :class => 'bank'
        %p= f.label :inn
        = f.text_field :inn, :class => 'bank'

.form_column
  .form_block
    .block_title
      %h2= t('.address')
    .form_block_content
      .fake_row
        = f.fields_for :address do |address|
          = render :partial => 'shared/address', :locals => { :f => address }

#cities_block.form_column
  .form_block
    .block_title
      %h2= t('.cities')
    .form_block_content
      - company.cities.each do |city|
        .fake_row.delete_right{ :id => "city_#{city.id}" }
          %p= city.name
          = link_to '', '#', :id => "del_#{city.id}", :class => 'del delete', :title => t('delete')
          = hidden_field_tag 'company[city_ids][]', city.id, :id => "hid_#{city.id}"

      #add_city_block.fake_row.white
        %p= label_tag :countries, t('.country')
        = select_tag :countries, options_for_select(@countries_options), :class => 'company_select'
        %p= label_tag :regions, t('.region')
        = select_tag :regions, options_for_select(@regions_options), :class => 'company_select'
        %p= label_tag :cities, t('.city')
        = select_tag :cities, options_for_select(@cities_options), :class => 'company_select'

        = link_to t('.add_city'), '#', :class => 'add add_city', :data => { :fail_message => t('.add_city_fail_message') }

#offices_block.form_column
  .form_block
    .block_title
      %h2= t('.offices')
    .form_block_content
      = f.fields_for :offices do |of|
        - unless of.object.new_record?
          .fake_row.fields
            %p= of.label :name, t('.office.name')
            = of.text_field :name, :class => 'office_input'
            = link_to '', '#', :class => 'del delete', :title => t('delete')
            %p= of.label :default_password, t('.office.default_password')
            = of.text_field :default_password, :class => 'office_input'
            = of.hidden_field(:_destroy)
        - else
          #add_office_block.fake_row.white
            = link_to t('.add_office'), '#', :class => 'add add_city'


#printers_block.form_block.grey_block
  .block_title
    %h2= t('.printers')
  .form_block_content.nested_attributes.printers
    .fake_table
      %span.type_form= t('.type')
      %span.file_form= t('.file')
      %span.activity= t('actions')

    - index = 0
    - first_memo = nil
    = f.fields_for :printers, sort_printers(f.object.printers) do |pf|
      - unless pf.object.new_record?
        - if pf.object.mode == 'memo'
          - unless first_memo
            .fake_row{ :id => "memo_row", :class => cycle('even', 'odd') }
              %span.type_form= t('.memos')
            .fake_row.fields{ :id => "country_#{pf.object.country.try(:id)}", :class => cycle('even', 'odd'), :data => { :mode => pf.object.mode } }
              %span.type_form= pf.object.country.try(:name)
              %span.file_form= pf.object.template.file.identifier
              %span.activity
                = link_to '', dashboard_template_path(pf.object), :class => 'download', :title => t('download')
                = link_to '', '#', :class => 'edit edit_row', :title => t('edit')
                = pf.hidden_field(:_destroy)
                = link_to '', '#', :class => 'del delete', :title => t('delete')
            - first_memo = true
          - else
            .fake_row.fields{ :id => "country_#{pf.object.country.try(:id)}", :class => cycle('even', 'odd'), :data => { :mode => pf.object.mode } }
              %span.type_form= pf.object.country.try(:name)
              %span.file_form= pf.object.template.file.identifier
              %span.activity
                = link_to '', dashboard_template_path(pf.object), :class => 'download', :title => t('download')
                = link_to '', '#', :class => 'edit edit_row', :title => t('edit')
                = pf.hidden_field(:_destroy)
                = link_to '', '#', :class => 'del delete', :title => t('delete')
        - else
          .fake_row.fields{ :id => "printers_row_#{index}", :class => cycle('even', 'odd'), :data => { :mode => pf.object.mode } }
            %span.type_form= t("activerecord.attributes.printer.#{pf.object.mode}")
            %span.file_form= pf.object.template.file.identifier
            %span.activity
              = link_to '', dashboard_template_path(pf.object), :class => 'download', :title => t('download')
              = link_to '', '#', :class => 'edit edit_row', :title => t('edit')
              = pf.hidden_field(:_destroy)
              = link_to '', '#', :class => 'del delete', :title => t('delete')

      - else
        #add_printer_block.fake_row.file_block.odd
          = link_to t('.add_file'), '#', :class => 'add add_file'

      - index += 1