- company = f.object
- content_for(:error_messages) do
  = f.error_messages

.form_column.first
  .form_block
    .block_title
      %h2= t('.common')
    .form_block_content
      .fake_row
        %p= f.label :subdomain
        = f.text_field :subdomain, :class => 'bank'
        %p= f.label :name
        = f.text_field :name, :class => 'bank' + (' highlighted' if company.name.blank?).to_s
        %p= f.label :email
        = f.text_field :email, :class => 'bank'
        %p= f.label :site
        = f.text_field :site, :class => 'bank'
        %p= f.label :director
        = f.text_field :director, :class => 'bank'
        %p= f.label :director_genitive
        = f.text_field :director_genitive, :class => 'bank'
        %p= f.label :time_zone
        = f.time_zone_select :time_zone, nil, :default => "Moscow"
        - unless is_mistral?
          -#%p
          -#  = f.check_box :short_claim_list
          -#  = f.label :short_claim_list
          %p
            = f.check_box :claim_list_v2
            = f.label :claim_list_v2
        %p
          - if can?(:extended_potential_clients, :user)
            = f.check_box :extended_potential_clients
            = f.label :extended_potential_clients, id: 'for_potential_client'
        %p= f.label :logo, "#{Company.human_attribute_name(:logo)} #{t('.logo_size')}"
        - if company.logo.present?
          = image_tag company.logo_url(:thumb)
        %div{style: "clear:left;"}
          %br
        %p.file
          = f.file_field :logo, :class => 'image_upload'
          = link_to t("uploaders.choose_file"), '#', :class => 'select_file'
        %p.image_message{ :data => { :size => CONFIG[:max_logo_size], :extensions => CONFIG[:image_formats] }, :style => "clear:left;" }

#offices_block.form_column
  .form_block
    .block_title
      %h2= t('.offices')
    .form_block_content
      = f.fields_for :offices do |of|
        - office = of.object
        .fake_row.fields
          %p= of.label :name
          = of.text_field :name, :class => 'office_input' + (' highlighted' if office.name.blank?).to_s
          = link_to '', '#', :class => 'del delete', :title => t('delete')
          %p= of.label :default_password, t('.office.default_password')
          = of.text_field :default_password, :class => 'office_input'
          = of.hidden_field(:_destroy)
          = of.hidden_field :id
      #add_office_block.fake_row.white
        = link_to t('.add_office'), '#', :class => 'add add_city'

.form_column
  .form_block
    .block_title
      %h2= t('.juridical')
    .form_block_content
      .fake_row
        %p= f.label :full_name
        = f.text_field :full_name, :class => 'bank'
        %p= f.label :bank
        = f.text_field :bank, :class => 'bank'
        %p= f.label :bik
        = f.text_field :bik, :class => 'bank'
        %p= f.label :curr_account
        = f.text_field :curr_account, :class => 'bank'
        %p= f.label :corr_account
        = f.text_field :corr_account, :class => 'bank'
        %p= f.label :ogrn
        = f.text_field :ogrn, :class => 'bank'
        %p= f.label :okpo
        = f.text_field :okpo, :class => 'bank'
        %p= f.label :inn
        = f.text_field :inn, :class => 'bank'
        %p= f.label :kpp
        = f.text_field :kpp, :class => 'bank'

.form_column
  .form_block
    .block_title
      %h2= t('.address')
    .form_block_content
      .fake_row
        = f.fields_for :address do |address|
          = render :partial => 'shared/address', :locals => { :f => address }
        %p= f.label :actual_address
        = f.text_field :actual_address, :class => 'bank'

.form_column.tariff_plan_block
  .form_block
    .block_title
      %h2= t('.tariff_plan')
    .form_block_content
      .fake_row
        %p
          %span.label= t('.tariff_plan_current')
          %span.value= company.tariff.try(:name)
        %p
          %span.label= t('.tariff_state')
          %span.value= company.tariff_paid? ? t('.tariff_paid') : t('.tariff_unpaid')
        %p
          %span.label= t('.tariff_end')
          %span.value= l(company.tariff_end, :format => "%d.%m.%Y")
        - if company.soon_tariff_end?
          %p
            %span.label= t('.tariff_end_days')
            %span.value= distance_of_time_in_words(Time.zone.now, company.tariff_end)
        - if company.ready_for_payment?
          = link_to t('pay'), new_user_payment_path, :class => 'pay_button'

.form_column
  .form_block
    .block_title
      %h2= t('.export')
    .form_block_content
      .fake_row
        %p= link_to t(".export_all"), dashboard_export_path(:format => 'xls'), :style => "text-decoration: underline;"
