- company = f.object
- content_for(:error_messages) do
  = f.error_messages

.form_column.first
  .form_block
    .block_title
      %h2= t('.common')
    .form_block_content
      .fake_row
        %p= f.label :subdomain
        = f.text_field :subdomain, :class => 'bank subdomain'
        %span.domain= ".#{CONFIG[:domain]}"
        %br
        %span.domain_example= t('.domain_example', domain: CONFIG[:domain])
        %p= f.label :name
        = f.text_field :name, :class => 'bank'
        %p= f.label :email
        = f.text_field :email, :class => 'bank'
        %p= f.label :site
        = f.text_field :site, :class => 'bank'
        %p= f.label :director
        = f.text_field :director, :class => 'bank'
        %p= f.label :director_genitive
        = f.text_field :director_genitive, :class => 'bank'
        %p= f.label :time_zone
        = f.time_zone_select :time_zone, nil, :default => "Moscow"
        %p= f.label :logo, "#{Company.human_attribute_name(:logo)} #{t('.logo_size')}"
        - if company.logo.present?
          = image_tag company.logo_url(:thumb)
        = f.file_field :logo

#offices_block.form_column
  .form_block
    .block_title
      %h2= t('.offices')
    .form_block_content
      = f.fields_for :offices do |of|
        .fake_row.fields
          %p= of.label :name, t('.office.name')
          = of.text_field :name, :class => 'office_input'
          = link_to '', '#', :class => 'del delete', :title => t('delete')
          %p= of.label :default_password, t('.office.default_password')
          = of.text_field :default_password, :class => 'office_input'
          = of.hidden_field(:_destroy)
      #add_office_block.fake_row.white
        = link_to t('.add_office'), '#', :class => 'add add_city'

.form_column
  .form_block
    .block_title
      %h2= t('.juridical')
    .form_block_content
      .fake_row
        %p= f.label :bank
        = f.text_field :bank, :class => 'bank'
        %p= f.label :bik
        = f.text_field :bik, :class => 'bank'
        %p= f.label :curr_account
        = f.text_field :curr_account, :class => 'bank'
        %p= f.label :corr_account
        = f.text_field :corr_account, :class => 'bank'
        %p= f.label :ogrn
        = f.text_field :ogrn, :class => 'bank'
        %p= f.label :okpo
        = f.text_field :okpo, :class => 'bank'
        %p= f.label :inn
        = f.text_field :inn, :class => 'bank'

.form_column
  .form_block
    .block_title
      %h2= t('.address')
    .form_block_content
      .fake_row
        = f.fields_for :address do |address|
          = render :partial => 'shared/address', :locals => { :f => address }