= form_for [:dashboard, @company], :html => { :multipart => true } do |f|
  = f.error_messages
  .left
    %table
      %tr
        %td= f.label :name
        %td= f.text_field :name
      %tr
        %td= f.label :email
        %td= f.text_field :email
      %tr
        %td= f.label :oficial_letter_signature
        %td= f.text_field :oficial_letter_signature
      %tr
        %td= f.label :bank
        %td= f.text_field :bank
      %tr
        %td= f.label :bik
        %td= f.text_field :bik
      %tr
        %td= f.label :curr_account
        %td= f.text_field :curr_account
      %tr
        %td= f.label :corr_account
        %td= f.text_field :corr_account
      %tr
        %td= f.label :ogrn
        %td= f.text_field :ogrn

    %h3= t('.address')
    = f.fields_for :address do |address|
      = render :partial => 'shared/address', :locals => { :f => address }

    %p
      = f.submit
  .center
    = render :partial => 'cities', :locals => { :f => f }

    %h3= t('.offices')
    .nested_attributes
      = f.fields_for :offices do |builder|
        %p.fields
          = builder.label :name
          = builder.text_field :name
          = link_to_remove_fields t('delete'), builder
      = link_to t('add'), '#', :class => 'add'

    %h3= t('.printers')
    .nested_attributes.printers
      = f.fields_for :printers do |builder|
        - if builder.object.new_record?
          %p.fields
            = builder.label :template
            = builder.file_field :template
            = builder.label :mode
            = builder.select :mode, Printer::MODES.map{ |m| [Printer.human_attribute_name(m), m] }, {}, :class => 'mode_select'
            = builder.label :country_id, nil, :class => 'country_label', :style => 'display:none;'
            = builder.select :country_id, Country.all.map{ |c| [c.name, c.id] }, {}, :class => 'country_select', :style => 'display:none;'
            /= builder.select :country_id, @company.countries.map{ |c| [c.name, c.id] }, {}, :class => 'country_select', :style => 'display:none;'
            = link_to_remove_fields t('delete'), builder
        - else
          %p.fields
            %strong= t("activerecord.attributes.printer.#{builder.object.mode}")
            = builder.object.country.try(:name) if builder.object.mode == 'memo'
            = builder.object.template.file.identifier
            = link_to_remove_fields t('delete'), builder

      = link_to t('add'), '#', :class => 'add'

  .clear
