- content_for(:body_class) { 'company panel' }

- title t('.edit_company')

= form_for [:dashboard, @company], :url => dashboard_edit_company_path, :builder => TourismFormBuilder do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }, :html => { :multipart => true }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  -# if can? :destroy, @company
    = link_to t('delete'), claims_path, :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete
  - if can? :update, @company
    = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.companies'), dashboard_companies_path, :class => 'list_operator'