- title "#{@company.name}"

%p
  %strong email:
  = @company.email
  %br/
  %strong Подпись:
  = @company.oficial_letter_signature
  %br/
  %strong Полный адрес:
  - if @company.address.present?
    = @company.address.full_address
  - else
    Адрес не задан

%p
  = link_to t('edit'), edit_company_path(@company)
  |
  = link_to t('destroy'), @company, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to t('.companies'), companies_path
