= form_for(@tourist) do |f|
  - if @tourist.errors.any?
    #error_explanation
      %h2
        = pluralize(@tourist.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @tourist.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.label :middle_name
    %br/
    = f.text_field :middle_name
  %p
    = f.label :passport_series
    %br/
    = f.text_field :passport_series
  %p
    = f.label :passport_number
    %br/
    = f.text_field :passport_number
  %p
    = f.label :passport_valid_until
    %br/
    = f.text_field :passport_valid_until
  %p
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  %p
    = f.label :address
    %br/
    = f.text_field :address
  %p
    = f.label :date_of_birth
    %br/
    = f.text_field :date_of_birth
  .actions
    = f.submit
