= form_for(@tourist) do |f|
  - if @tourist.errors.any?
    #error_explanation
      %h2
        = pluralize(@tourist.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @tourist.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %th
        = f.label 'ФИО'
        %br/
        .hint
          (На кого оформляется договор)
      %td= f.label :date_of_birth
      %td{:colspan => "2"}
        = f.label 'Паспорт'
      %td= f.label :passport_valid_until, :class => 'datepicker'
    %tr
      %td= f.text_field :full_name
      %td= f.text_field :date_of_birth, :class => 'datepicker'
      %td= f.text_field :passport_series, :class => 'passport_series'
      %td= f.text_field :passport_number
      %td= f.text_field :passport_valid_until
    %tr
      %th= f.label :phone_number
    %tr
      %td= f.text_field :phone_number
    %tr
      %th= f.label :address
    %tr
      %td= f.text_field :address
  .actions
    = f.submit
