- tourist = f.object
- content_for(:error_messages) do
  = f.error_messages

.tourist
  = render :partial => 'top_fields', :locals => { :f => f, :tourist => tourist }

  %fieldset.form_column.form_column-small.first
    .form_block
      .block_title
        %h2= t('.common')
      .form_block_content
        .fake_row.fields
          %p= f.label :last_name
          = f.text_field :last_name, :class => 'wide'
          %p= f.label :first_name
          = f.text_field :first_name, :class => 'wide'
          %p= f.label :middle_name
          = f.text_field :middle_name, :class => 'wide'
          %p= f.label :sex
          = f.select :sex, Tourist::SEX_STATES.collect { |o| [t('sex_states.'+o), o] }, {}, :class => 'wide', :not_highlighted => true
          %p= f.label :date_of_birth
          = f.text_field :date_of_birth, :class => 'datepicker wide', :value => l(tourist.date_of_birth, :format => :long)
          %p= f.label :phone_number
          = f.text_field :phone_number, :class => 'wide'
          %p= f.label :email
          = f.text_field :email, :class => 'wide'
          %p= f.label :client_stat
          = f.select :client_stat, current_company.dropdown_values_for('tourist_stat'), {include_blank: true}, :class => (is_admin? || is_boss?) ? 'editable-select wide' : 'wide'
          %p
            = f.check_box :potential, id: 'tourist_potential'
            = f.label :potential, class: 'checkbox left_checkbox', for: 'tourist_potential', data: { confirm: t('.tourist_to_potential_warning', tourist: tourist.full_name) }

  %fieldset.form_column.form_column-small
    .form_block
      .block_title
        %h2= t('.address')
      .form_block_content
        .fake_row
          = f.fields_for :address do |address|
            = render :partial => 'shared/address', :locals => { :f => address, :show_joint_address => true }

  %fieldset.form_column.form_column-small
    .form_block
      .block_title
        %h2= t('.passport_column')
      .form_block_content
        .fake_row.fields
          %p= f.label :fio_latin
          = f.text_field :fio_latin, :class => 'wide'
          %p= f.label t('.passport')
          = f.text_field :passport_series, :class => 'passport_series'
          = f.text_field :passport_number, :class => 'passport_number'
          %p= f.label :passport_valid_until, t('.passport_valid_until')
          = f.text_field :passport_valid_until, :class => 'datepicker wide', :value => l(tourist.passport_valid_until, :format => :long)
          %p= f.label :passport_issued
          = f.text_area :passport_issued, :class => 'wide'
    .form_block
      .block_title
        %h2= t('.class_group')
      .form_block_content
        .fake_row.fields
          %p= f.label :class_group
          = f.select :class_group, current_company.dropdown_values_for('tourist_group'), {include_blank: true}, :class => (is_admin? || is_boss?) ? 'editable-select' : ''

  = render partial: 'files', locals: { f: f, images: tourist.images }

  - unless tourist.new_record?
    = render partial: 'comments', locals: { f: f, tourist: tourist }
