%table#tourists.tourists.reservations.tour_operators{ class: is_mistral? && 'lower_rows' }
  %tr
    %th.created_at
      = sort_link(:created_at, Tourist.human_attribute_name(:created_at), :desc)
    %th.manager= sort_link(:user_id, t('.manager'))
    %th.full_name= sort_link(:full_name, Tourist.human_attribute_name(t('.full_name')))
    %th.phone_number= sort_link(:phone_number, Tourist.human_attribute_name(:phone_number))
    %th.email= sort_link(:email, t('.email'))
    %th.wishes
      %span= t('.wishes')
    %th.what_to_do
      %span= t('.actions')
    %th.state= sort_link(:state, t('tourists.form_potential.status'))
    %th.state= sort_link(:office_id, I18n.t('claims.form.office'))
    %th.actions
      %span= t('actions')

  - for tourist in tourists
    %tr{ :class => [cycle('odd', 'even'), tourist.state != '' ? tourist.state : 'no_state'], id: "tourist-#{tourist.id}"}
      %td
        %p= l(tourist.created_at.to_date, :format => :long)
      %td{ title: tourist.user.try(:full_name), style: tourist.user.try(:color) && "background: none #{tourist.user.try(:color)} !important;" }
        %p= tourist.user.try(:login)
      %td.full_name{ title: tourist.name }
        %p= tourist.name
      %td{ title: tourist.phone_number }
        %span= tourist.phone_number
      %td{ title: tourist.email }
        %span= tourist.email
      %td.wishes{ title: tourist.wishes }
        %p= tourist.wishes
      %td.what_to_do{ title: last_tourist_comments(tourist) }
        %p= tourist_comment(tourist)
      %td.state
        %p
          - if tourist.state.to_s != '' && tourist.state.to_s != 'important'
            = I18n.t("potential_states.#{tourist.state}")
      %td.office
        %p= tourist.office.try(:name)
      %td.potential_links
        = link_to '', edit_tourist_path(tourist, potential: 1), :class => 'edit_row', :title => t('edit'), id: "edit_tourist_#{tourist.id}"
        = link_to '', tourist_add_to_clients_path(tourist), :class => 'create_own with_tooltip', :title => I18n.t('.tourists.edit.move_title'), id: "move_tourist_#{tourist.id}", method: :post
        = link_to '', tourist_path(tourist), :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', id: "delete_tourist_#{tourist.id}", :title => t('delete')

