%table#tourists.tourists.reservations.tour_operators.list_table{ class: is_mistral? && 'lower_rows' }
  %tr
    %th.full_name= sort_link(:full_name, Tourist.human_attribute_name(t('.full_name')), :default)
    %th.date_of_birth
      = sort_link(:date_of_birth, Tourist.human_attribute_name(:date_of_birth))
    %th.phone_number= sort_link(:phone_number, Tourist.human_attribute_name(:phone_number))
    %th.email= sort_link(:email, t('.email'))
    %th.passport_series
      = sort_link(:passport_series, t('.passport_series'))
    %th.passport_number
      = sort_link(:passport_number, t('.passport_number'))
    %th.passport_valid_until
      = sort_link(:passport_valid_until, Tourist.human_attribute_name(:passport_valid_until))
    %th.address
      = sort_link(:joint_address, t('.address'))
    %th.group
      = sort_link(:class_group, t('.class_group'))
    %th.state= sort_link(:office_id, I18n.t('claims.form.office'))
    %th.actions
      %span= t('actions')

  - for tourist in tourists
    %tr{ :class => cycle('odd', 'even'), id: "tourist-#{tourist.id}", data: { edit_path: edit_tourist_path(tourist) } }
      %td{ title: tourist.name }
        %p= tourist.name
      %td
        %p= l(tourist.date_of_birth, :format => :long)
      %td{ title: tourist.phone_number }
        %span= tourist.phone_number
      %td{ title: tourist.email }
        %span= tourist.email
      %td
        %p= tourist.passport_series
      %td
        %p= tourist.passport_number
      %td
        %p= l(tourist.passport_valid_until, :format => :long)
      %td{ title: tourist.address.try(:joint_address) }
        %p= tourist.address.try(:joint_address)
      %td
        %p= tourist.class_group
      %td.office
        %p= tourist.office.try(:name)
      %td
        = link_to '', edit_tourist_path(tourist), :class => 'edit_row with_tooltip', :title => t('edit'), id: "edit_tourist_#{tourist.id}"

        = link_to '', tourist_path(tourist), :confirm => t('are_you_sure'), :method => :delete, :class => 'ml15  delete with_tooltip', id: "delete_tourist_#{tourist.id}", :title => t('delete')

