%tr
  %td= tourist.lastname
  %td= tourist.firstname
  %td= tourist.middlename
  %td= tourist.pser
  %td= tourist.pnum
  %td= tourist.pvalid
  %td= tourist.phonenum
  %td= tourist.address
  %td= tourist.dateofbirth
  %td= tourist.created_at.to_s(:datetime).downcase
  %td= tourist.updated_at.to_s(:datetime).downcase
  %td= link_to "Edit", edit_tourist_path(tourist)
  %td= link_to "Delete", tourist, :method => :delete, :confirm => "Are you sure?"
