- content_for(:body_class) { 'panel tourist edit_operator' }

- title !@tourist.potential? ? t('.edit_tourist', :tourist => @tourist.name) : t('.edit_client', :client => @tourist.name)

- content_for :top do
  - if @tourist.user
    .user= t('.created_by', user: @tourist.user.name_for_list)

= form_for @tourist, url: @tourist.potential? ? tourist_path(@tourist) : tourist_path(@tourist, potential: 1), html: { multipart: true } do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => !@tourist.potential? ? 'form' : 'form_potential', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('delete'), tourist_path, :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('save_and_close'), '#', :class => 'save save_and_close', :data => { :submit => @form_id, :close => true }
  - unless @tourist.potential?
    = link_to t('.list_of_tourist'), tourists_path, :class => 'list_operator'
  - else
    = link_to t('.list_of_clients'), tourists_path(potential: 1), :class => 'list_operator'