- set_current_width(:small)
- content_for(:body_class) { 'low_resolution panel' }

- title t('.tourists')

- content_for :top do
  .switch_type
    %a{ :href => "#", :class => 'client active' }
      %span= t('.clients')
    %a{ :href => "#", :class => 'client' }= t('.potential_clients')

  %form.filter
    = render 'shared/search_field'

= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.add_tourist'), new_tourist_path, :class => 'add_operator'
