- set_current_width(:small)
- content_for(:body_class) { 'tourist_list panel' }

- title t('.tourists')

-# content_for :top do
  .switch_type
    %a.client.potential-switcher{:id => 'clients', :href => "#", :class => !show_potential_clients && 'active', :data => { :param=> 'potential', :filter => 1 }}
      %span= t('.clients')
    %a.client.potential-switcher{:id => 'clients_potential', :href => "#", :class => show_potential_clients && 'active', :data => { :param=> 'potential', :filter => 1, :value => 1 }}
      %span= t('.potential_clients')

- content_for :top do
  .switch_type
    %a.client.potential-switcher{ :href => tourists_url, :class => !show_potential_clients && 'active', id: 'clients' }
      %span= t('.clients')
    %a.client.potential-switcher{ :href => tourists_url(potential: 1), :class => show_potential_clients && 'active', id: 'clients_potential'}
      %span= t('.potential_clients')

  %form.filter
    - unless show_potential_clients
      = render partial: 'shared/search_field'

    - else
      = render partial: 'shared/search_field', locals: { filter_class: 'search small_filter' }

      = label_tag :user_id, t('.manager_filter')
      = select_tag :user_id,  options_from_collection_for_select(current_company.users.reject{ |u| u.role == 'admin' }, 'id', 'name_for_list', params[:user_id]), :prompt => t('all'), :class => 'filter_select', :data => { :param=> 'user_id', :filter => 1 }

= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  - unless show_potential_clients
    = link_to t('.add_tourist'), new_tourist_path, :class => 'add_operator'
  - else
    = link_to t('.add_client'), new_tourist_path(potential: 1), :class => 'add_operator'
