- title t('.tourists')
%table#tourists
  %thead
    %tr
      %th= t('.full_name')
      %th= t('.passport_series')
      %th= t('.passport_number')
      %th= t('.passport_valid_until')
      %th= t('.phone_number')
      %th= t('.address')
      %th= t('.date_of_birth')
      %th
      %th
  %tbody
    =render :partial => 'tourist', :collection => @tourists

= link_to t('.add_tourist'), new_tourist_path

