- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.tourists')

- content_for :top do
  .switch_type
    %a.client.potential-switcher{ :href => "#", :class => params[:potential].blank? && 'active',
      :data => { :param=> 'potential', :filter => 1 } }
      %span= t('.clients')
    %a.client.potential-switcher{ :href => "#", :class => params[:potential].present? && 'active',
      :data => { :param=> 'potential', :filter => 1, :value => 1 } }
      %span= t('.potential_clients')

  %form.filter
    = render 'shared/search_field'

= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.add_tourist'), new_tourist_path, :class => 'add_operator'
