- title "#{@tourist.full_name}"

%p
  Серия паспорта: #{@tourist.passport_series}
%p
  Номер паспорта: #{@tourist.passport_number}
%p
  Действителен до: #{@tourist.passport_valid_until}
%p
  Номер телефона: #{@tourist.phone_number}
%p
  Адрес: #{@tourist.address}
%p
  Дата рождения: #{@tourist.date_of_birth}

%p
  = link_to t('edit'), edit_tourist_path(@tourist)
  |
  = link_to t('destroy'), @tourist, :confirm => t('are_you_sure'), :method => :delete
  |
  = link_to t('.tourists'), tourists_path

