- with_current ||= false
%p= f.label :password
= f.password_field :password
%p= f.label :password_confirmation
= f.password_field :password_confirmation
- if with_current
  %p= f.label :current_password, t('current_password_for_changes')
  = f.password_field :current_password
