- with_current ||= false
%p
  = f.label :password
  %br
  = f.password_field :password
%p
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation

- if with_current
  %p
    = f.label :current_password
    %i= t('current_password_for_changes')
    %br
    = f.password_field :current_password
