%p
  = f.label :login
  %br
  = f.text_field :login
%p
  = f.label :first_name
  %br
  = f.text_field :first_name
%p
  = f.label :last_name
  %br
  = f.text_field :last_name
%p
  = f.label :middle_name
  %br
  = f.text_field :middle_name
%p
  = f.label :email
  %br
  = f.email_field :email
%p
  %span.color_sample= f.label :color
  = f.select :color, User.available_colors
