%p= f.label :subdomain
= f.text_field :subdomain
%span{:class => "for_domain"}= '.columbis.ru'
= f.text_field :email, :class => 'main_email', :value => ""
%p= f.label :email, :required => true
= check_field(@user)
%p= f.label :first_name, :required => true
= f.text_field :first_name
%p= f.label :last_name, :required => true
= f.text_field :last_name
%p= f.label :phone, :required => true
= f.text_field :phone_code, :value => "+7", disabled: true
= f.text_field :phone, :value => @user.phone.to_s.sub(/\A\+7/, '')

