- content_for(:body_class) { 'edit_operator' }

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :builder => ActionView::Helpers::FormBuilder) do |f|

  - content_for(:error_messages) do
    = f.error_messages

  %fieldset.form_column.first.sign_form
    .form_block
      .block_title
        %h2= t('.title')
      .form_block_content
        .fake_row
          %p= f.label :email
          = f.text_field :email
          %p= f.label :generate_password, :class => 'checkbox left_checkbox'
          = f.check_box :generate_password
          %p.submit_row= f.submit t('.send_me_reset_password_instructions'), :class => 'btn'
          %p.links
            = render :partial => "devise/shared/links"
