.current_container
  %table.reservations.tour_operators
    %tr
      %th= sort_link(:name, Operator.human_attribute_name(:name), :default)
      %th= sort_link(:register_number, Operator.human_attribute_name(:register_number))
      %th= sort_link(:register_series, Operator.human_attribute_name(:register_series))
      %th= sort_link(:inn, Operator.human_attribute_name(:inn))
      %th= sort_link(:ogrn, Operator.human_attribute_name(:ogrn))
      %th{ :style => 'width: 350px;' }
        = sort_link(:joint_address, t('.address'))
      %th.actions
        %span= t('actions')

    - for operator in @operators
      %tr{ :class => cycle('odd', 'even'), id: "operator_#{operator.id}" }
        %td
          %p= operator.name
        %td
          %p= operator.register_number
        %td
          %p= operator.register_series
        %td
          %p= operator.inn
        %td
          %p= operator.ogrn
        %td
          %p= operator.address.try(:joint_address)
        %td
          - if operator.common? && !is_admin?
            %div{ :title => t('.action_title_for_common') }
              - if can? :read, operator
                = link_to '', edit_operator_path(operator), :class => 'edit_row', :title => t('edit'), id: "edit_operator_#{operator.id}"
              - if can? :create_own, operator
                - if operator.in_company?(current_company)
                  = link_to '', operator_destroy_own_path(operator), confirm: t('are_you_sure'),:class => 'delete', :title => I18n.t('operators.edit.destroy_own'), id: "destoy_own_operator_#{operator.id}", method: :post
                - else
                  = link_to '', operator_create_own_path(operator), :class => 'create_own', :title => I18n.t('operators.edit.create_own'), id: "create_own_operator_#{operator.id}", method: :post
          - else
            - if can? :update, operator
              = link_to '', edit_operator_path(operator), :class => 'edit_row', :title => t('edit'), id: "edit_operator_#{operator.id}"
            - if can? :destroy, operator
              = link_to '', operator, :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', :title => t('delete'), id: "delete_operator_#{operator.id}"

  = render :partial => 'shared/pagination', :locals => { :collection => @operators }