- content_for(:body_class) { 'panel' }

- if common_operators?
  - title I18n.t('layouts.main_menu.management.operators_common')
- else
  - title I18n.t('layouts.main_menu.management.operators_own')

- content_for :top do
  %form.filter
    = render 'shared/search_field'
    - if !common_operators?
      = label_tag :source, t('.source')
      = select_tag :source, options_for_select(source_filter_options, params[:source]), class: 'filter_select', id: 'source_filter_options', data: { param: 'source', filter: true }


= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.new_operator'), new_operator_path, :class => 'add_operator'

