- title t('.operators')

%table
  %tr
    %th= t('.name')
  - for operator in @operators
    %tr
      %td= operator.name
      %td= link_to t('show'), operator
      %td= link_to t('edit'), edit_operator_path(operator)
      %td= link_to t('destroy'), operator, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.new_operator'), new_operator_path
