- set_current_width(:small)
- content_for(:body_class) { 'low_resolution panel edit_operator' }

- title t('.new_operator')

= form_for @operator do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.list_of_operator'), operators_path, :class => 'list_operator'