- title t('.operator')

%p
  %strong= t('.name')
  = @operator.name

%p
  = link_to t('edit'), edit_operator_path(@operator)
  |
  = link_to t('destroy'), @operator, :confirm => t('are_you_sure'), :method => :delete
  |
  = link_to t('view_all'), operators_path
