- title @operator.name

- for att in [:register_number, :register_series, :inn, :ogrn]
  %p
    #{Operator.human_attribute_name(att)}: #{@operator[att]}
  
%p
  Адрес: #{@operator.address.present? ? @operator.address.pretty_full_address : ''}  

%p
  = link_to t('edit'), edit_operator_path(@operator)
  |
  = link_to t('destroy'), @operator, :confirm => t('are_you_sure'), :method => :delete
  |
  = link_to t('view_all'), operators_path
