%p
  = f.label :region
  %br/
  = f.text_field :region
%p
  = f.label :street
  %br/
  = f.text_field :street
%p
  = f.label :house_number
  %br/
  = f.text_field :house_number
%p
  = f.label :housing
  %br/
  = f.text_field :housing
%p
  = f.label :office_number
  %br/
  = f.text_field :office_number
%p
  = f.label :phone_number
  %br/
  = f.text_field :phone_number
%p
  = f.label :zip_code
  %br/
  = f.text_field :zip_code
