%tr
  %td= client.full_name
  %td= client.passport_series
  %td= client.passport_number
  %td= client.passport_valid_until
  %td= client.phone_number
  %td= client.address
  %td= client.date_of_birth
  %td= client.created_at.to_s(:datetime).downcase
  %td= client.updated_at.to_s(:datetime).downcase
  %td= link_to t('edit'), edit_client_path(client)
  %td= link_to t('destroy'), client, :method => :delete, :confirm => t('are_you_sure')
