%li{:class => (params[:controller] == 'claims' && params[:action] != 'new') ? 'active' : ''}
  = link_to t('.claims'), claims_path, :id => 'claims_link'
  .rmenu_dropdown
    %ul
      - { :contract => t('.contract'), :permit => t('.permit'), :warranty => t('.warranty'), :memo => [t('.memo'), :memo_printer_for, :country], :act => t('.act') }.each do |mode, value|
        %li.first_menu_stroke{ :class => li_class(@claim, mode) }
          - unless value.is_a?(Array)
            - if @claim && !@claim.new_record? && @claim.company.try("#{mode}_printer".to_sym)
              = link_to(value, claim_path(@claim.id, :print => mode), :target => '_blank')
            - else
              = link_to value, '#', :class => "no_active_a"
          - else
            - if @claim && !@claim.new_record? && @claim.company.try(value[1], @claim.try(value[2]))
              = link_to(value[0], claim_path(@claim.id, :print => mode), :target => '_blank')
            - else
              = link_to value[0], '#', :class => "no_active_a"

      - if params[:controller] == 'claims' and (params[:action] == 'edit' || params[:action] == 'new')
        %li.first_menu_stroke= link_to t('.prihodnik'), '#'
      - else
        %li.first_menu_stroke.disabled= link_to t('.prihodnik'), '#', :class => "no_active_a"