%ul.rmenu
  - unless current_company.new_record?
    = render 'layouts/main_menu/claims'
    = render 'layouts/main_menu/newclaim'
    = render 'layouts/main_menu/management'
    = render 'layouts/main_menu/clients'
    - if user_signed_in? && %w(admin boss).include?(current_user.role)
      = render 'layouts/main_menu/reports'
    = render 'layouts/main_menu/support'
    - if user_signed_in? && is_admin?
      = render 'layouts/main_menu/admin'
    - else
      %li
        %a{ :href => 'http://columbis.ru' } www.columbis.ru
    - if can?(:users_sign_in_as, :user) && (show_demo_enter || show_demo_exit)
      = render 'layouts/main_menu/demo'
%ul.user_panel
  = render 'devise/menu/registration_items'
  = render 'devise/menu/login_items'
- if user_signed_in?
  #review_form_container{ style: 'display: none;' }
    = render 'tasks/review_form'