- c = params[:controller]

%li.management{:class => c == 'dashboard/companies' && 'active' }= link_to t('.company'), dashboard_edit_company_path
%li.management{:class => c == 'dashboard/users' && 'active' }= link_to t('.users'), dashboard_users_path
%li.management{:class => c == 'printers' && 'active' }= link_to t('.printers'), printers_path
%li.management{:class => c == 'operators' && 'active' }= link_to t('.operators'), operators_path
%li.management{:class => c == 'countries' && 'active' }= link_to t('.countries'), countries_path
%li.management{:class => c == 'cities' && 'active' }= link_to t('.cities'), cities_path
%li.management{:class => c == 'dashboard/dropdown_values' && 'active' }= link_to t('.dropdown_values'), dashboard_dropdown_values_path
-#
  %li.management{:class => c == 'sms_sendings' && 'active' }= link_to t('.sms_sendings'), sms_sendings_path
%li.management{ :class => params[:controller] == 'tariff_plans' && 'active' }
  = link_to t('.tariff_plans'), tariff_plans_path if can? :manage, TariffPlan