- c = params[:controller]
- a = params[:action]
- if c == 'boss/base'
  %li.active
    = link_to t('.desktop'), boss_index_path if user_signed_in? && %w(admin boss).include?(current_user.role)
- else
  - case a
    - when 'income', 'offices_income'
      %li.active
        = link_to t('.income_title'), '#'
      %li{:class => a == 'income' && 'active' }
        = link_to t('.income'), boss_reports_path(:income)
      %li{:class => a == 'offices_income' && 'active' }
        = link_to t('.income_offices'), boss_reports_path(:offices_income)
    - when 'margin', 'offices_margin'
      %li.active
        = link_to t('.margin_title'), '#'
      %li{:class => a == 'margin' && 'active' }
        = link_to t('.margin'), boss_reports_path(:margin)
      %li{:class => a == 'offices_margin' && 'active' }
        = link_to t('.margin_offices'), boss_reports_path(:offices_margin)
    - when 'managers_income', 'managers_margin'
      %li.active
        = link_to t('.managers_title'), '#'
      %li{:class => a == 'managers_income' && 'active' }
        = link_to t('.income_managers'), boss_reports_path(:managers_income)
      %li{:class => a == 'managers_margin' && 'active' }
        = link_to t('.margin_managers'), boss_reports_path(:managers_margin)
    - when 'normalcheck', 'directions', 'operators', 'tourprice', 'tourduration', 'hotelstars'
      %li.active
        = link_to t('.segmentation_title'), '#'
      %li{:class => a == 'normalcheck' && 'active' }
        = link_to t('.normalcheck'), boss_reports_path(:normalcheck)
      %li{:class => a == 'directions' && 'active' }
        = link_to t('.directions'), boss_reports_path(:directions)
      %li{:class => a == 'operators' && 'active' }
        = link_to t('.operators'), boss_reports_path(:operators)
      %li{:class => a == 'tourprice' && 'active' }
        = link_to t('.tourprice'), boss_reports_path(:tourprice)
      %li{:class => a == 'tourduration' && 'active' }
        = link_to t('.tourduration'), boss_reports_path(:tourduration)
      %li{:class => a == 'hotelstars' && 'active' }
        = link_to t('.hotelstars'), boss_reports_path(:hotelstars)
    - when 'clientsbase', 'repurchase', 'increaseclients', 'salesfunnel'
      %li.active
        = link_to t('.clientbase_title'), '#'
      %li{:class => a == 'clientsbase' && 'active' }
        = link_to t('.clientsbase'), boss_reports_path(:clientsbase)
      %li{:class => a == 'repurchase' && 'active' }
        = link_to t('.repurchase'), boss_reports_path(:repurchase)
      %li{:class => a == 'increaseclients' && 'active' }
        = link_to t('.increaseclients'), boss_reports_path(:increaseclients)
      %li{:class => a == 'salesfunnel' && 'active' }
        = link_to t('.salesfunnel'), boss_reports_path(:salesfunnel)
    - when 'promotionchannel'
      %li.active
        = link_to t('.promotionchannel_title'), '#'
      %li{:class => a == 'promotionchannel' && 'active' }
        = link_to t('.promotionchannel'), boss_reports_path(:promotionchannel)