.second_menu
  %ul.rmenu
    - unless current_company.new_record?
      - case params[:controller]
        - when 'claims'
          = render 'layouts/main_menu/second_claims'
        - when 'dashboard/companies', 'dashboard/users', 'printers', 'operators', 'cities', 'countries', 'dashboard/dropdown_values', 'sms_sendings', 'tariff_plans'
          = render 'layouts/main_menu/second_management'
        - when 'tourists'
          = render 'layouts/main_menu/second_clients'
        - when 'boss/reports', 'boss/base'
          = render 'layouts/main_menu/second_reports'
        - when 'tasks'
          = render 'layouts/main_menu/second_support'
        - when 'registrations', 'user_payments'
          = render 'layouts/main_menu/second_users'
        - when 'admin/base'
          = render 'layouts/main_menu/second_admin'
    .logo
    - if view_switcher?
      .type
        %p= t('.view')
        %select#view_switcher.view_switcher
          %option{ :value => 'manager_list', :selected => params[:list_type] == 'manager_list' && 'selected' }
            = t('claims.index.manager_list')
          %option{ :value => 'accountant_list', :selected => params[:list_type] == 'accountant_list' && 'selected' }
            = t('claims.index.accountant_list')
    - cache('top_manager_' + current_user.id.to_s, :expires_in => 1.hour) do
      - if is_mistral?
        - if !@top_managers
          = top_managers
        - if manager_pos(current_user.id)
          = render 'layouts/main_menu/sale_lider'