#mistral_top_managers.top_managers.with_tooltip{ title: top_managers_tooltip_text }
  %span.liders
    #{I18n.t('sale_lider')}
  %ul
    - if top_manager
      %li.first
        %span
          #{I18n.t('f_place')}
        %div
        %span
          = "#{top_manager(0, 'name')}"
    - if top_manager(1)
      %li.second
        %span
          #{I18n.t('s_place')}
        %div
        %span
          = "#{top_manager(1, 'name')}"
    - if top_manager(2)
      %li.third
        %span
          #{I18n.t('t_place')}
        %div
        %span
          = "#{top_manager(2, 'name')}"