%li.top_managers.with_tooltip{ title: top_managers_tooltip_text }
  %ul
    - if top_manager
      %li.first
        = "#{top_manager(0, 'name')}"
    - if top_manager(1)
      %li.second
        = "#{top_manager(1, 'name')}"
    - if top_manager(2)
      %li.third
        = "#{top_manager(2, 'name')}"