= form_for [:dashboard, @user], :url => update_password_dashboard_user_path, :remote => true do |f|
  = f.error_messages
  %p
    = f.label :password
    = f.text_field :password
    = f.submit t('edit')
