= form_for [:dashboard, @user] do |f|
  = f.error_messages
  - if is_admin?
    %p
      = f.label :company_id
      %br
      = f.select :company_id, Company.all.map{ |c| [c.name, c.id] }

  = render :partial => '/users/user_attributes', :locals => { :f => f }
  = render :partial => '/users/role', :locals => { :f => f }
  = render :partial => '/users/office', :locals => { :f => f }

  .actions
    = f.submit
