.current_container
  %table.reservations.tour_operators
    %tr
      %th{ :style => 'width: 350px;' }
        = sort_link(:fio, t('.fio'), :default)
      %th= sort_link(:login, User.human_attribute_name(:login))
      %th= sort_link(:role, User.human_attribute_name(:role))
      %th= sort_link(:email, User.human_attribute_name(:email))
      %th{ :style => 'width: 130px;' }
        %span= t('actions')

    - office_id = nil
    - available_colors = Hash[User.available_colors]
    - # key_method = Hash.respond_to?(:key) ? :key : :index # In ruby 1.8.7 Hash class has no :key method
    - @users.each do |user|
      - if office_id != user.office_id
        - office_id = user.office_id
        - reset_cycle
        %tr
          %td.big_row{ :colspan => 5 }
            %p= user.office.try(:name)
      %tr{ :class => cycle('odd', 'even') }
        %td
          %p= user.full_name
        - user_color = available_colors.send(:key, user.color)
        %td{ :class => user_color && "user_#{user_color.underscore}" }
          %p
            %span.colored.circular{ :style => "background-color: #{user.color};" }
            = user.login
        %td
          %p= user.role
        %td
          %p= user.email
        %td
          - if can? :update, user
            = link_to '', edit_dashboard_user_path(user), class: 'edit_row', title: t('edit'), id: "edit_user_#{user.id}"
          - if can? :destroy, user
            = link_to '',  dashboard_user_path(user), method: :delete, confirm: t('are_you_sure'), class: 'delete', title: t('delete'), id: "destroy_user_#{user.id}"
          - if user != current_user and can?(:manage, user)
            = link_to '', dashboard_sign_in_as_path(user), class: 'power', title: t('.sign_in_as')

  = render :partial => 'shared/pagination', :locals => { :collection => @users }