%tr
  %td= user.role
  %td{ :style => "background-color:#{user.color}; border: solid 1px black; padding: 0px 8px;" }
    = user.login
  %td= user.last_name
  %td= user.first_name
  %td= user.middle_name
  %td= user.email
  - if can? :update, user
    %td= link_to t('edit'), edit_dashboard_user_path(user)
  - if can? :destroy, user
    %td= link_to t('destroy'), [:dashboard, user], :method => :delete, :confirm => t('are_you_sure')
  - if can? :manage, user
    %td= link_to t('.sign_in_as'),  dashboard_sign_in_as_path(user)
