%tr
  %td= user.login
  %td= user.last_name
  %td= user.first_name
  %td= user.middle_name
  %td= user.email
  %td= user.role
  - if can? :update, user
    %td= link_to t('edit'), edit_dashboard_user_path(user)
  - if can? :destroy, user
    %td= link_to t('destroy'), [:dashboard, user], :method => :delete, :confirm => t('are_you_sure')
  - if can? :create, user
    %td= link_to t('.resent_password'), resent_password_dashboard_user_path(user), :confirm => t('are_you_sure')
