%p
  = f.label :login
  %br
  = f.text_field :login
%p
  = f.label :first_name
  %br
  = f.text_field :first_name
%p
  = f.label :last_name
  %br
  = f.text_field :last_name
%p
  = f.label :middle_name
  %br
  = f.text_field :middle_name
%p
  = f.label :email
  %br
  = f.email_field :email
- if %w[new create].include? action_name
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
- else
  %p
    = f.label :role
    %br
    - if is_admin?
      = f.collection_select :role, User::ROLES, :to_s, :humanize
    - else
      = f.object.role
