- content_for(:body_class) { 'panel profile_edit' }

- title t('.edit_password', :user => @user.login)

= form_for [:dashboard, @user], :url => update_password_dashboard_user_path do |f|
  - @form_id = f.options[:html][:id]

  = f.error_messages

  %fieldset.form_column.form_column-middle.first
    .form_block.grey_block
      .block_title
        %h2= t('.reset_password')
      .form_block_content
        .fake_row.single_row
          %p= f.label :password
          = f.text_field :password, :class => 'type_user'
  %fieldset.form_submit{ :style => 'display: none; height: 0;' }
    = f.submit

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
