- content_for(:body_class) { 'panel profile_edit' }

- title t('.edit_user', :user => @user.login)

= form_for [:dashboard, @user] do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'users/form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  - if can? :destroy, @user
    = link_to t('delete'), dashboard_user_path(@user.id), class: 'delete_operator', confirm: t('are_you_sure'), method: :delete, id: "destroy_user_#{@user.id}"
  - if can? :update, @user
    = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  - if @user != current_user and can?(:manage, @user)
    = link_to t('.sign_in_as'), dashboard_sign_in_as_path(@user), :class => 'switch_user'
