- title t('.users')
%table#users
  %thead
    %tr
      %th= t('.role')
      %th= t('.login')
      %th= t('.last_name')
      %th= t('.first_name')
      %th= t('.middle_name')
      %th= t('.email')
      %th
      %th
  %tbody
    - @offices.each do |office|
      %tr
        %td{ :colspan => 2 }
          %h2= office.try(:name)
      %tr
        %td{ :colspan => 4 }
      = render :partial => 'user', :collection => office.users
%p
  = link_to t('.add_user'), new_dashboard_user_path

.window#password_reset_form{ :style => 'display:none' }
  .title
    = t('dashboard.users.user.reset_password')
    .close X
  .content
