- title t('.users')
%table#users
  %thead
    %tr
      %th= t('.role')
      %th= t('.office')
      %th= t('.login')
      %th= t('.last_name')
      %th= t('.first_name')
      %th= t('.middle_name')
      %th= t('.email')
      %th
      %th
  %tbody
    = render :partial => 'user', :collection => @users

= link_to t('.add_user'), new_dashboard_user_path
