.current_container
  .charts
    .chart-left
      #count_bar.chart{ data: { type: 'standart_column', settings: @report.bar_settings(:count, @count) } }
    .chart-right
      #amount_bar.chart{ data: { type: 'standart_column', settings: @report.bar_settings(:amount, @amount) } }
  .alert.alert-info{:style=>"clear:both"}
    %button.close{"data-dismiss" => "alert", "type" => "button"}
      ×
    - t('.aboutABC').each do |stroke|
      %p= stroke

  %table.totals.reservations.tour_operators
    %thead
      %tr
        %th= sort_link 'last_name', t(".tourist")
        %th= sort_link 'amount', t('.amount'), :desc
    %tbody
      %tr
        %td{:colspan => 2}
          %center
            %b= t('.amount80')
      - @amount80.each do |row|
        %tr
          %td= "#{row['last_name']} #{row['first_name']} #{row['middle_name']}"
          %td= row['amount']
      %tr
        %td{:colspan => 2}
          %center
            %b{:colspan => 2}= t('.amount15')
      - @amount15.each do |row|
        %tr
          %td= "#{row['last_name']} #{row['first_name']} #{row['middle_name']}"
          %td= row['amount']
      %tr
        %td{:colspan => 2}
          %center
            %b{:colspan => 2}= t('.amount5')
      - @amount5.each do |row|
        %tr
          %td= "#{row['last_name']} #{row['first_name']} #{row['middle_name']}"
          %td= row['amount']