= label_tag :period, t('.period')
= select_tag :period, options_for_select(period_options, 'day'), data: { param: 'period', default: 'day' }
%ul#settings-menu.settings-menu{ title: t('.settings') }
  - if @total_names
    - @total_names.each do |name|
      - checked = !@report.total_filter || @report.total_filter.include?(name[:id])
      %li
        = label_tag "total-#{name[:id]}", name[:name], class: ['checkbox left_checkbox', checked && 'active']
        = check_box_tag "total-#{name[:id]}", name[:id], checked, data: { param: 'total_filter[]', filter: 1, default: true, event: false }
  %li.settings-menu-buttons
    %button.btn.btn-small.btn-primary{ type: 'button', role: 'button', rel: 'save' }= t('save')
    %button.btn.btn-small{ type: 'button', role: 'button', rel: 'close' }= t('close')