.current_container
  .charts
    - if @report.view == 'days'
      #amount_area.chart{ data: { type: 'datearea', settings: @report.area_settings(@amount_factor) } }
    - elsif @report.view == 'months'
      #amount_column.chart{ data: { type: 'column', settings: @report.column_settings(@amount_factor) } }

    -#
      / - unless @total_factor == :total
      /   #amount_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(@total_factor) } }

  .totals
    - if @amount_factor == :amount
      %h3
        = "#{@total['name']}: "
        %b= "#{@total['amount']} #{t('rur')}"
    - else
      %table.reservations.tour_operators
        %thead
          %tr
            %th
              %span= t('report.n')
            %th= sort_link 'name', t(".#{params[:group]}")
            %th= sort_link 'amount', I18n.t('report.total'), :desc
        %tbody
          - @total.each_with_index do |row, i|
            %tr
              %td= i + 1
              %td= row['name']
              %td= row['amount']
