.current_container
  .charts
    - unless params[:show_amount] == '0'
      .chart-left
        - unless params[:show_bars] == '0'
          #amount_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:amount, @amount) } }
        - unless params[:show_pies] == '0'
          #amount_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:amount, @amount) } }
    - unless params[:show_items] == '0'
      .chart-right
        - unless params[:show_bars] == '0'
          #items_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:items, @items) } }
        - unless params[:show_pies] == '0'
          #items_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:items, @items) } }

  %table.totals.reservations.tour_operators
    %thead
      %tr
        %th= sort_link 'name', t('.operator')
        %th= sort_link 'amount', t('.amount'), :desc
        %th= sort_link 'items', t('.items')
    %tbody
      - @total.each do |row|
        %tr
          %td= row['name']
          %td= row['amount']
          %td= row['items']
