.current_container
  .charts
    .chart-left
      #amount_bar.chart
      #items_bar.chart
    .chart-right
      #amount_pie.chart
      #items_pie.chart

  %table.totals.reservations.tour_operators
    %thead
      %tr
        %th= sort_link 'name', t('.operator')
        %th= sort_link 'amount', t('.amount'), :desc
        %th= sort_link 'items', t('.items')
    %tbody
      - @total.each do |row|
        %tr
          %td= row['name']
          %td= row['amount']
          %td= row['items']

- content_for(:head) do
  :javascript
    $(function() {
      var amount_bar = Charts.bar('amount_bar', {
        title: {
          text: 'Amount price'
        },
        subtitle: {
          text: 'First 10 operators'
        },
        xAxis: {
          categories: #{@amount.map{|o| o['name'] }.inspect}
        },
        yAxis: {
          title: {
            text: 'RUR'
          }
        },
        series: [{
          name: 'Amount price',
          data: #{@amount.map{|o| o['amount'] }.inspect}
        }]
      });

      var amount_pie = Charts.pie('amount_pie', {
        title: {
          text: 'First 10 operators'
        },
        subtitle: {
          text: 'First 10 operators'
        },
        series: [{
          type: 'pie',
          name: 'First 10 operators',
          data: #{@amount.map{|o| [o['name'], o['amount']] }.inspect}
        }]
      });

      var items_bar = Charts.bar('items_bar', {
        title: {
          text: 'Amount price'
        },
        subtitle: {
            text: 'First 10 operators'
        },
        xAxis: {
          categories: #{@items.map{|o| o['name'] }.inspect}
        },
        yAxis: {
          title: {
            text: 'RUR'
          }
        },
        series: [{
          name: 'items price',
          data: #{@items.map{|o| o['items'] }.inspect}
        }]
      });

      var items_pie = Charts.pie('items_pie', {
        title: {
          text: 'First 10 operators'
        },
        subtitle: {
            text: 'First 10 operators'
        },
        series: [{
          type: 'pie',
          name: 'First 10 operators',
          data: #{@items.map{|o| [o['name'], o['items']] }.inspect}
        }]
      });
    });