.current_container
  .charts
    .chart-left
      #count_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:count, @count) } }
      #count_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:count, @count) } }
    .chart-right
      #amount_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:amount, @amount) } }
      #amount_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:amount, @amount) } }

%table.table
  %thead
    %tr
      %td
        = I18n.t('intervals.channels.names.internet')
      %td
        = I18n.t('intervals.channels.names.recommendations')
      %td
        = I18n.t('intervals.channels.names.client')
      %td
        = I18n.t('intervals.channels.names.tv')
      %td
        = I18n.t('intervals.channels.names.magazines')
      %td
        = I18n.t('intervals.channels.names.signboard')
      %td
        = I18n.t('intervals.channels.names.default')
  %tbody
    %tr
      %td
        %ul
          - @from_internet.each do |item|
            %li
              =item
      %td
        %ul
          - @from_recommendations.each do |item|
            %li
              =item
      %td
        %ul
          - @from_client.each do |item|
            %li
              =item
      %td
        %ul
          - @from_tv.each do |item|
            %li
              =item
      %td
        %ul
          - @from_magazines.each do |item|
            %li
              =item
      %td
        %ul
          - @from_signboard.each do |item|
            %li
              =item
      %td
        %ul
          - @channels.each do |item|
            %li
              =item