.current_container
  .charts
    .chart-left
      #count_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:count, @count) } }
    .chart-right
      #count_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:count, @count) } }

  .totals
    %table.reservations.tour_operators
      %thead
        %tr
          %th.number= I18n.t("report.n")
          %th= sort_link 'last_name', I18n.t("boss.reports.repurchase.tourist")
          %th= sort_link 'number', I18n.t('boss.reports.repurchase.number'), :desc
      %tbody
        - @total.each_with_index do |row, i|
          %tr
            %td= i + 1
            %td= "#{row['last_name']} #{row['first_name']} #{row['middle_name']}"
            %td.center= row['number']