- content_for(:head) { javascript_include_tag 'highcharts' } #, 'highcharts/highcharts-more' }
- set_current_width(:small)

- title t('.title')

- content_for :top do
  %form.filter
    = label_tag :start_date, t('.start_date')
    = text_field_tag :start_date, l(Date.parse(@report.start_date.to_s), format: :long), class: 'datepicker start_date date', data: { param: 'start_date', filter: 1 }

    = label_tag :end_date, t('.end_date')
    = text_field_tag :end_date, l(Date.parse(@report.end_date.to_s), format: :long), class: 'datepicker start_date date', data: { param: 'end_date', filter: 1 }

    = label_tag :row_count, t('.row_count')
    = select_tag :row_count, options_for_select(row_count_options), class: 'filter_select', data: { param: 'row_count', filter: 1 }

= render partial: 'operators'