- set_current_width(:small)

- title t('.title')

- content_for :top do
  = render partial: 'filter', locals: {show_others_label: false}

= render partial: 'promotionchannel'


%table.table
  %thead
    %tr
      %td
        = I18n.t('intervals.channels.names.internet')
      %td
        = I18n.t('intervals.channels.names.recommendations')
      %td
        = I18n.t('intervals.channels.names.client')
      %td
        = I18n.t('intervals.channels.names.tv')
      %td
        = I18n.t('intervals.channels.names.magazines')
      %td
        = I18n.t('intervals.channels.names.signboard')
      %td
        = I18n.t('intervals.channels.names.default')
  %tbody
    %tr
      %td
        %ul
          - @from_internet.each do |item|
            %li
              =item
      %td
        %ul
          - @from_recommendations.each do |item|
            %li
              =item
      %td
        %ul
          - @from_client.each do |item|
            %li
              =item
      %td
        %ul
          - @from_tv.each do |item|
            %li
              =item
      %td
        %ul
          - @from_magazines.each do |item|
            %li
              =item
      %td
        %ul
          - @from_signboard.each do |item|
            %li
              =item
      %td
        %ul
          - @channels.each do |item|
            %li
              =item