- content_for(:error_messages) do
  = f.error_messages

%fieldset.form_column.form_column-small.first
  .form_block
    .block_title
      %h2= t('.common')
    .form_block_content
      .fake_row
        / %p= f.label :description
        / = f.text_area :description, :style => "max-width: 240px; height: 80px", :readonly => true
        %p= f.label :tariff, required: false
        = f.select :tariff_id, tariff_plan_select_options, { include_blank: false }, :class => 'tariff'
        %p= f.label :period, required: false
        - periods = user_payment_periods
        = f.select :period, periods, { include_blank: false, selected: f.object.period || periods.values.last }, :class => 'period'
        %p= f.label :amount, required: false
        = f.text_field :amount, :readonly => true, :class => 'amount'
        %label.amount_currency= t('rur')
        %p
          %label{:id => "if_balance"}

%fieldset.form_submit{ :style => 'display: none; height: 0;' }
  = f.submit

= javascript_tag do
  = render :partial => "tariff_plans/tariffs_load.js.haml"