- content_for(:error_messages) do
  = f.error_messages

%fieldset.form_column.form_column-small.first
  .form_block
    .block_title
      %h2= t('.common')
    .form_block_content
      .fake_row
        %p= f.label :description
        = f.text_field :description
        %p= f.label :tariff
        = f.text_field :tariff_id
        %p= f.label :period
        = f.text_field :period
        %p= f.label :amount
        = f.number_field :amount
        = f.select :currency, (CurrencyCourse::CURRENCIES).collect { |o| [t(o.upcase), o] }, {}, :class => 'price_select', :not_highlighted => true

%fieldset.form_submit{ :style => 'display: none; height: 0;' }
  = f.submit