.current_container
  %table.reservations.tour_operators
    %tr
      %th= sort_link :invoice, t('.invoice')
      %th= sort_link :description, t('.description')
      %th= sort_link :amount, t('.amount')
      %th= sort_link(:updated_at, t('.updated_at'), :default)
      %th
        %span= t('.status')
      %th.actions
        %span= t('actions')

    - for user_payment in @user_payments
      %tr{ :class => cycle('odd', 'even'), id: "user_payment_#{user_payment.id}" }
        %td
          %p= user_payment.invoice
        %td.body{:class => [(user_payment.description.length > 80) && 'popup_hover'], :data => { :content => (user_payment.description.length > 80) && user_payment.description }}
          %p{:class => "with_tooltip", :title => user_payment.description }
            = truncate user_payment.description, length: 100, omission: '...', separator: ' '
        %td
          %p= user_payment.amount.to_s + " " + t(user_payment.currency)
        %td
          %p= l(user_payment.updated_at, :format => "%d.%m.%Y %H:%M")
        %td{ :width => "100px" }
          - unless ['new', 'fail'].include? user_payment.status
            %p= t(".statuses.#{user_payment.status}")
          - else
            - confirm_text = t('.confirm')
            - confirm_text = t('.confirm_again') if user_payment.status == 'fail'
            = payment_service_for user_payment[:invoice], CONFIG[:robokassa_login], :amount =>  user_payment[:amount], :service => :robokassa, :secret => CONFIG[:robokassa_password1] do |s|
              = submit_tag confirm_text
        %td{ :width => "50px" }
          - if can? :destroy, user_payment
            = link_to '', user_payment, :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', :title => t('delete'), id: "delete__#{user_payment.id}", :style => "margin-left:10px"

  = render :partial => 'shared/pagination', :locals => { :collection => @user_payments }