%p#notice= notice

%p
  %b Amount:
  = @user_payment.amount
%p
  %b Currency:
  = @user_payment.currency
%p
  %b Invoice:
  = @user_payment.invoice
%p
  %b Period:
  = @user_payment.period
%p
  %b Description:
  = @user_payment.description
%p
  %b Approved:
  = @user_payment.approved
%p
  %b Company:
  = @user_payment.company_id
%p
  %b User:
  = @user_payment.user_id
%p
  %b Tariff:
  = @user_payment.tariff_id

= link_to 'Edit', edit_user_payment_path(@user_payment)
\|
= link_to 'Back', user_payments_path
