= form_for [:dashboard, @dropdown_value] do |f|
  = f.error_messages
  %table
    %tr
      %th= f.label :list
      %th= f.label :value
    %tr
      %td= f.select :list, options_for_select(DropdownValue.available_lists.map{ |k,v| [v, k] })
      %td= f.text_field :value
  %p
    = f.submit
