- set_current_width(:small)
- content_for(:body_class) { 'panel edit_tourists' }

- title t('.title', :value => "#{DropdownValue.available_lists[@dropdown_value.list.to_sym]}: #{@dropdown_value.value}")

= form_for [:dashboard, @dropdown_value] do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('delete'), [:dashboard, @dropdown_value], :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.list_of_dropdown_values'), dashboard_dropdown_values_path, :class => 'list_operator'