- content_for(:body_class) { 'edit_operator' }

= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|

  - content_for(:error_messages) do
    = f.error_messages header_message: false

  %fieldset.form_column.first.sign_form
    .form_block
      .block_title
        %h2= t('.title')
      .form_block_content
        .fake_row
          = f.text_field :login, :class => 'main_email', :value => ""
          %p= f.label :login, t('.email_or_login')
          %input{ :id => "user_check", :type => "text", :name => "user[_check]", :class => "required" }
          %p= f.label :password
          = f.password_field :password
          - if devise_mapping.rememberable?
            %p= f.label :remember_me, :class => 'checkbox left_checkbox'
            = f.check_box :remember_me
          %p.submit_row
            = f.submit 'Войти', :class => 'btn', :id => 'user_session_submit'
            = link_to "Зарегистрироваться", new_registration_path(resource_name)
          %p.links
            = render :partial => "devise/shared/links", locals: { exclude: :sign_up }