%h1
  "#[#{@task.id}]" Задача:
%p
  Содержание:
  %br
    = @task.body
  %br
    Дата создания: #{@task.created_at}
  - if @task.status == 'finish'
    %br
      Дата взятия: #{@task.start_date}  
    %br
      Дата завершения: #{@task.end_date}
  - if @task.status == 'work'
    %br
      Дата взятия: #{@task.start_date}  

    
%p
  =link_to 'Подробнее', tasks_url