- title t('.addresses')

%table#addresses
  %thead
    %tr
      %th= t('.region')
      %th= t('.street')
      %th= t('.house_number')
      %th= t('.housing')
      %th= t('.office_number')
      %th= t('.phone_number')
      %th= t('.zip_code')
      %th
      %th
  %tbody
    - for address in @addresses
      %tr
        %td= address.region
        %td= address.street
        %td= address.house_number
        %td= address.housing
        %td= address.office_number
        %td= address.phone_number
        %td= address.zip_code
        %td= link_to t('show'), address
        %td= link_to t('edit'), edit_address_path(address)
        %td= link_to t('destroy'), address, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.add_address'), new_address_path
