- title t('.addresses')

%table#addresses
  %thead
    %tr
      %th Регион
      %th Улица
      %th Номер дома
      %th Корпус
      %th Номер офиса
      %th Телефон
      %th Почтовый индекс
      %th
      %th
  %tbody
    - for address in @addresses
      %tr
        %td= address.region
        %td= address.street
        %td= address.house_number
        %td= address.housing
        %td= address.office_number
        %td= address.phone_number
        %td= address.zip_code
        %td= link_to t('show'), address
        %td= link_to t('edit'), edit_address_path(address)
        %td= link_to t('destroy'), address, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.add_address'), new_address_path
