- title t('.address')

%p
  %strong Регион:
  = @address.region
  %br/
  %strong Улица:
  = @address.street
  %br/
  %strong Номер дома:
  = @address.house_number
  %br/
  %strong Корпус:
  = @address.housing
  %br/
  %strong Номер офиса:
  = @address.office_number
  %br/
  %strong Телефон:
  = @address.phone_number
  %br/
  %strong Индекс:
  = @address.zip_code


%p
  = link_to t('edit'), edit_address_path(@address)
  |
  = link_to t('destroy'), @address, :confirm => t('are_you_sure'), :method => :delete
  |
  = link_to t('.addresses'), addresses_path
