- set_current_width(:small)
- content_for(:body_class) { 'dashboard' }

- title t('.key_indexes')


- content_for :top do
  %form.filter
    = link_to '', '#', id: 'settings', class: 'settings'
    %ul#settings-menu.settings-menu{ title: t('.settings') }
      %li
        = text_field_tag :widget_date, l(@date, format: :long), class: 'datepicker start_date date', data: { param: 'widget_date', filter: 1, default: @date }
      %li.settings-menu-buttons
        %button.btn.btn-small{ type: 'button', role: 'button', rel: 'close' }= t('close')
  .current-date
    = l @date, :format => "%A, %d %B %Y, #{t('date.week')} %V"

.current_container
  .widget-area.clearfix
    - @widgets.each do |widget|
      = render partial: "boss/widgets/widget", locals: { widget: widget }

- if request.xhr?
  = render partial: "boss/index.js"