- content_for(:body_class) { 'dashboard' }

- title t('.key_indexes')


- content_for :top do
  = render partial: "boss/settings"
  .current-date
    = l @date, :format => "%A, %d %B %Y, #{t('date.week')} %V"

.current_container
  .widget-area.clearfix
    - @widgets.each do |widget|
      = render partial: "boss/widgets/widget", locals: { widget: widget }

- if request.xhr?
  = render partial: "boss/index.js"