- id_prefix = 'claim_dependents_attributes_{{num}}'
- name_prefix = 'claim[dependents_attributes][{{num}}]'
- i18n_prefix = 'claims.dependents'
.fake_row.dependent.fields{ :id => "dependent-{{num}}", :class => 'new_record' }
  .clearfix
    .col-actions
      .delete-wrap
        %a.delete{ 'data-check' => t('are_you_sure') }
    .col-main.clearfix
      .common_fields
        .block-right
          .wrap-input.date_of_birth-wrap
            = text_field_tag "#{name_prefix}[date_of_birth]", '{{date_of_birth}}', :id => "#{id_prefix}_date_of_birth", :class => 'datepicker date_of_birth date'
          .passport-wrap
            .wrap-input.passport_series-wrap
              = text_field_tag "#{name_prefix}[passport_series]", '{{passport_series}}', :id => "#{id_prefix}_passport_series", :class => 'passport_series number_password'
            .wrap-input.passport_number-wrap
              = text_field_tag "#{name_prefix}[passport_number]", '{{passport_number}}', :id => "#{id_prefix}_passport_number", :class => 'passport_number date'
          .wrap-input.passport_valid_until-wrap
            = text_field_tag "#{name_prefix}[passport_valid_until]", '{{passport_valid_until}}', :id => "#{id_prefix}_passport_valid_until", :class => 'datepicker passport_valid_until expires_date'
          .wrap-select.sex-wrap
            = select_tag "#{name_prefix}[sex]", options_for_select(Tourist::SEX_STATES.collect { |o| [t('sex_states_short.'+o), o] }, '{{sex}}'), :id => "#{id_prefix}_sex", :class => 'wide', :not_highlighted => true
        .block-stretch
          .wrap-input.autocomplete-wrap.name-wrap
            = text_field_tag "#{name_prefix}[full_name]", '{{full_name}}', :id => "#{id_prefix}_full_name", :class => 'autocomplete full_name name', data: { ac: { source: tourist_autocomplete_claims_path } }
        .down-block
          .block-stretch
            .wrap-input.fio_latin-wrap
              = text_field_tag "#{name_prefix}[fio_latin]", '{{fio_latin}}', :id => "#{id_prefix}_fio_latin", :class => 'fio_latin'
  = hidden_field_tag "#{name_prefix}[_destroy]", '{{_destroy}}', :id => "#{id_prefix}__destroy", :class => '_destroy'
  = hidden_field_tag "#{name_prefix}[id]", '{{id}}', :id => "#{id_prefix}_id", :class => 'hidden_id'