.widget.widget-small
  = render partial: 'boss/widgets/menu_small' unless local_assigns[:menu] === false
  .widget-title
    %h2= widget[:title]
  .widget-content
    .widget-stats
      - widget[:data].count.downto(1) do |i|
        - col = widget[:data][i-1]
        %div{ class: "widget-col-#{i}" }
          - col.each do |value|
            - if value.kind_of?(Hash)
              %p{ class: value[:class] }
                = value[:data] if value[:data]
            - else
              %p= value

    .widget-total
      - total = widget[:total]
      .widget-text= total[:title]
      .widget-sum= total[:data]
      .widget-text= total[:text]