.settings-menu{id: "settings-menu-#{widget.id}", title: t('boss.active_record.widget.menu.settings')}
  = form_for widget, :remote => true, url:  boss_save_widget_settings_path(widget), html: {method: "post"} do |f|
    %ul
      %li
        - options = Boss::Widget::PERIODS.map{ |p| [t("report.period_options.#{p}"), p] }
        = f.label :period, t('boss.active_record.widget.chart.period')
        = f.select :period, options_for_select(options, widget.period), { prompt: '' }
      %li
        - options = Boss::Widget::VIEWS.map{ |p| [t("boss.active_record.widget.chart.views.#{p}"), p] }
        = f.label :view, t('boss.active_record.widget.chart.view')
        = f.select :view, options_for_select(options, widget.view), { prompt: '' }
      %li
        .settings-menu-buttons
          = f.submit t('save'), :class => "btn btn-small btn-primary", :role => "button"
          %input{:value => t('close'), :class => "btn btn-small", :type => "button", :role => "button"}