- claims_data = widget.claims_widget_data
- data = claims_data[:data]
- total = claims_data[:total]
.widget.widget-small
  = render partial: 'boss/widgets/menu_small'
  .widget-title
    %h2= widget.title
  .widget-content
    .widget-stats
      - data.count.downto(1) do |i|
        - col = data[i-1]
        %div{ class: "widget-col-#{i}" }
          - col.each do |value|
            - if value.kind_of?(Hash)
              %p{ class: value[:class] }
                = value[:data] if value[:data]
            - else
              %p= value

    .widget-total
      .widget-text= total[:title]
      .widget-sum= total[:data]
      .widget-text= total[:text]