.current_container
  %table#tourists.tourists.reservations.tour_operators
    %tr
      %th.full_name
        %span= t('boss.active_record.widget.tables.full_name')
      %th.phone_number
        %span= t('boss.active_record.widget.tables.phone_number')
      %th.email
        %span= t('boss.active_record.widget.tables.email')
      %th.address
        %span= t('boss.active_record.widget.tables.address')
      %th.actions
        %span= t('actions')
      %th.actions
        %span= t('boss.active_record.widget.tables.tourists_created_at')
    - for tourist in tourists
      %tr{ :class => cycle('odd', 'even'), id: "tourist-#{tourist.id}"}
        %td
          %p= tourist.name
        %td
          %span= tourist.phone_number
        %td
          %span= tourist.email
        %td
          %p= tourist.address.try(:joint_address)
        %td
          = link_to '', edit_tourist_path(tourist), :class => 'edit_row', :title => t('edit'), id: "edit_tourist_#{tourist.id}"
        %td
          %span= Russian::strftime(tourist.created_at, "%d %B %Y, %H:%M")