- if widget.visible
  - widget.date = @date
  - widget_data = widget.widget_data
  - case widget.view
  - when 'small2'
    - height = '200px'
    - widget_columns = "2"
  - when 'medium'
    - height = '250px'
    - widget_columns = "2"
  - when 'large'
    - height = '500px'
    - widget_columns = "3"
  - else
    - height = '200px'
    - widget_columns = "1"
  .widget{:position => widget.id, 'data-ss-colspan' => widget_columns, :style => "height: #{height};"}
    = render partial: "boss/widgets/menu", locals: { widget: widget }
    .widget-title
      %h2= I18n.t(widget.title)
    %div{:class => "widget-content-#{widget.view}"}
      - case widget.widget_type
        - when 'factor'
          = render partial: 'boss/widgets/factor', locals: { data: widget_data[:data], total: widget_data[:total] }
        - when 'chart'
          = render partial: 'boss/widgets/chart', locals: { data: widget_data, id: "chart_#{widget.id}" }
        - when 'table'
          = render partial: 'boss/widgets/table', locals: { widget: widget }
        - when 'leader'
          = render partial: 'boss/widgets/leader', locals: { data: widget_data[:data], text: widget_data[:text] }