- title 'I\'m index! C\'mon yo!'

%ul
  %li= link_to t('users'), users_path
  %li= link_to t('tourists'), tourists_path
  %li= link_to t('operators'), operators_path
  %li= link_to t('claims'), claims_path
  %li= link_to t('reservations'), reservations_path

