.current_container
  %table.reservations.tour_operators
    %tr
      %th= sort_link(:name, t('.name'), :default)
      %th.actions
        %span= t('actions')

    - for country in @countries
      %tr{ :class => cycle('odd', 'even'), id: "country#{country.id}" }
        %td
          %p= country.name
        %td
          - if country.common? && !is_admin?
            %div{ :title => t('.action_title_for_common') }
              = t('nope')
          - else
            - if can? :update, country
              = link_to '', edit_country_path(country), :class => 'edit_row', :title => t('edit'), id: "edit_country_#{country.id}"
            - if can? :destroy, country
              = link_to '', country, :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', :title => t('delete'), id: "delete__#{country.id}"

  = render :partial => 'shared/pagination', :locals => { :collection => @countries }