- set_current_width(:small)
- content_for(:body_class) { 'panel edit_operator' }

- title t('.edit_country', :country => @country.name)

= form_for @country do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  - if can? :destroy, @country
    = link_to t('delete'), @country, :class => 'delete_operator', :confirm => t('are_you_sure'), :method => :delete, id: "delete_country#{@country.id}"
  - if can? :update, @country
    = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('list_of_countries'), countries_path, :class => 'list_operator'
