- title t('.countries')

%table
  %tr
    %th= t('.name')
  - for country in @countries
    %tr
      %td= country.name
      %td= link_to t('show'), country
      %td= link_to t('edit'), edit_country_path(country)
      %td= link_to t('destroy'), country, :confirm => ('are_you_sure'), :method => :delete

%p= link_to t('.new_country'), new_country_path
