- title t('.airlines')

%table
  %tr
    %th= t('.name')
  - for airline in @airlines
    %tr
      %td= airline.name
      %td= link_to t('show'), airline
      %td= link_to t('edit'), edit_airline_path(airline)
      %td= link_to t('destroy'), airline, :confirm => 'Are you sure?', :method => :delete

%p= link_to t('.new_airline'), new_airline_path
