.current_container
  %table.reservations.tour_operators.list_table
    %tr
      %th= sort_link(:mode, t('.mode'), :default)
      %th= sort_link(:template_name, t('.template_name'))
      %th
        %span= t('actions')

    - for printer in @printers
      %tr{ :id => "printer_#{printer.id}", data: { edit_path: edit_printer_path(printer.id) } }
        %td{:style => "width: 100px"}
          %p= printer.mode
        %td
          - name = ""
          - if printer.template?
            - name = printer.template_name
          - else
            - name = printer.country_name + ' - ' if printer.mode_type == 'memo' && printer.country_name
            - name += printer.mode + " (#{I18n.t('.printers.default')})"
          %p= name
        %td.activity
          = link_to '', download_template_path(printer.id), :class => 'download', :title => t('download')
          = link_to '', edit_printer_path(printer.id), :class => 'edit_row', :title => t('edit')
          = link_to '', printer_path(printer.id), :class => 'delete', :title => t('delete'), :remote => true, :method => :delete, :confirm => I18n.t('printers.messages.confirm')

  = render :partial => 'shared/pagination', :locals => { :collection => @printers }