.current_container
  %table.reservations.tour_operators
    %tr
      %th= sort_link(:mode, t('.mode'), :default)
      %th= sort_link(:template_name, t('.template_name'))
      %th
        %span= t('actions')

    - for printer in @printers
      %tr{:id => "printer_#{printer.id}"}
        %td{:style => "width: 100px"}
          %p= printer.mode
        %td
          %p= printer.template_name
        %td.activity
          = link_to '', template_path(printer.id), :class => 'download', :title => t('download')
          = link_to '', edit_printer_path(printer.id), :class => 'edit_row', :title => t('edit')
          = link_to '', printer_path(printer.id), :class => 'delete', :title => t('delete'), :remote => true, :method => :delete, :confirm => I18n.t('printers.messages.confirm')

  = render :partial => 'shared/pagination', :locals => { :collection => @printers }