.current_container
  %table.reservations.tour_operators
    %tr
      %th= sort_link(:name, t('.name'), :default)
      %th= sort_link(:country_name, t('.country'))
      %th.actions
        %span= t('actions')

    - for city in @cities
      %tr{ :class => cycle('odd', 'even'), id: "city_#{city.id}" }
        %td
          %p= city.name
        %td{:style => "width:250px"}
          %p= city.country_name
        %td
          = link_to '', edit_city_path(city), :class => 'edit_row', :title => t('edit'), id: "edit_city_#{city.id}"
          = link_to '', city, :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', :title => t('delete'), id: "delete__#{city.id}"

  = render :partial => 'shared/pagination', :locals => { :collection => @cities }