- title t('.cities')

%table
  %tr
    %th= t('.name')
    %th= t('.country')
  - for city in @cities
    %tr
      %td= city.name
      %td= city.country.try(:name)
      %td= link_to t('show'), city
      %td= link_to t('edit'), edit_city_path(city)
      %td= link_to t('destroy'), city, :confirm => t('are_you_sure'), :method => :delete

%p= link_to t('.new_city'), new_city_path
