- tpd = tariff_plans_data
var tariffs = [], temp, now_tariff;
- tpd.each do |tariff|
  temp = [ parseInt("#{tariff[0]}"), "#{tariff[1]}", parseInt("#{tariff[2]}") ];
  tariffs.push(temp);
now_tariff = "#{current_company.tariff_id}"
t_new_tariff = "#{I18n.t('activerecord.attributes.user_payment.new_tariff')}"
t_old_tariff = "#{I18n.t('activerecord.attributes.user_payment.old_tariff')}"