- content_for(:body_class) { 'panel edit_operator' }

- title t('.new')

= form_for @tariff_plan do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.index_tariff_plan'), tariff_plans_path, :class => 'list_operator'