.current_container
  = form_tag batch_add_to_group_sms_groups_path, :method => :put do
    %table#sms_sendings.tourists.reservations.tour_operators
      %tr
        %th
          &nbsp;
        %th.phone_number
          = sort_link(:phone_number, t('.phone_number'), :default)
        %th.full_name
          = sort_link(:full_name, Tourist.human_attribute_name(t('.full_name')))
        %th.date_of_birth
          = sort_link(:date_of_birth, t('.date_of_birth'))
        %th.actions
          = t('.actions')

      - for client in @clients
        %tr{ :class => cycle('odd', 'even'), id: "tourist-#{client.id}"}
          %td
            = check_box_tag "client_ids[]", client.id, nil, id: "client_ids_#{client.id}"
            = label_tag "client_ids[#{client.id}]", '', :class => 'checkbox total'
          %td
            = client.phone_number
          %td
            = client.name
          %td
            = client.date_of_birth
          %td{:style => "white-space: nowrap", width: '100'}
            = link_to '', edit_tourist_path(client), :class => 'edit_row', :title => t('edit'), id: "edit_tourist_#{client.id}"
            / # = link_to '', sms_touristgroup_path(client), :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', id: "delete_tourist_#{client.id}", :title => t('delete')
    .bath_actions
      = select_tag 'selected_group_name', options_from_collection_for_select(@sms_groups, "id", "name")
      or
      = text_field_tag 'new_group_name', nil, placeholder: 'Enter group name...'
      = submit_tag t('.add'), :id => "submit", :name => "submit", class: 'button mini'
      %br
      %br
    
  - unless @clients.nil?
    = render partial: 'shared/pagination', locals: { collection: @clients }