%h1
  Группы
%ul.sidebar_menu
  %li
    = link_to 'Клиенты', sms_groups_path
  %li
    = link_to 'Дни рождения сегодня', sms_groups_birthday_path
  - for sms_group in @sms_groups
    %li
      = link_to sms_group.name, sms_group_path(sms_group.id)
%hr

= form_for @sms_group_new do |f|
  %fieldset
    = t('.add_group')
  = f.text_field :name
  = f.submit t('.add'), :disable_with => 'Submiting...'
