- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.catalog_item_fields', :catalog => @catalog.name)

%table.reservations.tour_operators{ :style => 'width: 500px;' }
  %tr
    %th
      %span= t('.columns')
    %th{ :style => 'width: 70px;' }
      %span= t('actions')
  - for item_field in @catalog.item_fields
    %tr{ :class => cycle('odd', 'even') }
      %td
        = item_field.name
      %td
        = link_to '', edit_catalog_item_field_path(item_field.catalog_id, item_field), :class => 'edit_row', :title => t('edit')
        = link_to '', catalog_item_field_path(item_field.catalog_id, item_field), :confirm => t('are_you_sure'), :method => :delete, :class => 'delete', :title => t('delete')

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.add_column'), new_catalog_item_field_path(@catalog), :class => 'add_operator'