- content_for(:body_class) { 'panel edit_operator' }

- title t('.new_item')

= form_for [@catalog, @item_field] do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }
  = link_to t('.list_of_item_field'), catalog_path(@item_field.catalog_id), :class => 'list_operator'