= form_for @sms_sending do |f|
  - @form_id = f.options[:html][:id]
  .form_column
    .form_block
      .block_title
        %h2= t('.title_1')
      .form_block_content
        .fake_row
          = f.label :sms_group_id
          = f.select :sms_group_id, @sms_groups.map {|o| [ o.name, o.id ] }
        .fake_row
          = f.label :content
          = f.text_area :content
          .text_orange
            Внимание! Максимальное число сообщений — 4
          %p
            Подставьте данные из контакта:
            %ul.list_params
              %li
          %p
            Подпись отправителя:
            %strong BABABA
            %br
            %small
              %i Подпись настраивается в настройках

  .form_column
    .form_block
      .block_title
        %h2= t('.title_2')
      .form_block_content
        .fake_row
          = f.radio_button :sending_priority, :on
          = f.label t('.send_leter')
          %br
          = f.radio_button :sending_priority, :off, checked: :checked
          = f.label t('.send_now')
        .fake_row
          = f.label t('.date')
          = text_field_tag :sending_at_date, nil, class: 'datepicker date_of_birth date'

          = f.label t('.time')
          = select_tag :sending_at_time_hour, options_for_select(13.times.map{|a| a + 9})
          = select_tag :sending_at_time_minute, options_for_select(12.times.map{|a| ((b = (a * 5)) <= 9) ? "0#{b}" : b})
