= form_for @sms_sending do |f|
  - @form_id = f.options[:html][:id]
  .form_column
    .form_block
      .block_title
        %h2= t('.title_1')
      .form_block_content
        .fake_row
          = f.label :sms_group_id
          = f.select :sms_group_id, @sms_groups.map {|o| [ o.name, o.id ] }
        .fake_row
          = f.label :content
          = f.text_area :content
          #sms_sending_content_text
          .text_orange
            Внимание! Максимальное число сообщений — 4
          %p
            Подставьте данные из контакта:
            %ul.list_params
              %li
          %p
            Подпись отправителя:
            %strong BABABA
            %br
            %small
              %i Подпись настраивается в настройках

  .form_column
    .form_block
      .block_title
        %h2= t('.title_2')
      .form_block_content
        .fake_row
          = f.check_box :sending_priority, id: 'sms_sending_sending_priority'
          = f.label :sending_priority, t('.send_leter'), :class => 'checkbox left_checkbox', id: 'sms_sending_sending_priority'
          %br
          %br
          .one_row
            = f.label t('.date')
            = text_field_tag :sending_at_date, (@sms_sending.sending_at.strftime("%d.%m.%Y") unless @sms_sending.sending_at.nil? ), class: 'datepicker sending_at_date date', placeholder: 'Select date'

            = f.label t('.time')
            = select_tag :sending_at_time_hour, options_for_select(13.times.map{|a| a + 9}, (@sms_sending.sending_at.strftime("%H") unless @sms_sending.sending_at.nil?))
            = select_tag :sending_at_time_minute, options_for_select(12.times.map{|a| ((b = (a * 5)) <= 9) ? "0#{b}" : b}, (@sms_sending.sending_at.strftime("%M") unless @sms_sending.sending_at.nil?))
