.current_container
  %table#sms_sendings.tourists.reservations.tour_operators
    %tr
      %th.send_an
        = sort_link( :sending_at, t('.sending_at'), :default)
      %th.signature
        = sort_link( :signature, t('.signature') )
      %th.sms_group_id
        = sort_link( :sms_group, t('.sms_group') )
      %th.content
        = sort_link( :content, t('.content') )
      %th.count
        = sort_link( :count, t('.count') )
      %th.status
        = sort_link( :status, t('.status') )

    - for sms_sendings in @sms_sendings
      %tr{ :class => cycle('odd', 'even'), id: "tourist-#{sms_sendings.id}"}
        %td
          %p= sms_sendings.sending_at
        %td
          %p= sms_sendings.signature
        %td
          %p= sms_sendings.sms_group_id
        %td
          %p= sms_sendings.content
        %td
          %p= sms_sendings.count
        %td
          %p= sms_sendings.status

  - unless @sms_sendings.nil?
    = render partial: 'shared/pagination', locals: { collection: @sms_sendings }