
- title t('.sms_sendings')

- content_for :navigation do
  %ul
    %li= link_to t('.sms_sendings'), '#'
    %li= link_to t('.contacts_and_groups'), '#'
    %li= link_to t('.invoices'), '#'
    %li= link_to t('.add_balance'), '#'
    %li= link_to t('.statistics'), '#'
    %li= link_to t('.settings'), '#'
    