- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.new_sms_sendings')

= render 'navigation'

%br
= form_for @sms_sending do |f|
  .form_column
    .form_block
      .block_title
        %h2= t('.title_1')
      .form_block_content
        .fake_row
          = f.label :sms_group_id
          = f.select :sms_group_id, @sms_groups.map {|o| [ o.name, o.id ] }
        .fake_row
          = f.label :content
          = f.text_area :content
          .text_orange
            Внимание! Максимальное число сообщений — 4
          %p
            Подставьте данный из контакта:
            %ul.list_params
              %li
          %p
            Подпись отправителя:
            %strong BABABA
            %br
            %small Подпись настраивается в настройках
          
          
  .form_column
    .form_block
      .block_title
        %h2= t('.title_2')
      .form_block_content
        .fake_row
          = f.radio_button :sending_priority, :on
          = f.label t('.send_leter')
          %br
          = f.radio_button :sending_priority, :off, checked: :checked
          = f.label t('.send_now')
        .fake_row
          = f.label t('.date')
          = f.text_field :sending_at, :class => 'datepicker date_of_birth date'
          
          = f.label t('.time')
          = f.select :sending_at, 13.times.map{|a| a + 9}
          = f.select :sending_at, 12.times.map{|a| ((b = (a * 5)) <= 9) ? "0#{b}" : b}
