!!!
%html
  %head
    %title
      = yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'jquery-ui'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.ui.datepicker'
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      #documents_to_print_menu
        %ul
          %li= link_to 'Брони', claims_path, :class => ((params[:controller] == 'claims' and params[:action] == 'index') ? 'selected' : ' ')
          %li= link_to 'Новая заявка', new_claim_path, :class => ((params[:controller] == 'claims' and params[:action] == 'new') ? 'selected' : ' ')
          %li{ :class => "#{ (@claim and !@claim.new_record?) ? 'enabled' : 'disabled' }" }
            = (@claim and !@claim.new_record?) ? (link_to 'Договор', claim_path(@claim.id, :print => 'contract')) : 'Договор'
          %li= link_to 'Путевка', '#'
          %li{ :class => "#{ (@claim and !@claim.new_record?) ? 'enabled' : 'disabled' }" }
            = (@claim and !@claim.new_record?) ? (link_to 'Памятка', claim_path(@claim.id, :print => 'memo')) : 'Памятка'
          %li= link_to 'Приходник', '#'
          %li= link_to 'Справка', '#'
          %li

          - if can? :switch_view, current_user
            %li= link_for_view_switcher
          %li= render 'devise/menu/registration_items'
          %li= render 'devise/menu/login_items'
      %div.clear

      #databases_menu
        %ul
          %li Базы
          %li= link_to 'Управление', dashboard_path, :class => (controller.controller_name == 'dashboard' ? 'selected' : ' ')
          %li= link_to 'Реквизиты фирмы', addresses_path, :class => (controller.controller_name == 'addresses' ? 'selected' : ' ')
          %li= link_to 'Туристы', tourists_path, :class => (controller.controller_name == 'tourists' ? 'selected' : ' ')
          %li= link_to 'Туроператоры', operators_path, :class => (params[:controller] == 'operators' ? 'selected' : ' ')
          %li= link_to 'Потенц. клиенты', clients_path, :class => (controller.controller_name == 'clients' ? 'selected' : ' ')
          %li= link_to 'Симки', '#'
          %li= link_to 'Агентства', '#'

      %div.clear

      %ul.hmenu


      %div.clear

      - if show_title?
        %h1= yield(:title)

      = yield
