!!!
%html{ :manifest => params[:offline] && '/tourism.manifest', :class => "#{yield(:html_class)} #{('start_trip' if current_user.start_trip)}", data: html_data }
  %head
    %title
      = yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    - if javascript_local_data
      = javascript_tag(javascript_local_data)
    = stylesheet_link_tag 'application'
    -# Temporary solution
    - is_claim_form = params[:controller] == 'claims' && %w[new create show edit update].include?(params[:action])
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'application'
    / [if lt IE 9]
      = javascript_include_tag 'css3-mediaqueries'
    - if params[:controller] =~ %r[^boss/]
      = stylesheet_link_tag 'boss'
      = javascript_include_tag 'boss'

    = stylesheet_link_tag 'claim-edit'
    - if is_claim_form
      = javascript_include_tag 'claim-edit'

    - if CONFIG[:domain] == 'columbis.ru'
      = render 'layouts/mail_ru'
      - if current_user.try(:login) == 'sergey'
        = render 'layouts/mytips'
      - elsif is_admin? || demo_company?
        = render 'layouts/hintarea'

    = csrf_meta_tag

    = yield(:head)

  %body{ :class => "#{(body_class unless is_claim_form)} #{yield(:body_class)}".strip, data: export_notification_data }
    #container.all.clearfix

      .header

        = render 'layouts/main_menu/menu'

        .clear

        = render 'layouts/main_menu/second_menu'

      .clear

      - if content_for? :navigation
        .navigation
          = yield :navigation
        .clear

      .wrapper
        #content.content
          = render 'shared/messages'
          .top
            - if show_title?
              %h1.h1_title= yield :title
            - if content_for? :top
              = yield :top
          .clear

          = yield

    #footer.footer
      - if content_for? :fixed_pagination
        #fixed_pagination.fixed_pagination.clearfix
          = yield :fixed_pagination
      - if content_for? :float_panel
        .float_panel
          .panel_content
            = yield :float_panel

      .footer_content
        %p.copy
          &copy; Columbis.
          = "#{t('.all_rights_reserved')}, #{Date.current.year}"
        %p.right
          %a{href: domain_root_url}= CONFIG[:domain]

