!!!
%html{ :manifest => params[:offline] && '/tourism.manifest' }
  %head
    %title
      = yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    - if javascript_local_data
      = javascript_tag(javascript_local_data)
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'jquery-ui'
    = javascript_include_tag 'application'    
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      #documents_to_print_menu
        %ul.dropdown
          %li= link_to 'Брони', claims_path, :class => ((params[:controller] == 'claims' and params[:action] == 'index') ? 'selected' : ' ')
          %li= link_to 'Новая заявка', new_claim_path, :class => ((params[:controller] == 'claims' and params[:action] == 'new') ? 'selected' : ' ')
          %li.dropdown-li
            %a{:href => '#'} Печать &#9662;
            %ul
              %li{ :class => li_class(@claim, :contract) }
                = (@claim && !@claim.new_record? && @claim.company.try(:contract_printer)) ? (link_to 'Договор', claim_path(@claim.id, :print => 'contract'), :target => '_blank') : 'Договор'
              %li{ :class => li_class(@claim, :permit) }
                = (@claim && !@claim.new_record? && @claim.company.try(:permit_printer)) ? (link_to 'Путевка', claim_path(@claim.id, :print => 'permit'), :target => '_blank') : 'Путевка'
              %li{ :class => li_class(@claim, :warranty) }
                = (@claim && !@claim.new_record? && @claim.company.try(:warranty_printer)) ? (link_to 'Фингарантии',
                  claim_path(@claim.id, :print => 'warranty'), :target => '_blank') : 'Фингарантии'          
              %li{ :class => li_class(@claim, :memo) }
                = (@claim && !@claim.new_record? && @claim.company.try(:memo_printer_for, @claim.country)) ? (link_to 'Памятка', claim_path(@claim.id, :print => 'memo'), :target => '_blank') : 'Памятка'
              %li{ :class => li_class(@claim, :act) }
                = (@claim && !@claim.new_record? && @claim.company.try(:act_printer)) ? (link_to 'Акт',
                  claim_path(@claim.id, :print => 'act'), :target => '_blank') : 'Акт'  
              %li= link_to 'Приходник', '#'
          %li= link_to 'Справка', '#'
          %li          

          - if can? :switch_view, current_user
            %li= link_for_view_switcher
          %li= render 'devise/menu/registration_items'
          %li= render 'devise/menu/login_items'
      %div.clear

      #databases_menu
        %ul
          %li Базы
          %li= link_to 'Управление', dashboard_path, :class => (controller.controller_name == 'dashboard' ? 'selected' : ' ')
          %li= link_to 'Реквизиты фирмы', dashboard_edit_company_path, :class => (controller.controller_name == 'addresses' ? 'selected' : ' ')
          %li= link_to 'Туристы', tourists_path, :class => (controller.controller_name == 'tourists' ? 'selected' : ' ')
          %li= link_to 'Туроператоры', operators_path, :class => (params[:controller] == 'operators' ? 'selected' : ' ')
          %li= link_to 'Потенц. клиенты', clients_path, :class => (controller.controller_name == 'clients' ? 'selected' : ' ')
          %li= link_to 'Симки', '#'
          %li= link_to 'Агентства', '#'

      %div.clear
      %ul.hmenu
      %div.clear

      #content.content
        - if show_title?
          %h1= yield(:title)

        = yield

    #popup
