!!!
%html{ :manifest => params[:offline] && '/tourism.manifest', :class => yield(:html_class) }
  %head
    %title
      = yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    - if javascript_local_data
      = javascript_tag(javascript_local_data)
    = stylesheet_link_tag 'application'
    - if small_width?
      = stylesheet_link_tag 'new_design/css/low'
    - elsif medium_width?
      = stylesheet_link_tag 'new_design/css/middle'
    - elsif large_width?
      = stylesheet_link_tag 'new_design/css/high'
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'application'
    / [if lt IE 9]
      = javascript_include_tag 'css3-mediaqueries'
    - if params[:controller] == 'boss/reports'
      = javascript_include_tag 'highcharts'
    = csrf_meta_tag
    = yield(:head)

  %body{ :class => "#{body_class} #{yield(:body_class)}".strip }
    #container.all

      .header

        %ul#documents_to_print_menu.reservation
          %li{:class => (params[:controller] == 'claims' and params[:action] == 'index') ? 'active' : ' '}
            = link_to 'Брони', claims_path, :id => 'claims_link'
          %li{:class => (params[:controller] == 'claims' and params[:action] == 'new') ? 'active' : ' '}
            = link_to 'Новая заявка', new_claim_path
          %li.dropdown
            %a{:href => '#'} Документы
            %ul
              - { :contract => 'Договор',
              :permit => 'Путевка',
              :warranty => 'Фингарантии',
              :memo => ['Памятка', :memo_printer_for, :country],
              :act => 'Акт' }.each do |mode, value|
                %li{ :class => li_class(@claim, mode) }
                  - unless value.is_a?(Array)
                    - if @claim && !@claim.new_record? && @claim.company.try("#{mode}_printer".to_sym)
                      = link_to(value, claim_path(@claim.id, :print => mode), :target => '_blank')
                    - else
                      %span= value
                  - else
                    - if @claim && !@claim.new_record? && @claim.company.try(value[1], @claim.try(value[2]))
                      = link_to(value[0], claim_path(@claim.id, :print => mode), :target => '_blank')
                    - else
                      %span= value[0]
              %li= link_to 'Приходник', '#'
          %li= link_to 'Справка', '#'
          %li= link_to 'Оставить отзыв', '#', id: 'write_review'
          %li= link_to t('.fullscreen'), '#', :id => 'fullscreen-link', :data => { :flscr => t('.fullscreen'), :'flscr-cancel' => t('.fullscreen_cancel') }
          / %li

          / - if can? :switch_view, current_user
          /   %li= link_for_view_switcher
        - if user_signed_in?
          #review_form_container{ style: 'display: none;' }
            = render 'tasks/review_form'
        %ul.user_panel
          = render 'devise/menu/registration_items'
          = render 'devise/menu/login_items'

        .clear

        %ul#databases_menu.databases
          / %li
          /   %span Базы
          %li.dropdown
            %a{:href => '#'} Управление
            %ul
              %li= link_to t('.company'), dashboard_edit_company_path
              %li= link_to t('.users'), dashboard_users_path
              %li= link_to t('.operators'), operators_path
              %li= link_to t('.dropdown_values'), dashboard_dropdown_values_path
              %li= link_to t('.tourists'), tourists_path
              %li= link_to t('.potentials'), tourists_path(:potential => true)
              %li= link_to t('.addresses'), addresses_path
              %li= link_to t('.catalogs'), catalogs_path
          %li{ :class => request.url == dashboard_edit_company_url && 'active' }
            = link_to t('.company'), dashboard_edit_company_path
          %li{ :class => (params[:controller] == 'tourists' && params[:potential].blank?) && 'active' }
            = link_to t('.tourists'), tourists_path
          - if !small_width?
            %li{ :class => (params[:controller] == 'tourists' && params[:potential].present?) && 'active' }
              = link_to t('.potentials'), tourists_path(:potential => true)
          %li{ :class => params[:controller] == 'operators' && 'active' }
            = link_to t('.operators'), operators_path
          - if user_signed_in? && %w[admin boss].include?(current_user.role)
            %li.dropdown{ :class => params[:controller] == 'reports' && 'active' }
              %a{:href => '#'} Статистика
              %ul
                %li= link_to t('.reports.operators'), boss_reports_path(:operators)
                %li= link_to t('.reports.directions'), boss_reports_path(:directions)
          %li= link_to 'Симки', '#'
          %li= link_to 'Агентства', '#'
          %li= link_to 'Список задач', tasks_path if user_signed_in? && current_user.role == 'admin'

        - if view_switcher?
          .type
            %p Вид:
            %select#view_switcher.view_switcher
              %option{ :value => current_path(:list_type => 'manager_list'), :selected => params[:list_type] == 'manager_list' && 'selected' }
                = t('claims.index.manager_list')
              %option{ :value => current_path(:list_type => 'accountant_list'), :selected => params[:list_type] == 'accountant_list' && 'selected' }
                = t('claims.index.accountant_list')

      .clear

      .wrapper
        #content.content
          = render 'shared/messages'
          .top
            - if show_title?
              %h1= yield :title
              #ajax-indicator
            - if content_for? :top
              = yield :top
          .clear

          = yield

    - if content_for? :float_panel
      .float_panel
        .panel_content
          = yield :float_panel

    .footer
      .footer_content
        %p.copy &copy; Devmen. All rights reserved, 2012
        %p.right tourism.devmen.com

    #popup
