!!!
%html{ :manifest => params[:offline] && '/tourism.manifest', :class => yield(:html_class) }
  %head
    %title
      = yield(:title) || 'Untitled'
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    - if javascript_local_data
      = javascript_tag(javascript_local_data)
    = javascript_include_tag 'application'
    = javascript_include_tag 'claim_printers'
    = stylesheet_link_tag 'claim_printers'
    / [if lt IE 9]
      = javascript_include_tag 'css3-mediaqueries'

    - if CONFIG[:domain] == 'columbis.ru'
      = render 'layouts/google_analytics'
      = render 'layouts/yandex_metrika'

    = csrf_meta_tag
    = raw @html_parts[:head]
    :plain
      <style media='print' type='text/css'>
        .edit_menu {display: none;}
      </style>

  %body{ :data => { :update_path => update_claim_printers_path, :delete_message => I18n.t('claim_printers.edit.delete_message'), :delete_path => delete_claim_printers_path } }
    .edit_menu
      %div
        %div#base_acts
          = link_to I18n.t('claim_printers.edit.edit_doc'), '#', :id => 'create_editor'
          = link_to I18n.t('claim_printers.edit.print_doc'), print_claim_printers_path, :onclick => 'window.print(); return false;'
          = link_to I18n.t('destroy'), '#', :id => 'delete_doc', :class => !@file_exist ? 'hidden' : ''
        %div#edit_acts
          = link_to I18n.t('save'), '#', :id => 'save_editor', :class => 'uset_filters'
          = link_to I18n.t('cancel'), '#', :id => 'close_editor', :class => 'uset_filters'
    .empty_fields
      != "#{@empty_fields}"
    #edit_content
      = raw @html_parts[:body]
